{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - Summons Management - Bulk Undeliverable{% endblock %}
{% block page_identifier %}Summons Management - Bulk Undeliverable{% endblock %}

{% set currentApp = "Summons replies" %}

{% block beforeContent %}

  {% if bannerMessage %}
    <div class="govuk-!-margin-top-5">
      {{ mojAlert({
        variant: "success",
        text: bannerMessage,
        iconFallbackText: "Success"
      }) }}
    </div>
  {% endif %}

{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-xl">Bulk mark as undeliverable</h1>

      <form id="undeliverableJurorNumberForm">

          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="undeliverableJurorNumber">
              Enter a juror number to mark as undeliverable
            </label>
          </h2>

          <p id="undeliverableJurorNumberError" class="govuk-error-message js-hidden">
            <span class="govuk-visually-hidden">Error:</span>
            <span id="undeliverableJurorNumberErrorMessage"></span>
          </p>

          <div class="mod-flex mod-gap-x-2">
            <input class="govuk-input govuk-!-width-one-half" id="undeliverableJurorNumber" name="undeliverableJurorNumber" type="number" maxlength="9" minlength="9">

            {{ govukButton({
              text: "Confirm",
              classes: "govuk-!-margin-bottom-1",
              type: "submit",
              attributes: {
                id: "confirmJurorUndeliverable"
              }
            }) }}
          </div>

      </form>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="POST" action="{{ url('summons-management.bulk-undeliverable.post') }}" id="jurorsToMarkUndeliverableForm">

        <span id="totalJurorsCaption" class="govuk-label govuk-label--s">
          0 jurors to be marked as undeliverable
        </span>

        <div id="tableWrapper" class="js-hidden">
          <table class="govuk-table" data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-visually-hidden">
              Table of jurors to be marked as undeliverable
            </caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Juror number</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">First name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Last name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Address</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Postcode</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Court</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>

            <tbody class="govuk-table__body" id="tableBody"></tbody>

          </table>

          {{ csrfProtection(csrftoken) }}

          {{ govukButton({
            text: "Mark as undeliverable",
            classes: "govuk-!-margin-bottom-1",
            type: "submit"
          }) }}
        </div>

      </form>
    
    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script type="application/javascript" src="{{ assetPath }}js/bulk-undeliverable.js"></script>
{% endblock %}