<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Notifications</h2>
    {% if notifications | length %}
      {% for notificationHTML in notifications %}
        {{ mojBanner({
          type: "information",
          classes: 'mod-dashboard__notification',
          html: notificationHTML
        }) }}
      {% endfor %}
    {% else %}
      <p class="govuk-body">You have no notifications.</p>
    {% endif %}
  </div>
</div>