{% from "custom-components/sortable-table/macro.njk" import modSortableTable %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ modSortableTable({
      id: "documentsList",
      caption: "Documents list",
      captionClasses: "govuk-visually-hidden",
      head: headings,
      rows: rows,
      url: ("?" + queryString) if queryString else ""
    }) }}

  </div>
</div>
