{% extends "layouts/default.njk" %}

{% set currentApp = "Messaging" %}

{% block page_title %}{{ serviceName }} - Messaging{% endblock %}
{% block page_identifier %}messaging{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Export contact details</h1>
    </div>
  </div>
{% endblock %}