{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}
{% from "custom-components/time-input-12-hour/macro.njk" import timeInput12Hour %}

{% set currentApp = "Messaging" %}

{% block page_title %}{{ serviceName }} - Messaging - {{ messageTitle }}{% endblock %}
{% block page_identifier %}Messaging{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.njk" %}
{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ messageTitle | capitalize }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Select jurors to send message to</h1>
      
      {% if sendType === "EMAIL" %}
        <p class="govuk-body govuk-!-margin-bottom-6">This can only be sent by email.</p>
      {% elif sendType === "SMS"%}
        <p class="govuk-body govuk-!-margin-bottom-6">This can only be sent by text message.</p>
      {% else %}
        <p class="govuk-body govuk-!-margin-bottom-6">You should send this message by email if we have an email address for the juror.</p>
      {% endif %}

      {% include "./_partials/juror-select-search.njk" %}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-6">

      {% include "./_partials/juror-list-results.njk" %}

    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "includes/datepicker.njk" %}
  <script src="{{ assetPath }}js/messaging-juror-select.js"></script>
{% endblock %}