{% extends "../layouts/default.njk" %}

{% block page_title %}400 Bad Request{% endblock %}

{% set homeLink = "/administration" if isSystemAdministrator else "/" %}

{% block content %}
<div class="container-small">
  <h1 class="heading-xlarge">400 Bad Request</h1>
  <p>The request could not be processed because the submitted data contained invalid content</p>
  <p>You can <a href="{{ homeLink }}">return to the homepage</a>.</p>
</div>
{% endblock %}
