{% extends "../layouts/default.njk" %}

{% block page_title %}
  403 Forbidden
{% endblock %}

{% block content %}
<div class="container-small">
  <h1 class="heading-xlarge">Forbidden</h1>
  <p>You do not have permission to access this content</p>
  <p>You can <a href="/">return to the homepage</a>.</p>
</div>
{% endblock %}
