{% extends "../layouts/default.njk" %}

{% block page_title %}
  Data mismatch detected
{% endblock %}

{% set homeLink = url('administration.get') if isSystemAdministrator else url('homepage.get') %}

{% block content %}

  <h2 class="govuk-heading-l">Sorry, there is a technical problem</h2>
  <p class="govuk-body">
    We have blocked the action you were trying to do because we have detected a data-mismatch.<br>
    To prevent this you should:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>avoid using multiple tabs or windows of the same browser</li>
    <li>confirm the data before submitting an action</li>
  </ul>

  <p class="govuk-body">
    You can <a class="govuk-link" href="{{ homeLink }}">go back home</a> and try again later.
  </p>

{% endblock %}
