{% extends "../layouts/default.njk" %}

{% block page_title %}
  Something went wrong
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-l">Sorry, there is a technical problem</h2>
  <p class="govuk-body">
    You can <a class="govuk-link" href="{{ url('homepage.get') }}">go back home</a> and try again later.
  </p>

{% endblock %}
