<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authentication Failed | GovUK</title>
</head>
<body>

  <h1 cass="heading-xlarge">Authentication Failed</h1>

  <p>
    Username or password not set.
    <a href="https://github.com/alphagov/govuk_prototype_kit/blob/master/docs/guides/publishing-on-heroku.md#5-set-a-username-and-password">
      See guidance for setting these
    </a>.
  </p>

</body>
</html>
