// scss-lint:disable ImportantRule
main {
  margin: 0 auto !important;

  @media (max-width: 1019px) {
    margin: 0 30px !important;
  }

  @media (max-width: 640px) {
    margin: 0 15px !important;
  }
}

.container-small {
  margin: 0 auto;
  max-width: 480px;
}

.faded-bg {
  background: rgba(11,12,12,0.25);
  display: none;
  height: 100%;
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
