// Utilities

// Hide visually but not from screen readers
// Allow important defs in utility class
// scss-lint:disable ImportantRule
.u-hide {
  left: -9999em !important;
  position: absolute !important;
}

.u-spacer-right {
  margin-right: 1rem;
}

.u-spacer {
  margin-bottom: 1rem;
}

.u-noscroll {
  overflow: hidden;
}

.u-hide--small {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.inactive {
  color: $grey-1;
}

.hidden-no-js {
  display: none;
}

.show-no-js {
  display: block;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

.inline {
  display: inline-block;
}

.clear {
  clear: both;
}

.error-message {
  color: $error-colour;
  font-weight: bold;
}

.no-padding {
  padding: 0;
}
