{% extends "layouts/default-dashboard.njk" %}

{% set currentApp = "Trial management" %}

{% block page_title %}{{ serviceName }} - Reinstate jury - cannot reinstate{% endblock %}
{% block page_identifier %}Reinstate jury - cannot reinstate{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You cannot reinstate all selected jurors
      </h1>
      <p class="govuk-body">
        The jury cannot exceed a maximum of 12 jurors.
      </p>
      <p class="govuk-body">
        Either reduce your selection or return any existing jurors that are currently on the jury.
      </p>
      <div class="govuk-button-group">  
        <a id="cancelLink" class="govuk-link" href="{{ cancelUrl }}">Go back</a>
      </div>
    </div>
  </div>

{% endblock %}