{% extends "../layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{% block page_title %}
  {{ serviceName }} - Search
{% endblock %}

{% block page_identifier %}search{% endblock %}

{% set currentApp = "Summons replies" %}

{% block content %}

{% include "includes/errors.njk" %}

  {# no search parameters error - link to jurorNumber field #}
  {% set parametersError = undefined %}
  {% if errors.items["searchParameters"] %}
    {% set parametersError = errors.items['searchParameters'][0]['details'] %}
  {% endif %}


  {# setup Filter component #}
  {% set filtersHTML %}
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        {# Setup officer assigned list #}
        {% set sendToList = [{value: "", text: "All officers", selected: true}] %}
        {% if authentication.staff.rank > 0 %}
          {% set sendToList = (sendToList.push({value: "AUTO", text: "AUTO", selected: false }), sendToList) %}
        {% endif %}
        {% for staffMember in staffList %}
          {% if searchParams.staffAssigned === staffMember.login %}
            {% set staffSelected = true %}
          {% else %}
            {% set staffSelected = false %}
          {% endif %}
          {% set sendToList = (sendToList.push({value: staffMember.login, text: staffMember.name, selected: staffSelected }), sendToList) %}
        {% endfor %}

        <div class="officerAssignedSelect">
          {{ govukSelect({
            id: "staffAssigned",
            name: "staffAssigned",
            label: {
              text: "Officer assigned",
              classes: "govuk-body govuk-!-font-weight-bold"
            },
            items: sendToList
          }) }}
        </div>

        {# alerts / status filters #}
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Alerts</div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="urgentsOnly" name="urgentsOnly" type="checkbox" value="urgentsOnly" {% if searchParams.urgentsOnly == true %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="urgentsOnly">
              Urgent
            </label>
          </div>
          <div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Status</div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="todo" name="status" type="checkbox" value="TODO" {% if searchParams.isTodo === true %} checked {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="todo">
              To do
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awaitingReply" name="status" type="checkbox" value="AWAITING_COURT_REPLY" {% if searchParams.isAwaitingCourtReply === true %} checked {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="awaitingReply">
              Awaiting court reply
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awaitingContact" name="status" type="checkbox" value="AWAITING_CONTACT" {% if searchParams.isAwaitingContact === true %} checked {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="awaitingContact">
              Awaiting juror reply
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awaitingTranslation" name="status" type="checkbox" value="AWAITING_TRANSLATION" {% if searchParams.isAwaitingTranslation === true %} checked {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="awaitingTranslation">
              Awaiting translation
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="closed" name="status" type="checkbox" value="CLOSED" {% if searchParams.isClosed === true %} checked {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="closed">
              Completed
            </label>
          </div>

        </div>

      </fieldset>
    </div>
  {% endset %}

  <div class="search-filters">
    <form action="{{ url('search.post') }}" method="POST" class="disable-empty" id="filterForm">

      <div class="govuk-body {% if parametersError %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Search</h1>
          </legend>

          {% if parametersError %}
          <p id="searchParametersError" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ parametersError }}
          </p>
          {% endif %}

          <div class="govuk-grid-row"> {# row 1 - juror number #}
            <div class="govuk-grid-column-full">
              {{ govukInput({
                label: {
                  text: "Juror number",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-10",
                id: "jurorNumber",
                name: "jurorNumber",
                value: searchParams.jurorNumber,
                attributes: {
                  maxlength: "9"
                }
              }) }}
            </div>
          </div> {# end row 1 #}

          <div class="govuk-grid-row"> {# row 2 - last name #}
            <div class="govuk-grid-column-full">
              {{ govukInput({
                label: {
                  text: "Juror's last name",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "lastName",
                name: "lastName",
                value: searchParams.lastName,
                attributes: {
                  maxlength: "20"
                }
              }) }}
            </div>
          </div> {# end row 2 #}

          <div class="govuk-grid-row"> {# row 3 - pool no #}
            <div class="govuk-grid-column-full">
              {{ govukInput({
                label: {
                  text: "Juror's pool number",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-10",
                id: "poolNumber",
                name: "poolNumber",
                value: searchParams.poolNumber,
                attributes: {
                  maxlength: "10"
                }
              }) }}
            </div>


            {# postcode - HIDDEN #}
            {% set postcodeValue = undefined %}
            {% if searchParams.postcode %}
              {% set postcodeValue = searchParams.postcode %}
            {% else %}
              {% set postcodeValue = searchParams.postCode %}
            {% endif %}
            <div class="govuk-grid-column-one-third u-hide">
              {{ govukInput({
                label: {
                  text: "Juror's postcode",
                  classes: "govuk-label--s ",
                  isPageHeading: false
                },
                id: "postcode",
                name: "postcode",
                value: postcodeValue
              }) }}
            </div>

            {# court code  - HIDDEN #}
            <div class="govuk-grid-column-one-third u-hide">
              {{ govukInput({
                label: {
                  text: "Court code",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                id: "courtCode",
                name: "courtCode",
                value: searchParams.courtCode
              }) }}
            </div>

          </div> {# end row 3 #}

          {% if authentication.staff.rank > 0 %}
        
            {# filters #}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                {{ govukDetails({
                  summaryText: "Advanced search",
                  html: filtersHTML
                }) }}
              </div>
            </div>
          {% endif %}

        </fieldset>
      </div>

      {# search / reset buttons #}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-button-group">
            
            {# Search button #}
            <button id="searchBtn" type="submit" value="Search" class="govuk-button" data-module="govuk-button">
              Search
            </button>

            {# Clear search button #}
            <a id="clearBtn" type="reset" href="/search/clear" class="govuk-link" data-module="govuk-button">
              Clear search
            </a>
          </div>
        </div>
      </div>
        
      <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
      <input type="hidden" name="sortBy" id="sortBy" value="dateReceived">
      <input type="hidden" name="sortOrder" id="sortOrder" value="DESC">
      {% if errors.items['selectedResponses']%}
        <input type="hidden" name="selectionError" id="selectionError" value="Y">
      {% else %}
        <input type="hidden" name="selectionError" id="selectionError" value="N">
      {% endif %}

    </form>
  </div>

  <hr />

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full search-content govuk-body">

      {#
      <h2 id="searchProcessingMsg" class="govuk-heading-m u-hide">
        Loading search results...
      </h2>
      #}

      <h2 id="searchSummaryMsg" class="govuk-heading-m {% if not results %} u-hide{% endif %}">
        <span id="resultCount">{{ results.length }}</span> results for <span id="resultsStr">{{ resultsStr | safe }}</span>
      </h2>

      <h2 id="maxExceeded" class="govuk-heading-m  additional-info-text {% if not results %} u-hide{% elif meta.total <= meta.max %} u-hide{% endif %} search-loaded">
        The specified search resulted in more than <span class="maxRecordsMsg">{{ meta.max }}</span> results. This list only shows the oldest <span class="maxRecordsMsg">{{ meta.max }}</span>.
      </h2>

      <h2 id="noResultsMsg" class="govuk-heading-m {% if not results %} u-hide{% elif results.length > 0 %} u-hide{% endif %}">
        No responses were found that match your search criteria.
      </h2>

      <form class="govuk-form-group {% if errors.items['selectedResponses']%}govuk-form-group--error{% endif %}" action="{{ url('response.assign.multi.selected.post') }}" method="POST" id="selectedSendToForm">

        {% if errors.items['selectedResponses']%}
          <p id="send-to-selection-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>{{errors.items['selectedResponses'][0].details}}
          </p>
        {% endif %}

        {% if authentication.staff.rank > 0 %}
          <div class="response-assignment {% if not results %} u-hide{% elif results.length == 0 %} u-hide{%endif %}">
            {# Select all #}
            <button id="selectAllLink" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
                Select all
            </button>
            {# Unselect all #}
            <button id="deselectAllLink" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
                Unselect all
            </button>
            {# Send to...#}
            <button id="sendToButtonMulti" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
                Send to...
            </button>
          </div>
        {% endif %}

        {% if results.length > 0 %}
          <table id="searchResultTable" class="govuk-table" data-module="moj-sortable-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Juror number</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Juror name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Pool number</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Officer assigned</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Reply status</th>
                <th scope="col" class="govuk-table__header" aria-sort="descending">Date received</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Alerts</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              {% for item in results %}
                {# <tr data-toggle-active id="id_{{ item.jurorNumber }}" class="govuk-table__row search-results-row todo{% if item.isUrgent %} urgent{% endif %}{% if item.isClosed %} closed{% endif %} search-loaded" data-target="/response/{{ item.jurorNumber }}"> #}
                <tr class="govuk-table__row search-results-row">

                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{item.jurorNumber}}">
                    <div>
                      {% if authentication.staff.rank > 0 and item.isClosed == false %}
                        <div class="govuk-checkboxes__item govuk-checkboxes--small jd-block-align">
                          <input class="govuk-checkboxes__input multi-select" type="checkbox" data-behaviour="exclusive" name="selectedResponses" id="selectedResponse_{{item.jurorNumber}}" data-value="{{ item.jurorNumber }}" value="{{ item.jurorNumber }}">
                          <label class="govuk-label govuk-checkboxes__label " for="selectedResponse_{{item.jurorNumber}}"></label>
                        </div>
                      {% endif %}
                      <a class="govuk-link jd-block-align" href="/response/{{item.jurorNumber}}"><span class="govuk-visually-hidden">view response </span>{{-item.jurorNumber-}}</a>
                    </div>
                  </td>

                  <td class="govuk-table__cell jd-middle-align juror-name-col">{{ item.name }}</td>
                  <td class="govuk-table__cell jd-middle-align juror-pool-col" data-sort-value="{{ item.poolNumber }}">{{ item.poolNumber }}</td>
                  <td class="govuk-table__cell jd-middle-align juror-officer-col">{{ item.staff.name }}</td>
                  
                  {% set statusDesc %}
                    {{ item.status | capitalise }}
                  {% endset %}
                  {% if (statusDesc === 'AWAITING JUROR') %}
                    {% set statusDesc = 'AWAITING JUROR REPLY' %}
                  {% endif %}
                  <td class="govuk-table__cell jd-middle-align juror-status-col">
                    <span class="govuk-tag govuk-tag--blue">{{ statusDesc }}</span>
                  </td>

                  <td class="govuk-table__cell jd-middle-align date-col {% if item.slaOverdue %}jd-response-overdue{% endif %}" data-sort-value="{{item.dateReceived | dateFilter('DD/MM/YYYY', 'YYYYMMDD')}}">{{item.dateReceived | dateFilter("DD/MM/YYYY", "D MMM YYYY")}}</td>

                  {% if item.superUrgent %}
                    {% set alertSortVal = 2 %}
                  {% elif item.urgent %}
                    {% set alertSortVal = 1 %}
                  {% else %}
                    {% set alertSortVal = 0 %}
                  {% endif %}

                  <td class="govuk-table__cell jd-middle-align urgent-col" data-sort-value="{{alertSortVal}}">
                    {% if item.superUrgent %}
                    <span class="moj-badge moj-badge--red">Send to court</span>
                    {% elif item.urgent %}
                    <span class="moj-badge moj-badge--red">Urgent</span>
                    {% else %}
                    <span></span>
                    {% endif %}
                  </td>
                              
                </tr>
              {% endfor %}

            </tbody>
          </table>
        {% endif %}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">

      </form>

    </div>

  </div>


{#
<div id="modal" class="govuk-body modal">
  {% include "../includes/send-to.njk" %}
</div>
#}

{% endblock %}

{#
{% block body_end %}
  {{ super() }}

  <script src="{{ assetPath }}js/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#staffAssigned'),
        showAllValues: true,
        defaultValue: 'All officers',
        dropdownArrow: () => ''
      })
    });
  </script>
  
{% endblock %}
#}
