{% extends "../layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "custom-components/autocomplete/macro.njk" import "modAutocomplete" %}

{% block page_title %}{{ serviceName }} - Search{% endblock %}
{% block page_identifier %}Search{% endblock %}

{% set currentApp = "Summons replies" %}

{% block content %}

{% include "includes/errors.njk" %}

  {# no search parameters error - link to jurorNumber field #}
  {% set parametersError = undefined %}
  {% if errors.items["searchParameters"] %}
    {% set parametersError = errors.items["searchParameters"][0].details %}
  {% endif %}

  {% set jurorNumberError = undefined %}
  {% if errors.items["jurorNumber"] %}
    {% set jurorNumberError = { text: errors.items["jurorNumber"][0].details } %}
  {% endif %}

  {% set poolNumberError = undefined %}
  {% if errors.items["poolNumber"] %}
    {% set poolNumberError = { text: errors.items["poolNumber"][0].details } %}
  {% endif %}

  {# setup Filter component #}
  {% set filtersHTML %}
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <div class="officerAssignedSelect">
          {{ modAutocomplete({
            label: {
              text: "Select an officer assigned",
              class: "govuk-body govuk-!-font-weight-bold"
            },
            value: "",
            name: "officer_assigned",
            id: "officerAssigned",
            data: staffList,
            value: searchParams.officerAssigned,
            nonce: nonce
          }) }}
        </div>

        {# alerts / status filters #}
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Alerts</div>
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="isUrgent"
              name="is_urgent"
              type="checkbox"
              value="true"
              {% if searchParams.isUrgent %}checked{% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="isUrgent">
              Urgent
            </label>
          </div>
          <div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Status</div>
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="todo"
              name="processing_status"
              type="checkbox"
              value="TODO"
              {% if searchParams.isTodo === true %} checked {% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="todo">
              To do
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="awaitingReply"
              name="processing_status"
              type="checkbox"
              value="AWAITING_COURT_REPLY"
              {% if searchParams.isAwaitingCourtReply === true %} checked {% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="awaitingReply">
              Awaiting court reply
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="awaitingContact"
              name="processing_status"
              type="checkbox"
              value="AWAITING_CONTACT"
              {% if searchParams.isAwaitingContact === true %} checked {% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="awaitingContact">
              Awaiting juror reply
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="awaitingTranslation"
              name="processing_status"
              type="checkbox"
              value="AWAITING_TRANSLATION"
              {% if searchParams.isAwaitingTranslation === true %} checked {% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="awaitingTranslation">
              Awaiting translation
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input 
              class="govuk-checkboxes__input" 
              id="closed" 
              name="processing_status" 
              type="checkbox" 
              value="CLOSED" 
              {% if searchParams.isCompleted === true %} checked {% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="closed">
              Completed
            </label>
          </div>

        </div>

      </fieldset>
    </div>
  {% endset %}

  <div class="search-filters">
    <form action="{{ url('search.post') }}" method="POST" class="disable-empty" id="filterForm">

      <div class="govuk-body {% if parametersError %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Search</h1>
          </legend>

          {% if parametersError %}
            <p id="searchParametersError" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ parametersError }}
            </p>
          {% endif %}

          <div class="govuk-grid-row"> {# row 1 - juror number #}
            <div class="govuk-grid-column-full">
              {{ govukInput({
                label: {
                  text: "Juror number",
                  isPageHeading: false
                },
                classes: "govuk-input--width-10",
                id: "jurorNumber",
                name: "juror_number",
                value: searchParams.jurorNumber,
                attributes: {
                  maxlength: "9"
                },
                errorMessage: jurorNumberError
              }) }}
            </div>
          </div> {# end row 1 #}

          <div class="govuk-grid-row"> {# row 2 - last name #}
            <div class="govuk-grid-column-full">
              {{ govukInput({
                label: {
                  text: "Juror's last name",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "lastName",
                name: "last_name",
                value: searchParams.lastName,
                attributes: {
                  maxlength: "20"
                }
              }) }}
            </div>
          </div> {# end row 2 #}

          <div class="govuk-grid-row"> {# row 3 - pool no #}
            <div class="govuk-grid-column-full">
              {{ govukInput({
                label: {
                  text: "Juror's pool number",
                  isPageHeading: false
                },
                classes: "govuk-input--width-10",
                id: "poolNumber",
                name: "pool_number",
                value: searchParams.poolNumber,
                attributes: {
                  maxlength: "10"
                },
                errorMessage: poolNumberError
              }) }}
            </div>

          </div> {# end row 3 #}

          {% if isTeamLeader %}
            {# filters #}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                {{ govukDetails({
                  summaryText: "Advanced search",
                  html: filtersHTML
                }) }}
              </div>
            </div>
          {% endif %}

        </fieldset>
      </div>

      {# search / reset buttons #}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-button-group">
            
            {# Search button #}
            <button id="searchBtn" type="submit" value="Search" class="govuk-button" data-module="govuk-button">
              Search
            </button>

            {# Clear search button #}
            <a id="clearBtn" type="reset" href="/search/clear" class="govuk-link" data-module="govuk-button">
              Clear search
            </a>
          </div>
        </div>
      </div>
        
      <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">

    </form>
  </div>

  <hr />

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full search-content govuk-body">

      {% if responses.jurorResponse %}
        {% if responses.jurorResponse.length === 0 %}

          <div id="noResultsMsg">
            <h2 class="govuk-heading-m">There are no matching results.</h2>

            <p class="govuk_body">Improve your search by:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>double-checking your spelling</li>
              <li>searching by juror number or juror’s last name or juror’s pool number</li>
            </ul>
          </div>

        {% elif responses.limitExceeded %}

          <h2
            id="maxExceeded"
            class="govuk-heading-m additional-info-text search-loaded"
          >
            The specified search resulted in more than <span class="maxRecordsMsg">{{ responses.limit }}</span> results. This list only shows the oldest <span class="maxRecordsMsg">{{ responses.limit }}</span>.
          </h2>

        {% else %}

          <h2
            id="searchSummaryMsg"
            class="govuk-heading-m"
          >
            <span id="resultCount">{{ responses.jurorResponse.length }}</span> results for <span id="resultsStr">{{ resultsStr | safe }}</span>
          </h2>

        {% endif %}
      {% endif %}

      <form
        class="govuk-form-group {% if errors.items['selectedResponses']%}govuk-form-group--error{% endif %}"
        action="{{ url('response.assign.multi.selected.post') }}"
        method="POST"
        id="selectedSendToForm"
      >

        {% if errors.items['selectedResponses']%}
          <p id="send-to-selection-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>{{errors.items['selectedResponses'][0].details}}
          </p>
        {% endif %}

        {% if isTeamLeader %}
          <div class="response-assignment {% if not responses.jurorResponse or responses.jurorResponse.length === 0 %} u-hide{% endif %}">
            {# Select all #}
            <button id="selectAllLink" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
              Select all
            </button>
            {# Unselect all #}
            <button id="deselectAllLink" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
              Unselect all
            </button>
            {# Send to...#}
            <button id="sendToButtonMulti" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
              Send to...
            </button>
          </div>
        {% endif %}

        {% if responses.jurorResponse.length > 0 %}
          <table id="searchResultTable" class="govuk-table" data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Juror response list</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Juror number">Juror number</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Juror name">Juror name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Jurors postcode">Juror's postcode</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Pool number">Pool number</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" aria-label>Court name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Officer assigned">Officer assigned</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Reply status">Reply status</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" aria-label="Date received">Date received</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              {% for item in responses.jurorResponse %}

                <tr class="govuk-table__row search-results-row">

                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{item.jurorNumber}}">
                    <div class="mod-flex mod-items-center">
                      
                      {% if isBureauManager %}
                        <div class="govuk-checkboxes__item govuk-checkboxes--small jd-block-align">
                          <input
                            class="govuk-checkboxes__input multi-select"
                            type="checkbox"
                            data-behaviour="exclusive"
                            name="selectedResponses"
                            id="selectedResponse_{{item.jurorNumber}}"
                            data-value="{{ item.jurorNumber }}"
                            value="{{ item.jurorNumber }}"
                            {% if item.replyStatus === "Completed" %}disabled{% endif %}
                          >
                          <label class="govuk-label govuk-checkboxes__label govuk-!-padding-0" for="selectedResponse_{{item.jurorNumber}}"></label>
                        </div>
                      {% endif %}

                      {% set responseUrl = undefined %}
                      {% if item.replyType === "Paper" %}
                        {% set responseUrl = url("response.paper.details.get", {
                          id: item.jurorNumber,
                          type: "paper"
                        }) %}
                      {% else %}
                        {% set responseUrl = url("response.detail.get", {
                          id: item.jurorNumber
                        }) %}
                      {% endif %}

                      <a class="govuk-link jd-block-align" href="{{ responseUrl }}"><span class="govuk-visually-hidden">view response </span>{{ item.jurorNumber }}</a>
                    </div>
                  </td>

                  <td class="govuk-table__cell jd-middle-align juror-name-col">{{ item.jurorName | capitalizeFully }}</td>
                  <td class="govuk-table__cell jd-middle-align juror-postcode-col">{{ item.postcode }}</td>
                  <td class="govuk-table__cell jd-middle-align juror-pool-col" data-sort-value="{{ item.poolNumber }}">{{ item.poolNumber }}</td>
                  <td class="govuk-table__cell jd-middle-align juror-court-name-col">{{ item.courtName }}</td>
                  <td class="govuk-table__cell jd-middle-align juror-officer-col">{{ item.officerAssigned }}</td>
                  
                  <td class="govuk-table__cell jd-middle-align juror-status-col">
                    <span class="govuk-tag govuk-tag--blue">{{ item.replyStatus }}</span>
                  </td>

                  <td
                    class="govuk-table__cell jd-middle-align date-col {% if item.slaOverdue %}jd-response-overdue{% endif %}"
                    data-sort-value="{{item.dateReceived | dateFilter('yyyy-MM-dd HH:mm:ss', 'YYYYMMDD')}}"
                  > 
                    {{ item.dateReceived | dateFilter("yyyy-MM-dd HH:mm:ss", "D MMM YYYY") }}
                  </td>
                              
                </tr>
              {% endfor %}

            </tbody>
          </table>
        {% endif %}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">

      </form>

    </div>

  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  
  <script src="{{ assetPath }}js/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" nonce="{{ nonce }}">

    $(document).ready(function(){
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#officerAssigned'),
        showAllValues: true,
        dropdownArrow: () => ''
      })
    });

  </script>

{% endblock %}
