<div class="govuk-caption-m">
  <span id="total-checked-jurors">{{ totalCheckedJurors }}</span> of <span id="total-jurors-count">{{ totalJurors }}</span> selected
</div>

{% macro sortUrl(_id, _sortBy, _direction) %}
  {{ "?sortBy=" + _id + "&sortDirection=" + (_direction if _sortBy === _id else "ascending") }}
{% endmacro %}

{% set nextSortDirection = "ascending" if sortDirection === "descending" else "descending" %}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Jurors list</caption>
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header mod-padding-block--0">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="check-all-jurors"
            aria-label="check-all-jurors" {% if totalCheckedJurors === totalJurors %}checked{% endif %}/>
          <label class="govuk-label govuk-checkboxes__label govuk-!-padding-0" for="check-all-jurors">
            <span class="govuk-visually-hidden">Select all jurors</span>
          </label>
        </div>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'jurorNumber' else 'none' }}" aria-label="Juror number">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('jurorNumber', sortBy, nextSortDirection) }}" id="jurorNumber" aria-label="jurorNumber" role="button" data-module="govuk-button">
          Juror Number
        </a>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'firstName' else 'none' }}" aria-label="First name">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('firstName', sortBy, nextSortDirection) }}" id="firstName" aria-label="firstName" role="button" data-module="govuk-button">
          First name
        </a>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'lastName' else 'none' }}" aria-label="Last name">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('lastName', sortBy, nextSortDirection) }}" id="lastName" aria-label="lastName" role="button" data-module="govuk-button">
          Last name
        </a>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'attending' else 'none' }}" aria-label="Attending">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('attending', sortBy, nextSortDirection) }}" id="attending" aria-label="attending" role="button" data-module="govuk-button">
          Attending?
        </a>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'checkedInTime' else 'none' }}" aria-label="Checked in">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('checkedInTime', sortBy, nextSortDirection) }}" id="checkedInTime" aria-label="checkedInTime" role="button" data-module="govuk-button">
          Checked in
        </a>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'nextDueAtCourt' else 'none' }}" aria-label="Next due at court">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('nextDueAtCourt', sortBy, nextSortDirection) }}" id="nextDueAtCourt" aria-label="nextDueAtCourt" role="button" data-module="govuk-button">
          Next due at court
        </a>
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric jd-middle-align mod-padding-block--0 mod-sortable-table-head" aria-sort="{{ sortDirection if sortBy === 'serviceStartDate' else 'none' }}" aria-label="Service start date">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ sortUrl('serviceStartDate', sortBy, nextSortDirection) }}" id="serviceStartDate" aria-label="serviceStartDate" role="button" data-module="govuk-button">
          Service start date
        </a>
      </th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% for juror in jurors %}

      {% set nextDueAtCourt = "-" %}
      {% if juror.nextDueAtCourt %}
        {% if juror.nextDueAtCourt === "On call" %}
          {% set nextDueAtCourt = "On call" %}
        {% else %}
          {% set nextDueAtCourt = juror.nextDueAtCourt | dateFilter("YYYY-MM-DD", "ddd D MMM YYYY") %}
        {% endif %}
      {% endif %}

      <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell mod-padding-block--0">
          <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
            <input type="checkbox" class="govuk-checkboxes__input"
              id="juror-{{ juror.jurorNumber }}" {% if juror.checked %}checked{% endif %}
              aria-label="check-juror-{{ juror.jurorNumber }}" name="checked-jurors"/>
            <label class="govuk-label govuk-checkboxes__label govuk-!-padding-0" for="juror-{{ juror.jurorNumber }}">
              <span class="govuk-visually-hidden">Select juror {{ juror.jurorNumber }}</span>
            </label>
          </div>
        </td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.jurorNumber }}">
          <a href="{{ url('juror-record.overview.get', { jurorNumber: juror.jurorNumber }) }}" class="govuk-link">{{ juror.jurorNumber }}</a>
        </td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.firstName }}">{{ juror.firstName }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.lastName }}">{{ juror.lastName }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.attending }}">{{ juror.attending }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.checkInTime or "-" }}">{{ juror.checkInTime | timeArrayToString if juror.checkInTime else "-" }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ nextDueAtCourt }}">
          {{ nextDueAtCourt }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.serviceStartDate }}">
          {{ juror.serviceStartDate | dateFilter("YYYY-MM-DD", "ddd D MMM YYYY") }}
        </td>
      </tr>

    {% endfor %}
  </tbody>
</table>