 <div class="hods-loading-spinner {{ params.class }}" id="{{ params.id }}">
  <div
    class="hods-loading-spinner__spinner"
    aria-live="polite"
    role="status"
  ></div>
  <div class="hods-loading-spinner__content">
    <h1 class="govuk-heading-m {{ params.label.class }}">
      {{ params.label.text }}
    </h1>
  </div>
</div>
