<header class="homepage-inverse-header">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl homepage-inverse-header__title govuk-!-margin-0">{{ params.headingName or 'HMCTS Juror' }}</h1>
  </div>
</header>