**/node_modules/**/*.js

# temp & other dirs
tmp/**
dist/**
coverage/**
reports/**
.git/**
client/**
test/**
tests/**
server/stores/*

# single files
server/**/pdfExport.js
server/**/*.spec.js
Gruntfile.js
bundle.js
bundle.min.js

# validation files
server/config/validation/*