**/node_modules/**/*.js

# temp & other dirs
tmp/**
dist/**
coverage/**
reports/**
.git/**
client/**
test/**
tests/**
server/stores/*
server/routes/dashboard/**

# single files
server/**/pdfExport.js
server/**/*.spec.js
Gruntfile.js
bundle.js
bundle.min.js

# validation files
server/config/validation/*

# we should ignore DAO files and logger for now since they are getting refactored
server/objects/*
server/components/logger/*