{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block page_title %}You cannot move some of these jurors{% endblock %}

{% block content %}

    {# Setup movement problems table data #}
    {% set problemList = {noActiveRecord: [], ageIneligible: [], invalidStatus: []} %}
    {% for juror in problems.noActiveRecord %}
        {% set problemList = (problemList.noActiveRecord.push(
            [
            {html: '<a href="'+url('juror-record.overview.get', { jurorNumber: juror.jurorNumber })+'" class="govuk-body govuk-link">'+juror.jurorNumber+'</a>'}, 
            {text: juror.firstName}, 
            {text: juror.lastName}
            ]
            ), problemList) %}
    {% endfor %}
    {% for juror in problems.ageIneligible %}
        {% set problemList = (problemList.ageIneligible.push(
            [
            {html: '<a href="'+url('juror-record.overview.get', { jurorNumber: juror.jurorNumber })+'" class="govuk-body govuk-link">'+juror.jurorNumber+'</a>'}, 
            {text: juror.firstName}, 
            {text: juror.lastName}
            ]
            ), problemList) %}
    {% endfor %}
    {% for juror in problems.invalidStatus %}
        {% set problemList = (problemList.invalidStatus.push(
            [
            {html: '<a href="'+url('juror-record.overview.get', { jurorNumber: juror.jurorNumber })+'" class="govuk-body govuk-link">'+juror.jurorNumber+'</a>'}, 
            {text: juror.firstName}, 
            {text: juror.lastName},
            {text: juror.status}
            ]
            ), problemList) %}
    {% endfor %}

    {% include "includes/errors.njk" %}

    <form method="POST" id="deferralForm">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-6">You cannot move some of these jurors</h1>
                <p class="govuk-body govuk-!-margin-bottom-6">There's a problem moving one or more jurors for the following reasons.</p>
            </div>
        </div>

        {% if problemList.noActiveRecord|length%}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-m">No longer in the original pool</h1>
                <p class="govuk-body">The following jurors are no longer in the original pool. Another user may have moved them before you were able to.</p>
                <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-7">
                    {{ govukTable({
                    firstCellIsHeader: true,
                    caption: "Jurors no longer in the original pool",
                    captionClasses: "govuk-visually-hidden",
                    head: [
                        {
                        text: "Juror number"
                        },
                        {
                        text: "First name"
                        },
                        {
                        text: "Last name"
                        }
                    ],
                    rows: problemList.noActiveRecord
                    }) }}
                </div>
            </div>
        </div>
        {% endif %}

        {% if problemList.ageIneligible|length%}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-m">Ineligible due to age</h1>
                <p class="govuk-body">The following jurors cannot be moved because they'll be 76 years old by the new date and no longer eligible for jury service.</p>
                <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-7">
                    {{ govukTable({
                    firstCellIsHeader: true,
                    caption: "Jurors ineligible due to age",
                    captionClasses: "govuk-visually-hidden",
                    head: [
                        {
                        text: "Juror number"
                        },
                        {
                        text: "First name"
                        },
                        {
                        text: "Last name"
                        }
                    ],
                    rows: problemList.ageIneligible
                    }) }}
                </div>
            </div>
        </div>
        {% endif %}

        {% if problemList.invalidStatus|length%}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-m">Cannot be moved due to juror status</h1>
                <p class="govuk-body">You can only move jurors with a responded or summoned status. The following jurors have a different status and cannot be moved.</p>
                <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
                    {{ govukTable({
                    firstCellIsHeader: true,
                    caption: "Jurors with invalid status",
                    captionClasses: "govuk-visually-hidden",
                    head: [
                        {
                        text: "Juror number"
                        },
                        {
                        text: "First name"
                        },
                        {
                        text: "Last name"
                        },
                        {
                        text: "Status"
                        }
                    ],
                    rows: problemList.invalidStatus
                    }) }}
                </div>
            </div>
        </div>
        {% endif %}
        {# Submit form #}
        <div class="govuk-button-group">
            {% if (eligibleJurorLength === undefined) or (eligibleJurorLength > 0) %}
                {{ govukButton({
                    text: "Continue and move remaining jurors",
                    attributes: {
                        formAction: continueUrl
                }
            }) }}
            {% endif %}
            <a href="{{ cancelUrl }}" class="govuk-body govuk-link--no-visited-state" id="cancelAnchor">Cancel and go back</a>
            
        </div>

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
        <input type="hidden" name="version" id="version" value="{{ version }}">
    </form>
{% endblock %}