{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% set navItems = [] %}
{% if isBureauManager %}
  {% set navItems = (navItems.push(
    {
      text: "Users",
      href: url('administration.court-bureau.users.get', { location: 'bureau' }),
      active: nav === "users",
      attributes: {
        id: "usersAnchor"
      }
    }
  ), navItems) %}
{% endif %}
{% set navItems = (navItems.push(
  {
    text: "System codes",
    href: url('administration.system-codes.get'),
    active: nav === "systemCodes",
    attributes: {
      id: "systemCodesAnchor"
    }
  }
), navItems) %}


{{ mojPrimaryNavigation({
  label: "Bureau administration navigation",
  attributes: {
    id: "bureauadministrationNav"
  },
  items: navItems
}) }}