{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}


{% set managerOnlyTabs = [
    "Users",
    "Expense limits"
  ]
%}

{% set allNavBarElements = [
    {
      text: "Users",
      href: url('administration.court-bureau.users.get', { location: 'court' }),
      active: nav === "users",
      attributes: {
        id: "usersAnchor"
      }
    },
    {
      text: "Judges",
      href: url('administration.judges.get'),
      active: nav === "judges",
      attributes: {
        id: "judgesAnchor"
      }
    },
    {
      text: "Room locations",
      href: url('administration.room-locations.get', { locationCode: authentication.locCode }),
      active: nav === "roomLocations",
      attributes: {
        id: "roomLocationsAnchor"
      }
    },
    {
      text: "Court details",
      href: url('administration.court-details.get', { locationCode: authentication.locCode }),
      active: nav === "courtDetails",
      attributes: {
        id: "courtDetailsAnchor"
      }
    },
    {
      text: "Non-sitting days",
      href: url('administration.non-sitting-days.get'),
      active: nav === "nonSittingDays",
      attributes: {
        id: "nonSittingDaysAnchor"
      }
    },
    {
      text: "Expense limits",
      href: url('administration.expense-limits-court.get'),
      active: nav === "expenseLimitsCourt",
      attributes: {
        id: "expenseLimitsCourtAnchor"
      }
    },
    {
      text: "System codes",
      href: url('administration.system-codes.get'),
      active: nav === "systemCodes",
      attributes: {
        id: "systemCodesAnchor"
      }
    }
  ]
%}
{% set navBarElements = [] %}
{% for item in allNavBarElements %}
  {% if managerOnlyTabs.includes(item.text)%}
      {% if isCourtManager %}
        {% set navBarElements = (navBarElements.push(item), navBarElements) %}
      {% endif %}
  {% else %}
    {% set navBarElements = (navBarElements.push(item), navBarElements)  %}
  {% endif %}
{% endfor %}


{{ mojPrimaryNavigation({
  label: "Court administration navigation",
  attributes: {
    id: "courtAdministrationNav"
  },
  items: navBarElements
}) }}