{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{{ mojPrimaryNavigation({
  label: "Court administration navigation",
  attributes: {
    id: "courtadministrationNav"
  },
  items: [
    {
      text: "Users",
      href: url('administration.court-bureau.users.get', { location: 'court' }),
      active: nav === "users",
      attributes: {
        id: "usersAnchor"
      }
    },
    {
      text: "Judges",
      href: '#',
      active: nav === "judges",
      attributes: {
        id: "judgesAnchor"
      }
    },
    {
      text: "Room locations",
      href: url('administration.room-locations.get', { locationCode: authentication.locCode }),
      active: nav === "roomLocations",
      attributes: {
        id: "roomLocationsAnchor"
      }
    },
    {
      text: "Court details",
      href: url('administration.court-details.get', { locationCode: authentication.locCode }),
      active: nav === "courtDetails",
      attributes: {
        id: "courtDetailsAnchor"
      }
    },
    {
      text: "Non-sitting days",
      href: '#',
      active: nav === "nonSittingDays",
      attributes: {
        id: "nonSittingDaysAnchor"
      }
    },
    {
      text: "Expense limits",
      href: '#',
      active: nav === "expenseLimits",
      attributes: {
        id: "expenseLimitsAnchor"
      }
    },
    {
      text: "System codes",
      href: url('administration.system-codes.get'),
      active: nav === "systemCodes",
      attributes: {
        id: "systemCodesAnchor"
      }
    }
  ]
}) }}