{% extends "./govuk_template.njk" %}

{% block head %}
  {% include "../includes/head.njk" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block current_app %}
  {% include "includes/current_app.njk" %}
{% endblock %}

{% block body_end %}
  {% include "../includes/scripts.njk" %}
{% endblock %}