{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}{{ serviceName}} - {{ serviceTitle }}{% endblock %}

{% block page_identifier %}{{ pageIdentifier }} - redirect to print flow{% endblock %}

{% set currentApp = currentApp %}

{% block body_end %}
  {% set printRoute = url('documents.letters-list.print', { document: letterType }) %}

  {% if letterType === "show-cause" %}
    {% set printRoute = printRoute + queryParams %}
  {% endif %}

  <script>
    open("{{ printRoute }}".replace(/&amp;/g, '&'), '_blank');
    window.location.replace("{{ completeRoute }}"); //jurorrecord
  </script>
{% endblock %}