{% extends "../../layouts/default.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% set currentApp = "Pool management" %}

{% block page_title %}{{ serviceName }} - Request a pool - Change attendance date{% endblock %}
{% block page_identifier %}Request a pool - Change attendance date{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set dateError = undefined %}
      {% if errors.items["attendanceDate"] %}
        {% set dateError = errors.items["attendanceDate"][0].details[0] %}
      {% endif %}

      <form action="{{ url(submitUrl) }}" method="post" id="changeAttendanceDate">

        <h1 class="govuk-heading-l">Change the service start date for this pool</h1>

        {{ datePicker({
          id: "attendanceDate",
          label: {
            text: "Enter a new service start date"
          },
          hint: "Use dd/mm/yyyy format. For example, 31/01/2024.",
          dateMin: "" | makeDate | dateFilter(null, "DD/MM/YYYY"),
          dateValue: attendanceDate | dateFilter(null, "DD/MM/YYYY"),
          dateError: dateError
        }) }}

        <div class="govuk-button-group">
          {{ 
            govukButton({
              text: "Change",
              type: "submit",
              attributes: {
                "aria-label": "Change the service start date for this pool"
              } 
            })
          }}

          <a class="govuk-link" href="{{ url(cancelUrl) }}">Cancel</a>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "includes/datepicker.njk" %}
{% endblock %}