{% extends "layouts/default.njk" %}

{% set currentApp = "Electoral register management" %}

{% block page_title %}{{ serviceName }} - Electoral register management{% endblock %}
{% block page_identifier %}Electoral register management{% endblock %}

{% block content %}

{% endblock %}