{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}
  Reports
{% endblock %}

{% block page_identifier %}Reports - {{ title }}{% endblock %}

{% set currentApp = "Reports" %}

{% block content %}
  {% include "includes/errors.njk" %}

  {% set dateFromError = undefined %}  
  {% if errors.items["dateFrom"] %}
    {% set dateFromError = errors.items["dateFrom"][0].details %}
  {% endif %}

  {% set dateTo = undefined %}
  {% if errors.items["dateTo"] %}
    {% set dateToError = errors.items["dateTo"][0].details %}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

   <h2 class="govuk-heading-m">{{ panelResultHeader }}</h2>

  <form action="{{ reportUrl }}" method="POST" id="dateSearchForm">
    
    {% if isFixedDateRange %}
      {% include "./date-search/fixed-range.njk" %}
    {% else %}
      {% include "./date-search/from-to.njk" %}
    {% endif %}

    {{ csrfProtection(csrftoken) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: "submit",
        classes: "govuk-button",
        attributes: {
          id: "continueButton"
        }
      }) }}
      <a class="govuk-link govuk-link--no-visited-state" href="{{ cancelUrl }}">Cancel</a>
    </div>

  </form>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "includes/datepicker.njk" %}
{% endblock %}
