{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "custom-components/autocomplete/macro.njk" import modAutocomplete %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}Reports - {{ title }}{% endblock %}
{% block page_identifier %}Reports - {{ title }}{% endblock %}

{% set currentApp = "Reports" %}

{% block beforeContent %}
  {% if backLinkUrl %}
    {% include "includes/back-link.njk" %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="mod-flex mod-space-between">
    <h1 class="govuk-heading-l">{{title}}</h1>
    
    {{ govukButton({
      text: "Print",
      href: printUrl,
      classes: "govuk-button--secondary",
      attributes: {
        target: "_blank"
      }
    }) }}
  </div>

  <div class="report-headings">
    {% for heading in pageHeadings %}
      {% if heading.title and heading.data %}
        <div class="heading-element">
          <div class="title">{{heading.title}}</div>
          <div class="value">{{heading.data}}</div>
        </div>
      {% else %}
        &nbsp;
      {% endif %}
    {% endfor %}
  </div>

  {% if tableRows.length === 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible">
        <h2 class="govuk-heading-m govuk-!-margin-top-4">This report has no matching data</h2>
      </div>
    </div>
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukTable({
          attributes: {
            'data-module': 'moj-sortable-table'
          } if not grouped,
          caption: "Report data",
          captionClasses: "govuk-visually-hidden",
          head: tableHeaders,
          rows: tableRows
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
