{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "custom-components/autocomplete/macro.njk" import modAutocomplete %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "custom-components/mod-large-tag/macro.njk" import modLargeTag %}
{% from "custom-components/govuk-table-with-foot/macro.njk" import govukTableWithFoot %}

{% block page_title %}{{ serviceName }} - Reports - {{ title }}{% endblock %}
{% block page_identifier %}Reports - {{ title }}{% endblock %}

{% set currentApp = "Reports" %}

{% block beforeContent %}
  {% if backLinkUrl %}
    {% include "includes/back-link.njk" %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if bannerMessage %}
    {{ mojBanner({
      type: "success",
      text: bannerMessage,
      iconFallbackText: "Success"
    }) }}
  {% endif %}

  <div class="mod-flex mod-space-between">
    <h1 class="govuk-heading-l">{{title}}</h1>

    <div class="govuk-button-group">
      {% if exportUrl %}
        {{ govukButton({
          text: exportLabel,
          href: exportUrl,
          classes: "govuk-button--secondary",
          attributes: {
            target: "_blank"
          }
        }) }}
      {% endif %}
      {{ govukButton({
        text: "Print",
        href: printUrl,
        classes: "govuk-button--secondary",
        attributes: {
          target: "_blank",
          id: "print-button"
        }
      }) }}
    </div>
  </div>

  <div class="report-headings">
    {% for heading in pageHeadings %}
      {% if heading.title and heading.data %}
        <div class="heading-element">
          <div class="title">{{heading.title}}</div>
          <div class="value">{{heading.data}}</div>
        </div>
      {% else %}
        &nbsp;
      {% endif %}
    {% endfor %}
  </div>

  {% if largeTotals.length > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        <div class="mod-flex mod-gap-x-2">
          {% for largeTotal in largeTotals %}
            {{ modLargeTag({
              id: largeTotal.label,
              classes: largeTotal.classes or "govuk-!-margin-bottom-1 mod-large-tag__blue mod-flex-grow",
              label: largeTotal.label,
              value: largeTotal.value
            })}}
          {% endfor %}
        </div>

      </div>
    </div>
  {% endif %}

  {% if bespokeReportFile %}
    {% include bespokeReportFile %}
  {% else %}
    {% if tables.length === 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% if searchType === "dateRange" %}
            <h2 class="govuk-heading-m govuk-!-margin-top-4">No results found</h2>
            <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{ backLinkUrl.url }}">Check your dates and try again.</a>
          {% else %}
            <hr class="govuk-section-break govuk-section-break--visible">
            <h2 class="govuk-heading-m govuk-!-margin-top-4">This report has no matching data</h2>
          {% endif %}
        </div>
      </div>
    {% else %}
      {% for table in tables %}

        {% if table.tableFoot %}
          {% set tableFootHtml %}
            <tr id="totals-row" class="govuk-table__row mod-highlight-table-row__grey">
              {% for column in table.tableFoot %}
                <td class="govuk-table__cell">{{ column.text | safe }}</td>
              {% endfor %}
            </tr>
          {% endset %}
        {% endif %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full mod-overflow-auto">
            {% if table.title %}
              <div class="mod-juror-record__title">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ table.title }}</h2>
              </div>
            {% endif %}

            {% if grouped %}
              {% include "./grouped-table.njk" %}
            {% else %}
              {{ govukTableWithFoot({
                attributes: {
                  'data-module': 'mod-sortable-table'
                } if not unsortable and not grouped,
                caption: "Report data",
                captionClasses: "govuk-visually-hidden",
                head: table.headers,
                rows: table.rows,
                foot: tableFootHtml
              }) }}
            {% endif %}

          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}

 <input type="hidden" id="sortReload" name="sortReload" value="{{sortReload}}">

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script src="/js/print-sortable.js"></script>
{% endblock %}
