{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - Update juror details{% endblock %}
{% block page_identifier %}Update details{% endblock %}

{% block content %}
  {% include "includes/errors.njk" %}

  {% set dateOfBirthError = undefined %}
  {% if errors.items["dateOfBirth"] %}
    {% set dateOfBirthError = {
      text: errors
        .items["dateOfBirth"][0]
        .details
    } %}
  {% endif %}

  {% set primaryPhoneError = undefined %}
  {% if errors.items["primaryPhone"] %}
    {% set primaryPhoneError = {
      text: errors
        .items["primaryPhone"][0]
        .details
    } %}
  {% endif %}

  {% set secondaryPhoneError = undefined %}
  {% if errors.items["secondaryPhone"] %}
    {% set secondaryPhoneError = {
      text: errors
        .items["secondaryPhone"][0]
        .details
    } %}
  {% endif %}

  {% set emailAddressError = undefined %}
  {% if errors.items["emailAddress"] %}
    {% set emailAddressError = {
      text: errors
        .items["emailAddress"][0]
        .details
    } %}
  {% endif %}

  {% set specNeedValueError = undefined %}
  {% if errors.items["specNeedValue"] %}
    {% set specNeedValueError = {
      text: errors
        .item["specNeedValue"][0]
        .details
    } %}
  {% endif %}

  {% set specNeedMsgError = undefined %}
  {% if errors.items["specNeedMsg"] %}
    {% set specNeedMsgError = {
      text: errors
        .item["specNeedMsg"][0]
        .details
    } %}
  {% endif %}

  {% set opticReferenceError = undefined %}
  {% if errors.items["opticReference"] %}
    {% set opticReferenceError = {
      text: errors
        .item["opticReference"][0]
        .details
    } %}
  {% endif %}

  {% set currentName = [juror.commonDetails.title, juror.commonDetails.firstName, juror.commonDetails.lastName] %}
  {% set addressParts = [juror.addressLineOne, juror.addressLineTwo, juror.addressLineThree, juror.addressTown, juror.addressCounty] %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Juror record</span>
      <h1 class="govuk-heading-l">Juror details</h1>
    </div>
  </div>
  <form method="post" action="{{ processUrl }}" id="editJurorDetailsForm">

    <div class="mod-juror-record__title govuk-body">
      <h2 class="govuk-heading-m">Name</h2>
      <div class="flex mod-flex mod-gap-x-4">
        {% if isTeamLeader or isCourtUser %}
          <a id="fixNameAnchor" href="{{ url('juror-record.details-edit.name.get', { jurorNumber: jurorNumber }) }}?action=fix" class="govuk-link">
            Fix error in current name
          </a>
        {% endif %}
        <a id="newNameAnchor" href="{{ url('juror-record.details-edit.name.get', { jurorNumber: jurorNumber }) }}?action=new" class="govuk-link">
          Enter a new name
        </a>
      </div>
    </div>
    <div class="govuk-!-width-one-half">
      <div>
        <div role="label" class="govuk-label--s govuk-!-margin-bottom-2">Current</div>
        <p class="govuk-body">{{ currentName | join(' ') | capitalizeFully }}</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      {% if juror.commonDetails.pendingFirstName !== null %}
        {% set pendingName = [
          juror.commonDetails.pendingTitle,
          juror.commonDetails.pendingFirstName,
          juror.commonDetails.pendingLastName
        ] %}
        <div>
          <div role="label" class="govuk-label--s govuk-!-margin-bottom-2">Pending approval</div>
          <p class="govuk-body">{{ pendingName | join(' ') | capitalizeFully }}</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>
      {% endif %}
    </div>

    <div class="mod-juror-record__title govuk-body">
      <h2 class="govuk-heading-m">Address</h2>
      <div class="flex mod-flex mod-gap-x-4">
        <a id="addressChangeAnchor" 
           href="{{ url('juror-record.details-edit-address.get', { jurorNumber: jurorNumber }) }}" 
           class="govuk-link"
           aria-label="Change juror address"
        >
          Change
        </a>
      </div>
    </div>
    <div class="govuk-!-width-one-half">
      <div>
        <p class="govuk-body">{{(addressParts | buildRecordAddress | capitalizeFully + '<br>' + juror.addressPostcode) | safe}}</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ datePicker({
          id: "dateOfBirth",
          label: {
              text: "Date of birth",
              classes: "govuk-body govuk-!-font-weight-bold"
          },
          hint: "Use dd/mm/yyyy format. For example, 31/01/1980.",
          dateValue: juror.dateOfBirth,
          dateMax: dateMax,
          dateError: dateOfBirthError.text
        }) }}
        {{ govukInput({
          label: {
            text: "Main phone - UK only (optional)"
          },
          classes: "govuk-!-width-one-half",
          id: "primaryPhone",
          name: "primaryPhone",
          value: juror.primaryPhone,
          errorMessage: primaryPhoneError
        }) }}

        {{ govukInput({
          label: {
            text: "Alternative phone (optional)"
          },
          classes: "govuk-!-width-one-half",
          id: "secondaryPhone",
          name: "secondaryPhone",
          value: juror.secondaryPhone,
          errorMessage: secondaryPhoneError
        }) }}

        {{ govukInput({
          label: {
            text: "Email (optional)"
          },
          id: "emailAddress",
          name: "emailAddress",
          value: juror.emailAddress,
          type: "email",
          attributes: {
            maxlength: "254",
            spellcheck: "false"
          },
          autocomplete: "off",
          errorMessage: emailAddressError
        }) }}
      </div>
    </div>

    {% block jurorContact %}
      {% set thirdPartyHtml %}
      {{ govukInput({
          id: "thirdParty-name",
          name: "thirdParty-name",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Name"
          }
        }) }}
      {{ govukInput({
          id: "thirdParty-relation",
          name: "thirdParty-relation",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Relationship to juror"
          }
        }) }}
      {{ govukInput({
          id: "thirdParty-mainPhone",
          name: "thirdParty-mainPhone",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Main phone (optional)"
          }
        }) }}
      {{ govukInput({
          id: "thirdParty-secPhone",
          name: "thirdParty-secPhone",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Another phone (optional)"
          }
        }) }}
      {{ govukInput({
          id: "thirdParty-email",
          name: "thirdParty-email",
          type: "email",
          attributes: {
            maxlength: "254",
            spellcheck: "false"
          },
          autocomplete: "off",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Email (optional)"
          }
        }) }}
      {% endset -%}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukRadios({
            name: "thirdParty",
            fieldset: {
              legend: {
                text: "Is there a third party that can be contacted on behalf of the juror?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            value: juror.thirdParty,
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: thirdPartyHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
        </div>
      </div>
    {% endblock %}

    {% block jurorAddReq %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Additional requirements</h2>
        </div>
      </div>

      {% set extraSupportHtml %}
      {{ govukSelect({
            id: "specNeedValue",
            name: "specNeedValue",
            value: juror.specialNeed,
            label: {
              text: "Select reason"
            },
            items: adjustmentReasons,
            errorMessage: specNeedValueError
          }) }}
      {{ govukCharacterCount({
            name: "specNeedMsg",
            id: "specNeedMsg",
            classes: "govuk-!-width-one-half",
            value: juror.specialNeedMessage,
            maxlength: 2000,
            rows: 10,
            label: {
              text: "What help does this juror need at court?"
            },
            errorMessage: specNeedMsgError
          }) }}
      {{ govukInput({
          id: "opticReference",
          name: "opticReference",
          classes: "govuk-!-width-one-third",
          value: juror.opticReference,
          label: {
            text: "Optic reference (optional)"
          },
          errorMessage: opticReferenceError
        }) }}
      {% endset -%}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukRadios({
            name: "extraSupport",
            fieldset: {
              legend: {
                text: "Will the juror need extra support or facilities at court?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            value: juror.extraSupport,
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: extraSupportHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
          {{ govukCheckboxes({
            name: "welsh",
            fieldset: {
              legend: {
                text: "Tick box if juror should get communications in Welsh (optional)",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "true",
                text: "Yes, send Welsh language communications",
                checked: details.welsh
              }
            ]
          }) }}
        </div>
      </div>

    {% endblock %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        attributes: {
          id: "saveButton"
        }
      }) }}
      <a class="govuk-link govuk-link--no-visited-state" id="cancelAnchor" href="{{ url('juror-record.details.get', { jurorNumber: jurorNumber}) }}">
        Cancel
      </a>
    </div>

    <input type="hidden" name="title" value="{{ juror.commonDetails.title }}">
    <input type="hidden" name="firstName" value="{{ juror.commonDetails.firstName }}">
    <input type="hidden" name="lastName" value="{{ juror.commonDetails.lastName }}">
    <input type="hidden" name="addressLineOne" value="{{ juror.addressLineOne }}">
    <input type="hidden" name="addressLineTwo" value="{{ juror.addressLineTwo }}">
    <input type="hidden" name="addressLineThree" value="{{ juror.addressLineThree }}">
    <input type="hidden" name="addressTown" value="{{ juror.addressTown }}">
    <input type="hidden" name="addressCounty" value="{{ juror.addressCounty }}">
    <input type="hidden" name="addressPostcode" value="{{ juror.addressPostcode}}">
    <input type="hidden" name="_csrf" value="{{ csrftoken }}">
  </form>
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript" src="{{ assetPath }}js/ds-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      const datePickers = []
        .slice
        .call(document.querySelectorAll('[data-module="ds-datepicker"]'));
      datePickers.forEach(datePicker => new DSDatePicker(datePicker, {imagePath: '{{ assetPath }}assets/images/icons/'}).init());
    });
  </script>
{% endblock %}
