{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "../../custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - Update juror deferral decision{% endblock %}
{% block page_identifier %}Update deferral decision{% endblock %}

{% block beforeContent %}
  {% include "../../includes/back-link.njk" %}
{% endblock %}

{% block content %}

{% include "includes/errors.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% set deferralReasonError = undefined %}
    {% set deferralDateError = undefined %}
    {% if errors.items['deferralReason'] %}
      {% set deferralReasonError = {
        text: errors
          .items['deferralReason'][0]
          .details
      } %}
    {% endif %}
    {% if errors.items['deferralDate'] %}
      {% set deferralDateError = {
        text: errors
          .items['deferralDate'][0]
          .details
      } %}
    {% endif %}    
  </div>
</div>

{# Setup reason dropdown values / selected item #}
{% set reasonList = [] %}
    {% for reason in excusalReasons %}

    {% if (reason.code === selectedDeferralReason) %}
        {% set codeSelected = true %}
    {% else %}
        {% set codeSelected = false %}
    {% endif %}

    {% set reasonList = (reasonList.push({value: reason.code, text: reason.code + ' - ' + reason.description, selected: codeSelected }), reasonList) %}
{% endfor %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Change deferral</h1>
  </div>
</div>

{% include "../_partials/juror-details-banner.njk" %}

<form method="post" action="{{ processUrl }}" id="editDeferralForm">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ govukSelect({
                id: "deferralReason",
                name: "deferralReason",
                label: {
                text: "Reason for the deferral request",
                classes: "govuk-body govuk-!-font-weight-bold"
                },

                items: reasonList,
                errorMessage: deferralReasonError
            }) }}
            {{ datePicker({
              id: "deferralDate",
              label: {
                  text: "Date to defer to",
                  classes: "govuk-body govuk-!-font-weight-bold"
              },
              hint: "Use dd/mm/yyyy format. For example, 31/01/2024.",
              dateValue: selectedDeferralDate,
              dateMin: minDate,
              dateMax: maxDate,
              dateError: deferralDateError.text
            }) }}
            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save changes",
                  type: "save"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="{{ url('juror-record.overview.get', {
                    jurorNumber: jurorNumber
                }) }}">Cancel</a>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrftoken }}">
        </div>
  </div>
</form>

<hr class="govuk-section-break govuk-section-break--visible">

<form method="post" action="{{ deleteUrl }}" id="deleteDeferralForm">
  <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds">
          {{ govukButton({
              text: "Delete deferral",
              type: "delete",
              classes: "govuk-button--warning"
          }) }}
      </div>
      <input type="hidden" name="jurorNumber" value="{{ jurorNumber }}">
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">
  </div>
</form>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "includes/datepicker.njk" %}
{% endblock %}
