{% extends "../../layouts/default.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "custom-components/sortable-table/macro.njk" import modSortableTable %}

{% block page_identifier %}Uncomplete service{% endblock %}

{% block page_title %}
  Uncomplete service - select jurors
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to search",
    href: backLinkUrl,
    attributes: {
      id: "backLinkAnchor"
    }
  }) }}
{% endblock %}

{% block content %}

  {% include "../../includes/errors.njk" %}

  {% set selectedJurorsError = undefined %}
  {% if errors.items["selectedJurors"] %}
    {% set selectedJurorsError = {"text": errors.items['selectedJurors'][0].details} %}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="{{ postUrl }}" method="POST" id="selectJurorsForm">
      
        <h1 class="govuk-heading-xl">Uncomplete service</h1>
        
        <table>
          <caption class="govuk-table__caption govuk-visually-hidden">Uncomplete service search</caption>
          <tr>
            <td><h2 class="govuk-heading-m">Showing results for “{{ searchTerm }} ”</h2></td>
            <td><div class="govuk-body"><a class="govuk-link" href="{{ changeUrl }}" aria-label="Change search term">change</a></div></td>
          </tr>
        </table>

        {% if jurors.length === 0 and not overLimit %}
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2>There are no matching results</h2>
          <p class="govuk-body">Improve your search by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>double-checking your spelling</li>
            <li>trying different search criteria</li>
          </ul>
        {% elif overLimit %}
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2>There are more than 500 results</h2>
          <p class="govuk-body">
            <a class="govuk-link" href="{{ changeUrl }}">Refine your search</a> by adding more information.
          </p>
        {% else %}

        <div class="govuk-grid-column-full juror-actions govuk-!-padding-0 govuk-!-margin-bottom-5">
          {{ govukButton({
            text: "Uncomplete juror",
            id: "UncompleteJuror",
            classes: "govuk-button--secondary govuk-!-margin-bottom-0",
            type: "submit"
          }) }}
        </div>
        <div class="govuk-body"><span id="checkedJurors">{{ totalCheckedJurors }}</span> of selected <span id="totalJurors">{{ totalItems }}</span></div>
        {{ modSortableTable({
              id: "completedJurorsTable",
              caption: "Jurors",
              captionClass: "govuk-visually-hidden",
              head: completedJurorsList.head,
              rows: completedJurorsList.rows,
              url: urlPrefix,
              selectable: true,
              totalCheckedJurors: totalCheckedJurors,
              totalJurors: totalItems
            }) }}

        {{ govukPagination({
          previous: {
            href: pageItems.prev
          },
          next: {
            href: pageItems.next
          },
          items: pageItems.items
        }) }}
        
        {% endif %}
        
        <input type="hidden" name="searchKey" id="searchKey" value="{{ searchKey }}">
        <input type="hidden" name="searchTerm" id="searchTerm" value="{{ searchTerm }}">
        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
      </form>
    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript" src="{{ assetPath }}js/uncomplete-service.js"></script>
{% endblock %}