{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - Reports - {{ title }} - select courts{% endblock %}
{% block page_identifier %}Reports - {{ title }} - select courts{% endblock %}

{% set currentApp = "System administration" if isSystemAdministrator and isSuperUser else "Reports" %}

{% block containerStart %}
  {% if backLinkUrl.url %}
    {% include "includes/back-link.njk" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "includes/errors.njk" %}

  {% set courtsError = undefined %}
  {% if errors.items["courts"] %}
    {% set courtsError = { text: errors.items["courts"][0].details } %}
  {% endif %}

  <form action="{{ processUrl }}" method="post" id="sittingDaysCourtScopeForm">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ title }}</h1>

        {{ govukRadios({
          name: "courts",
          fieldset: {
            legend: {
              text: "Which courts do you want to include?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: courtsError,
          items: [
            {
              value: "all",
              text: "All courts",
              checked: tmpBody.courts === "all"
            },
            {
              value: "selected",
              text: "Selected courts",
              checked: tmpBody.courts === "selected"
            }
          ]
        }) }}

        {{ csrfProtection(csrftoken) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {
              id: "continueButton"
            }
          }) }}
          <a href="{{ cancelUrl }}" class="govuk-link govuk-link--no-visited-state" id="cancelAnchor">Cancel</a>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
