{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "custom-components/mod-large-tag/macro.njk" import modLargeTag %}

{% block page_title %}{{ serviceName }} - Juror management - Unpaid attendance - Expense record{% endblock %}
{% block page_identifier %}Juror management - Unpaid attendance - Expense record{% endblock %}

{% set currentApp = "Jurors" %}

{% block beforeContent %}
    <a href="{{ backLinkUrl }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  {% set jurorName = jurorDetails.name.firstName + ' ' + jurorDetails.name.lastName %}
  {% if jurorDetails.name.title %}
    {% set jurorName = jurorDetails.name.title + ' ' + jurorDetails.name.firstName + ' ' + jurorDetails.name.lastName %}
  {% endif %}

  {% set jurorAddressHTML = jurorDetails.address.lineOne + '<br>' + jurorDetails.address.town + '<br>' + jurorDetails.address.postcode %}

  <div class="after-header">
    <div>
      <span class="govuk-caption-l">Expenses audit number</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{expenseData.auditNumber}}</h1>
        {{ govukTag({
          text: "For approval" if status === 'forApproval' else "Approved",
          classes: "govuk-tag--blue" if status === 'forApproval' else "govuk-tag"
        }) }}
    </div>

    <span>
      <form method="post" id="buttons">
      {% if status === "forApproval" %}
        {{ govukButton({
          text: "Approve expenses",
          attributes: {
            id: "approveExpenseButton",
            formAction: approveUrl
          }
        }) }}
      {% endif %}
      {{ govukButton({
        text: "Edit expenses",
        href: '#',
        classes: "govuk-button--secondary govuk-!-margin-left-3",
        attributes: {
          id: "editExpensesButton"
        }
      }) }}
      {{ govukButton({
        text: "Print audit report",
        href: '#',
        classes: "govuk-button--secondary govuk-!-margin-left-3",
        attributes: {
          id: "printAuditReportButton"
        }
      }) }}
      <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
      <input type="hidden" name="name" id="name" value="{{ jurorName }}">
      </form>
    </span>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Juror number"
            },
            value: {
              html: '<a href=' + url("juror-record.overview.get", { jurorNumber: jurorDetails.jurorNumber }) + ' class="govuk-link">' + jurorDetails.jurorNumber + '</a>'
            }
          },
          {
            key: {
              text: "Juror name"
            },
            value: {
              text: jurorName
            }
          },
          {
            key: {
              text: "Juror's address"
            },
            value: {
              html: jurorAddressHTML
            }
          },
          {
            key: {
              text: "Sort code"
            },
            value: {
              text: jurorDetails.paymentDetails.sortCode
            }
          },
          {
            key: {
              text: "Account number"
            },
            value: {
              text: jurorDetails.paymentDetails.bankAccountNumber
            }
          },
          {
            key: {
              text: "Account holder's name"
            },
            value: {
              text: jurorDetails.paymentDetails.bankAccountName
            }
          },
          {
            key: {
              text: "Method of payment"
            },
            value: {
              text: jurorDetails.paymentDetails.paymentMethod
            }
          } if status === "approved"
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-half">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Attendance dates"
            },
            value: {
              text: attendanceDates.firstDate | dateFilter("YYYY-MM-DD", "ddd D MMM YYYY") + " to " + attendanceDates.lastDate | dateFilter("YYYY-MM-DD", "ddd D MMM YYYY")
            }
          },
          {
            key: {
              text: "Submitted by"
            },
            value: {
              text: expenseData.submittedBy
            }
          },
          {
            key: {
              text: "Date submitted"
            },
            value: {
              text: expenseData.submittedOn | dateFilter(null, "ddd D MMM YYYY")
            }
          },
          {
            key: {
              text: "Approved by"
            },
            value: {
              text: expenseData.approvedBy
            }
          } if status === "approved",
          {
            key: {
              text: "Date approved"
            },
            value: {
              text: expenseData.approvedOn | dateFilter(null, "ddd D MMM YYYY")
            }
          } if status === "approved",
          {
            key: {
              text: "Time approved"
            },
            value: {
              text: expenseData.approvedOn | dateFilter(null, "hh:mm") | convert24to12
            }
          } if status === "approved"
        ]
      }) }}
    </div>
  </div>

  {{ modLargeTag({
    id: "totalForApprovalTag" if status === "forApproval" else "totalApprovedTag",
    colour: "blue" if status === "forApproval",
    layout: "inline",
    label: "Total for approval" if status === "forApproval" else "Total approved",
    value: "£" + expenseData.totals.totalAmount
  })}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mileage"
            },
            value: {
              text: expenseData.mileage + " miles"
            }
          }
        ]
      }) }}
    </div>
  </div>

  {% include "./_partials/expenses-table.njk" %}

  {% if status === "forApproval"%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Total amount"
              },
              value: {
                text: "£" + expenseData.totals.totalAmount,
                classes: "mod-summary-list-align__right"
              }
            },
            {
              key: {
                text: "Balance to pay"
              },
              value: {
                text: "£" + expenseData.totals.balanceToPay,
                classes: "mod-summary-list-align__right"
              }
            }
          ]
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}