{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "custom-components/sortable-table/macro.njk" import modSortableTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block page_title %}{{ serviceName }} - Trial management - Trials{% endblock %}
{% block page_identifier %}Trial management - Trials{% endblock %}

{% set currentApp = "Trials" %}

{% set searchTrialNumberError = undefined %}
{% if errors.items["searchTrialNumber"] %}
  {% set searchTrialNumberError = {"text": errors.items['searchTrialNumber'][0].details} %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Trials</h1>
      <form action="{{ searchUrl }}" method="POST" class="mod-flex mod-items-end mod-gap-x-2">

        {{ govukInput({
          label: {
            text: "Search by trial number"
          },
          classes: "govuk-input--width-20",
          id: "searchTrialNumber",
          name: "searchTrialNumber",
          errorMessage: searchTrialNumberError,
          value: tmpBody.searchTrialNumber if tmpBody.searchTrialNumber else trialNumber
        }) }}

        {{ govukButton({
          text: "Search",
          classes: "govuk-button--secondary",
          attributes: {
            id: "search-trials-button"
          }
        }) }}

        <a class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-7" id="clearSearchAnchor" href="{{ clearSearchUrl }}">Clear search</a>

        <input type="hidden" id="csrfToken" name="_csrf" value="{{ csrftoken }}"/>
      </form>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-button-group mod-flex mod-justify-end">
        {{ govukButton({
          text: "Create a trial",
          href: url('trial-management.create-trial.get')
        }) }}

        {{ govukButton({
          text: "Print list",
          classes: "govuk-button--secondary",
          attributes: {
            id: "printListButton",
            type: "button"
          }
        }) }}
      </div>
    </div>
    <div class="govuk-grid-column-full">
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item govuk-!-margin-right-0 mod-radio__label--full-width">
                <input
                    class="govuk-radios__input" 
                    id="activeTrialsRadio" 
                    name="activeTrialsRadio" 
                    type="radio" 
                    value="active"
                    {% if isActive === 'true' %}checked{% endif %}
                >
              <label 
                  class="govuk-label govuk-radios__label" 
                  for="activeTrialsRadio"
              >
              Active trials
              </label>
            </div>
            <div class="govuk-radios__item govuk-!-margin-right-0 mod-radio__label--full-width" >
                <input 
                    class="govuk-radios__input" 
                    id="allTrialsRadio" 
                    name="allTrialsRadio" 
                    type="radio" 
                    value="all"
                    {% if isActive === 'false' %}checked{% endif %}
                >
                <label 
                    class="govuk-label govuk-radios__label" 
                    for="allTrialsRadio"
                >
                All trials
                </label>
            </div>
            </div>
        </fieldset>

    </div>
  </div>

  {% set urlPrefix =  "?isActive=" + ("true" if isActive else "false") %}

  {% if trialNumber %}
    {% set urlPrefix = urlPrefix ~ "&trialNumber=" ~ trialNumber %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">
      {% if trials.rows | length === 0 %}
        <p class="govuk-body">There are no results to display.</p>
      {% else %}
        {{ modSortableTable({
          id: "trialsTable",
          caption: "Trials",
          captionClasses: "govuk-visually-hidden",
          head: trials.head,
          rows: trials.rows,
          url: urlPrefix
        }) }}

        {{ govukPagination({
          previous: {
            href: pagination.prev
          },
          next: {
            href: pagination.next
          },
          items: pagination.items
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block body_end %}
  {{ super() }}

  <script type="application/javascript" nonce="{{ nonce }}">
    $(document).ready(() => {

      const params = new URLSearchParams(window.location.search);
      const trialNumberQuery = params.get('trialNumber') ? `&trialNumber=${params.get('trialNumber')}` : '';

      $('#activeTrialsRadio').on('click', function() {
        window.location.href = `{{url('trial-management.trials.get')}}?isActive=true${trialNumberQuery}`;
      });

      $('#allTrialsRadio').on('click', function() {
        window.location.href = `{{url('trial-management.trials.get')}}?isActive=false${trialNumberQuery}`;
      });

      $('#printListButton').on('click', function() {
        window.open('{{url('trial-management.trials.print.get')}}' + '?' + params.toString(), '_blank');
      });
    });
  </script>

{% endblock %}
