{% extends "layouts/default.njk" %}

{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% block page_title %}{{ serviceName }} - trial-management - trials{% endblock %}
{% block page_identifier %}trial-management - trials{% endblock %}

{% set currentApp = "Trials" %}
{% set trialDetails = [
  {
    key: {
      text: "Defendants" if trial.trial_type === "Criminal" else "Respondents"
    },
    value: {
      text: trial.defendants
    }
  },
  {
    key: {
      text: "Trial type"
    },
    value: {
      text: trial.trial_type | capitalizeFully
    }
  },
  {
    key: {
      text: "Trial start date"
    },
    value: {
      text: trial.start_date | makeDate | dateFilter("YYYY,MM,DD", "dddd D MMMM YYYY")
    }
  },
  {
    key: {
      text: "Judge"
    },
    value: {
      text: trial.judge.description
    }
  },
  {
    key: {
      text: "Courtroom"
    },
    value: {
      text: trial.courtroom.description | capitalizeFully
    }
  },
  {
    key: {
      text: "Protected?"
    },
    value: {
      text: "Yes" if trial.protected else "No"
    }
  }
]%}

{% set endDateRow =
  {
    key: {
      text: "Trial end date"
    },
    value: {
      text: trial.trial_end_date | makeDate | dateFilter("YYYY,MM,DD", "dddd D MMMM YYYY")
    }
  }
%}

{% set standardPrintMenuItems = [
  {
    text: "Ballot cards",
    href: "#",
    classes: "govuk-button--secondary"
  },
  {
    text: "Panel list (summary)",
    href: "#",
    classes: "govuk-button--secondary"
  },
  {
    text: "Panel list (detailed)",
    href: "#",
    classes: "govuk-button--secondary"
  },
  {
    text: "Panel member status report",
    href: "#",
    classes: "govuk-button--secondary"
  },
  {
    text: "Panel selection report",
    href: "#",
    classes: "govuk-button--secondary"
  }
]%}


{% if not trial.is_active %}
  {% set trialDetails = (trialDetails.splice(3, 0, endDateRow), trialDetails)%}
{% endif %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% if successBanner %}
    {{ mojBanner({
      type: "success",
      html: successBanner,
      iconFallbackText: "Success"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half trial-detail__header">
      <span class="trial-detail__header-label">Trial</span>
      <div class="trial-detail__header-number">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ trial.trial_number }}</h1>
          {{ govukTag({
            text: "Active" if trial.is_active else "Inactive",
            classes: "govuk-tag--blue" if trial.is_active else "govuk-tag--grey"
          }) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-button-group mod-flex mod-justify-end">
        {% if trial.is_active %}
          
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">
              {% if addPanelStatus %}
                {{ govukButton({
                  text: "Add panel members",
                  classes: "govuk-button--secondary",
                  href: url('trial-management.add-panel-members.get', {trialNumber: trial.trial_number, locationCode: locationCode})
                }) }}
              {% endif %}

              {% if trial.panelledJurors | length > 0 %}
                {{ govukButton({
                  text: "Empanel jury",
                  classes: "govuk-button--secondary",
                  href: url('trial-management.empanel.get', {trialNumber: trial.trial_number, locationCode: locationCode})
                }) if not trial.is_jury_empanelled }}

                {{ govukButton({
                  text: "End trial",
                  classes: "govuk-button--secondary",
                  href: url('trial-management.trials.end-trial.get', {trialNumber: trial.trial_number, locationCode: locationCode})
                }) }}

                {{ mojButtonMenu({
                  items: [
                    {
                      text: "Jury list",
                      href: "#",
                      classes: "govuk-button--secondary"
                    }
                  ].concat(standardPrintMenuItems) if not trail.is_jury_empanelled else standardPrintMenuItems,
                  attributes: {
                    id: 'printButtonMenu'
                  }
                }) }}
                
              {% else %}
                {% if addPanelStatus === false %}
                  {{ govukButton({
                    text: "Generate panel",
                    classes: "govuk-button--secondary",
                    href: url('trial-management.generate-panel.get', {trialNumber: trial.trial_number, locationCode: locationCode})
                  }) }}
                {% endif %}
                {{ govukButton({
                  text: "Edit trial",
                  classes: "govuk-button--secondary",
                  href: url("trial-management.edit-trial.get", { trialNumber: trial.trial_number, locationCode: locationCode })
                }) }}
                {{ govukButton({
                  text: "End trial",
                  classes: "govuk-button--secondary",
                  href: url('trial-management.trials.end-trial.get', {trialNumber: trial.trial_number, locationCode: locationCode})
                }) }}
              {% endif %}
              
            </div>
          </div> 
        {% endif %} 
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-body">
      {{ govukSummaryList({
        rows: trialDetails
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if trial.panelledJurors | length > 0 %}
        {% include "./_partials/trial-panel.njk" %}
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}  
  <script>
    // button menu in reply details page header
    new MOJFrontend.ButtonMenu({
      container: $('#printButtonMenu'),
      mq: '(min-width: 200em)',
      buttonText: 'Print',
      buttonClasses: 'govuk-!-margin-bottom-1 govuk-button--secondary moj-button-menu__toggle-button--secondary',
    });
  </script>
{% endblock %}