.back-btn {

  &.spaced {
    margin-top: 15px;
  }

  a {
    border-bottom: 1px solid;
    text-decoration: none;
  }
}

.button--blue {
  @include button ($color-blue-btn);

  &[disabled="disabled"] {
    background: $color-blue-btn;
  }
}

@media all and (min-width: 641px) {
  .button--wide {
    width: 162px;
  }

  .button--mid {
    width: 140px;
  }

  .button--full {
    width: 85%;
  }
}
