// Headings
//------------------------------------------------------------------------------
// scss-lint:disable IdSelector

#global-header {
  .header-wrapper {
    .header-global {
      .header-logo {
        float: none;
      }
    }
  }

  .header-user-details {
    color: $white;
    float: right;
    line-height: 2.5;
    text-align: right;

    .notice {
      display: inline-block;
      margin: 5px 10px 0 0;

      .user-name {
        display: inline-block;
        margin-left: 0;
        margin-right: 35px;
        padding-left: 0;
      }

      .icon {
        display: inline-block;
        left: auto;
        right: 0;
      }

      .sign-in a {
        color: inherit;
      }
    }
  }

  #logo {
    padding-left: 45px;
  }

  &.with-proposition {
    #proposition-name {
      color: $white;
      font-family: "nta", Arial, sans-serif;
      font-size: 1.375rem;
      font-weight: normal;
      line-height: 1.45;
      text-decoration: none;
      text-transform: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

@media (min-width: 521px) {
  #global-header.with-proposition {

    .header-wrapper {

      .header-global {

        // Reset default GDS header col so logo and user details
        // can be contained together
        float: none;
        width: auto;

        .header-logo {
          float: left;
          width: 60%;
        }
      }
    }

    .header-user-details {
      color: $white;
      float: right;
      line-height: 2.5;
      text-align: right;
      width: 33.33%;

      .notice {
        display: inline-block;
        margin-top: 0;

        .user-name {
          display: inline-block;
          margin-left: 0;
          margin-right: 35px;
          padding-left: 0;
        }

        .icon {
          left: auto;
          right: 0;
        }
      }
    }
  }
}
