.detail-section {
  position: relative;

  .section-heading {
    background-color: $panel-colour;
    height: 60px;
    margin-bottom: 15px;
    position: relative;

    h3 {
      font-weight: normal;
      left: 19px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .edit-actions {
      right: 19px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      a {
        color: inherit;
        margin-left: 15px;
      }
    }

    &--teal {
      background-color: $color-turquoise-opaque;
    }

    &--small {
      &, h3 {
        font-size: $font-size-body;
      }
    }

    &--spaced {
      margin-top: 15px;
    }
  }
}
