{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/time-input-12-hour/macro.njk" import timeInput12Hour %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "includes/csrf.njk" import csrfProtection %}

{% set attendanceTypeError = undefined %}
{% if errors.items["attendanceType"] %}
  {% set attendanceTypeError = { text: errors.items['attendanceType'][0].details} %}
{% endif %}

{% set attendanceHtml %}
  {{ timeInput12Hour({
    id: "checkInTime",
    name: "checkInTime",
    fieldset: {
      legend: {
        text: "Enter check in time",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: {
      hour: {
        value: tmpBody.checkInTimeHour,
        attributes: {
          minLength: "1",
          maxLength: "2"
        }
      },
      minute: {
        value: tmpBody.checkInTimeMinute,
        attributes: {
          minLength: "1",
          maxLength: "2"
        }
      },
      period: {
        value: tmpBody.checkInTimePeriod
      }
    },
    errors: errors.items
  }) }}

  {{ timeInput12Hour({
    id: "checkOutTime",
    name: "checkOutTime",
    fieldset: {
      legend: {
        text: "Enter check out time",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: {
      hour: {
        value: tmpBody.checkOutTimeHour,
        attributes: {
          minLength: "1",
          maxLength: "2"
        }
      },
      minute: {
        value: tmpBody.checkOutTimeMinute,
        attributes: {
          minLength: "1",
          maxLength: "2"
        }
      },
      period: {
        value: tmpBody.checkOutTimePeriod
      }
    },
    errors: errors.items
  }) }}
{% endset %}

{% block content %}
  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ processUrl }}" method="post" id="changeAttendanceDate">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Attendance</span>
          {{ jurorName }}
        </h1>

        <p class="govuk-body-l ">{{ attendanceDate | dateFilter("YYYY-MM-DD", "dddd D MMMM YYYY") }}</p>

        {{ govukRadios({
          name: "attendanceType",
          fieldset: {
            legend: {
              text: "Select attendance type",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "ATTENDANCE",
              text: "Attendance",
              conditional: {
                html: attendanceHtml
              }
            },
            {
              value: "NON_ATTENDANCE",
              text: "Non-attendance"
            },
            {
              value: "ABSENCE",
              text: "Absence"
            }
          ],
          value: tmpBody.attendanceType,
          errorMessage: attendanceTypeError
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save Changes",
            attributes: {
              id: "saveButton"
            }
          }) }}

          <a class="govuk-link" id="cancelAnchor" href="{{ cancelUrl }}">Cancel</a>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <a class="mod-red-text govuk-body" href="{{ deleteUrl }}">Delete attendance</a>
      
        {{ csrfProtection(csrftoken) }}
      </form>
    </div>
  </div>
{% endblock %}