{% from "govuk/components/table/macro.njk" import govukTable %}

{% set headList = [] %}
{%set selectAll %}
  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
    <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="check-all-jurors" name="selectAllCheckbox" 
      {% if params.totalCheckedJurors === params.totalJurors %}checked{% endif %}/>
    <label class="govuk-label govuk-checkboxes__label" for="selectAllCheckbox">
      <span class="govuk-visually-hidden">Select All</span>
    </label>
  </div>
{%endset%}
{% if params.selectable %}
{% set headList = (headList.push({
    html: selectAll
    }), headList)%}
{% endif %}
{% for head in params.head %}
  {% set sortOrder = "ascending" if head.sort === "none" or head.sort === "descending" else "descending" %}

  {% if params.url %}
    {% set url = params.url + "&sortBy=" + head.id + "&sortOrder=" + sortOrder %}
  {% else %}
    {% set url = "?sortBy=" + head.id + "&sortOrder=" + sortOrder %}
  {% endif %}

  {% if head.sortable === false %}
    {% set headList = (headList.push({
      text: head.value,
      html: head.html,
      format: head.format,
      classes: "mod-sortable-table-head " + head.classes
    }), headList) %}
  {% else %}
    {% set headLink %}
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
        href="{{ url }}" id="{{ head.id }}" aria-label="{{ head.value }}" role="button" data-module="govuk-button">
        {{ head.value }}
      </a>
    {% endset %}

    {% set headList = (headList.push({
      html: headLink | safe,
      format: head.format,
      classes: "mod-sortable-table-head " + head.classes + " mod-middle-align",
      attributes: {
        "aria-sort": head.sort or "none"
      }
    }), headList) %}
  {% endif %}
{% endfor %}
{{ govukTable({
  attributes: {
    id: params.id
  },
  caption: params.caption,
  captionClass: params.captionClass,
  head: headList,
  rows: params.rows,
  classes: params.classes
}) }}
