{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if bureauTransferDate and isBureauUser %}
  {% set bureauTransferDateBannerHtml %}
    <p class="govuk-notification-banner__heading">
      This juror record was transferred to the court on {{ bureauTransferDate | dateFilter(null, "D MMMM YYYY") }}.
    </p>
    <p>
      You can no longer make changes apart from adding new entries to this juror’s notes or contact log.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: bureauTransferDateBannerHtml
  }) }}
{% endif %}

<div class="mod-juror-record--header">
  <div class="mod-juror-record--header__tag-row">
    {{ govukTag({
      text: "Juror record",
      classes: "govuk-tag--turquoise"
    }) }}
  </div>
  <div class="mod-juror-record--header__info-row">
    <div class="mod-juror-record--header__info-row__name">
      <div class="after-header__pool-record-number">
        <h1 class="govuk-heading-l govuk-!-margin-0">
          {{ currentName | join(" ") | capitalizeFully }}
        </h1>
      </div>
    </div>

    <div class="mod-juror-record--header__actions">
      {% if authentication.owner === juror.commonDetails.owner %}
        {{ govukButton({
          text: "Update juror record",
          classes: "govuk-button--secondary",
          href: url("juror.update.get", { jurorNumber: juror.commonDetails.jurorNumber })
        }) }}
      {% endif %}

      {% if canEnterSummons %}
        {{ govukButton({
          text: "Enter summons reply",
          href: url("paper-reply.index.get", { id: juror.commonDetails.jurorNumber })
        }) }}
      {% endif %}
    </div>
  </div>
</div>

{% include "./juror-details-banner.njk" %}

{% include "./sub-nav.njk" %}
