{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Overview",
    href: url('juror-record.overview.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "overview",
    attributes: {
      id: "overviewTab"
    }
  }, {
    text: "Juror details",
    href: url('juror-record.details.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "details",
    attributes: {
      id: "detailsTab"
    }
  }, {
    text: "Summons reply",
    href: url('juror-record.summons.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "summons",
    attributes: {
      id: "summonsTab"
    }
  }, {
    text: "Expenses",
    href: url('juror-record.expenses.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "expenses",
    attributes: {
      id: "expensesTab"
    }
  } if isCourtUser, {
    text: "Attendance",
    href: url('juror-record.attendance.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "attendance",
    attributes: {
      id: "attendanceTab"
    }
  }, {
    html: 'Notes' + ('
      <span id="notesIndicator" class="govuk-!-margin-left-1  jd-right-align">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#1D70B8"/></svg>
      </span>' if jurorNotesFlag === true),
    href: url('juror-record.notes.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "notes",
    attributes: {
      id: "notesTab"
    }
  }, {
    text: "History",
    href: url('juror-record.history.get', {
      jurorNumber: juror.commonDetails.jurorNumber
    }),
    active: currentTab === "history",
    attributes: {
      id: "historyTab"
    }
  }]
}) }}