{% set thirdPartyNameParts = [juror.thirdParty.thirdPartyFName, juror.thirdParty.thirdPartyLName] %}

<div class="mod-juror-record__title govuk-body">
  <h2 id="jurorDetailsLabel" class="govuk-heading-m">Third party details</h2>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: thirdPartyNameParts | join(' ') | capitalizeFully
          }
        },
        {
          key: {
            text: "Relationship to juror"
          },
          value: {
            text: juror.thirdParty.relationship
          }
        },
        {
          key: {
            text: "Reason for completing"
          },
          value: {
            text: juror.thirdParty.thirdPartyReason
          }
        },
        {
          key: {
            text: "Main phone"
          },
          value: {
            text: juror.thirdParty.mainPhone | replace(' ', '')
          }
        },
        {
          key: {
            text: "Other phone"
          },
          value: {
            text: juror.thirdParty.otherPhone | replace(' ', '')
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: juror.thirdParty.emailAddress | lower
          }
        }
      ]
    }) }}
  </div>
</div>