{% set thirdPartyNameParts = [juror.thirdParty.thirdPartyFName, juror.thirdParty.thirdPartyLName] | join(" ") %}

{% set thirdPartyReason = "-" %}

{% if juror.thirdParty.thirdPartyReason === "other" and juror.thirdParty.thirdPartyOtherReason %}
    {% set thirdPartyReason = "Other - " + juror.thirdParty.thirdPartyOtherReason %}
{% elif juror.thirdParty.thirdPartyReason === "nothere"%}
    {% set thirdPartyReason = "Juror is not here" %}
{% elif juror.thirdParty.thirdPartyReason === "assistance"%}
    {% set thirdPartyReason = "Assistance" %}
{% elif juror.thirdParty.thirdPartyReason === "deceased"%}
    {% set thirdPartyReason = "Deceased" %}
{% elif juror.thirdParty.thirdPartyOtherReason %}
    {% set thirdPartyReason = juror.thirdParty.thirdPartyOtherReason %}
{% endif %}


<div class="mod-juror-record__title govuk-body">
  <h2 id="jurorDetailsLabel" class="govuk-heading-m">Third party details</h2>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: thirdPartyNameParts if (thirdPartyNameParts and thirdPartyNameParts !== " ") else "-"
          }
        },
        {
          key: {
            text: "Relationship to juror"
          },
          value: {
            text: juror.thirdParty.relationship or "-"
          }
        },
        {
          key: {
            text: "Reason for completing"
          },
          value: {
            text: thirdPartyReason
          }
        },
        {
          key: {
            text: "Main phone"
          },
          value: {
            text: (juror.thirdParty.mainPhone | replace(' ', '')) or "-"
          }
        },
        {
          key: {
            text: "Other phone"
          },
          value: {
            text: (juror.thirdParty.otherPhone | replace(' ', '')) or "-"
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: (juror.thirdParty.emailAddress | lower) or "-"
          }
        }
      ]
    }) }}
  </div>
</div>