{% extends "./layouts/default.njk" %}

{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/badge/macro.njk" import mojBadge %}
{% from "./includes/reply-type-tag-macro.njk" import replyTypeTag %}

{% block page_title %}
  {{ serviceName }} - Your work - To do
{% endblock %}

{% block page_identifier %}your work - to do{% endblock %}

{% set currentApp = "Summons replies" %}

{% block beforeContent %}
  <div class="govuk-!-margin-top-5">
    {% if responseWasActioned %}
      {% set bannerHtmlMessage %}
        Summons reply for
        <a href="{{ url('juror-record.overview.get', { jurorNumber: responseWasActioned.jurorDetails.jurorNumber }) }}" class="govuk-link">
          {{ responseWasActioned.jurorDetails.jurorNumber }}</a>
        {{ responseWasActioned.jurorDetails.jurorName }}
        successfully processed:
        <b>{{ responseWasActioned.type }}</b>
      {% endset %}

      {{ mojBanner({
        type: "success",
        html: bannerHtmlMessage,
        iconFallbackText: "Success"
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your work</h1>

      {% include "includes/responses_navigation.njk" %}

      {% if counts.total > 0 %}
        <table class="govuk-table" data-module="moj-sortable-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">Juror number</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Juror name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Court</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Reply type</th>
              <th scope="col" class="govuk-table__header" aria-sort="ascending">Date received</th>
              <th scope="col" class="govuk-table__header" aria-sort="descending">Alerts</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            {% for response in responses.items %}

              {# setup the alert html #}
              {% if response.alert.alertText %}
                {% set alertHTML %}
                {{ mojBadge({
                    text: response.alert.alertText,
                    classes: 'moj-badge--red'
                  }) }}
                {% endset %}
              {% else %}
                {% set alertHTML = '' %}
              {% endif %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="/response/{{ response.jurorNumber }}" class="govuk-link">{{ response.jurorNumber }}</a>
                </td>
                <td class="govuk-table__cell" data-sort-value="{{ response.firstName }} {{ response.lastName }}">{{ response.firstName }}
                  {{ response.lastName }}</td>
                <td class="govuk-table__cell">{{ response.courtName }}</td>
                <td class="govuk-table__cell" data-sort-value="{{ response.replyType | replyTypeSort }}">
                  {{replyTypeTag({
                    replyType: response.replyType
                  })}}
                </td>
                <td class="govuk-table__cell" data-sort-value="{{response.receivedAt | dateFilter('DD/MM/YYYY', 'YYYYMMDD')}}">
                  {{response.receivedAt | dateFilter("DD/MM/YYYY", "D MMM YYYY")}}
                </td>
                <td class="govuk-table__cell" data-sort-value="{{response.alert.alertSort}}">{{ alertHTML | safe }}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      {% else %}
        <p class="govuk-body">You have no replies to do.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}