{% extends "./layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}Sign in - Juror Digital{% endblock %}
{% block page_identifier %}Login{% endblock %}

{% block content %}

  {% if errors.items["email"] %}
    {% set emailError = {"text": errors.items['email'][0].details} %}
  {% else %}
    {% set emailError = undefined %}
  {% endif %}

  {% include "includes/errors.njk" %}

  <div class="container-small">
    <h1 class="heading-large">Sign in</h1>

    {{ govukButton({
      text: "Sign in",
      href: url("authentication.azure.get"),
      classes: "govuk-button--start"
    }) }}

    {% if env === "development" %}
      <form action="{{ url('login.post') }}" method="POST" id="login">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-20",
          id: "email",
          name: "email",
          errorMessage: emailError
        }) }}

        {{ govukButton({
          text: "Sign in with email",
          href: "/login",
          classes: "govuk-button--start"
        }) }}

        {{ csrfProtection(csrftoken) }}
      </form>
    {% endif %}

  </div>

{% endblock %}
