{% extends "./layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - Sign in{% endblock %}
{% block page_identifier %}Sign in{% endblock %}

{% block content %}

  {% if errors.items["email"] %}
    {% set emailError = {"text": errors.items['email'][0].details} %}
  {% else %}
    {% set emailError = undefined %}
  {% endif %}

  {% include "includes/errors.njk" %}

  <div class="container-small">
    <h1 class="heading-large">Sign in</h1>

    {{ govukButton({
      text: "Sign in",
      href: url("authentication.azure.get"),
      classes: "govuk-button--start"
    }) }}

    {% if env === "development" || skipSSO === true %}
      <form action="{{ url('authentication.email.dev') }}" method="POST" id="emailAuth">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-20",
          id: "email",
          name: "email",
          errorMessage: emailError
        }) }}

        {{ govukButton({
          text: "Sign in with email",
          classes: "govuk-button--start",
          attributes: {
            id: "signInEmailButton"
          }
        }) }}

        {{ csrfProtection(csrftoken) }}
      </form>
    {% endif %}

  </div>

{% endblock %}
