{% extends "./layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}{{ serviceName }} - Sign in{% endblock %}
{% block page_identifier %}Sign in{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  {# username error #}
  {% if errors.items["userID"] %}
    {% set usernameError = {"text": errors.items['userID'][0].details} %}
  {% else %}
    {% set usernameError = undefined %}
  {% endif %}

  {# password error #}
  {% if errors.items["password"] %}
    {% set passwordError = {"text": errors.items['password'][0].details} %}
  {% else %}
    {% set passwordError = undefined %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('login.post') }}" method="post" id="login">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Sign in</h1>
          </legend>

          {{ govukInput({
            label: {
              text: "Username"
            },
            classes: "govuk-input--width-20",
            id: "userID",
            name: "userID",
            errorMessage: usernameError
          }) }}

          {{ govukInput({
            label: {
              text: "Password"
            },
            classes: "govuk-input--width-20",
            id: "password",
            name: "password",
            type: "password",
            errorMessage: passwordError
          }) }}

        </fieldset>

        <button id="signInButton" class="govuk-button" data-module="govuk-button">Sign in</button>
        <input type="hidden" name="_csrf" value="{{csrftoken}}">

      </form>

    </div>
  </div>

{% endblock %}
