{% if errors.count > 0 %}

  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      {{ errors.title }}
    </h2>
    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">
        {% for item in errors.items[0].summary %}
          <li>
            <a href="#{{ errors.items[0].fields[loop.index0] }}">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>

{% endif %}
