  {% from "govuk/components/table/macro.njk" import govukTable %}

  {% if data.expenses | length > 0%}

    {% set tableRows = [] %}
    {% for expense in data.expenses %}
        {% set tableRows = (tableRows.push(
          [
            {
              html: '<a href=' + url("juror-management.unpaid-attendance.expense-record.detail.get", { jurorNumber: jurorNumber, poolNumber: poolNumber, auditNumber: expense.auditNumber }) + ' class="govuk-link">' + expense.auditNumber + '</a>'
            },
            {
              text: expense.attendanceFrom | dateFilter("YYYY-MM-DD", "ddd DD MMM YYYY"),
              attributes: {
                "data-sort-value": expense.attendanceFrom 
              }
            },
            {
              text: expense.attendanceTo | dateFilter("YYYY-MM-DD", "ddd DD MMM YYYY"),
              attributes: {
                "data-sort-value": expense.attendanceTo 
              }
            },
            {
              text: expense.dateSubmitted | dateFilter("YYYY-MM-DD", "ddd DD MMM YYYY"),
              attributes: {
                "data-sort-value": expense.submittedDate 
              }
            },
            {
              text: expense.dateApproved | dateFilter("YYYY-MM-DD", "ddd DD MMM YYYY"),
              attributes: {
                "data-sort-value": expense.dateApproved 
              }
            },
            {
              text: expense.timeApproved,
              attributes: {
                "data-sort-value": expense.timeApproved
              }
            },
            {
              text: expense.total,
              format: "numeric"
            }
          ]
        ), tableRows) %}
    {% endfor %}

    {{ govukTable({
      attributes: {
        'data-module': 'moj-sortable-table'
      },
      head: [
        {
          text: "Audit number",
          attributes: {
            "aria-sort": "ascending",
            "aria-label": "Audit number"
          }
        },
        {
          text: "Attendance from",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Attendance from"
          }
        },
        {
          text: "Attendance to",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Attendance to"
          }
        },
        {
          text: "Submitted",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Submitted"
          }
        },
        {
          text: "Date approved",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Date approved"
          }
        },
        {
          text: "Time approved",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Time approved"
          }
        },
        {
          text: "Total approved",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Total approved"
          },
          format: "numeric"
        }
      ],
      rows: tableRows
    }) }}

  {% else %}

    <p class="govuk-body">There are no results</p>

  {% endif %}
