{% from "govuk/components/pagination/macro.njk" import govukPagination %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% set totals = data.expenses.totals %}

    <table class="govuk-table mod-horizontal-scroll-table">
      <caption class="govuk-table__caption govuk-visually-hidden">Expenses list/caption>
      
      <hr class="govuk-section-break govuk-section-break--visible">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Attendance</th>
          <th scope="col" class="govuk-table__header">P. transport</th>
          <th scope="col" class="govuk-table__header">Taxi</th>
          <th scope="col" class="govuk-table__header">Motorcycle</th>
          <th scope="col" class="govuk-table__header">Car</th>
          <th scope="col" class="govuk-table__header">Bicycle</th>
          <th scope="col" class="govuk-table__header">Parking</th>
          <th scope="col" class="govuk-table__header">Food and drink</th>
          <th scope="col" class="govuk-table__header">Loss of earnings</th>
          <th scope="col" class="govuk-table__header">Extra care</th>
          <th scope="col" class="govuk-table__header">Other</th>
          <th scope="col" class="govuk-table__header">(Smartcard)</th>
          <th scope="col" class="govuk-table__header">Method</th>
          <th scope="col" class="govuk-table__header mod-highlight-table-data__grey mod-center-table-data">Total</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for expense in expenseData.expenses%}

        {% set attendanceType = "Full day" if expense.attendanceType else "Half day" %}
        {% if loop.index > 10 or page > 1%}
          {% set attendanceType = attendanceType + " (>10 days)"%}
        {% endif %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#" class="govuk-body govuk-link" id="expenseDateLink">{{expense.appearanceDate | dateFilter("YYYY-MM-DD", "ddd DD MMM YYYY")}}</a></td>
          <td class="govuk-table__cell">{{attendanceType}}</td>
          <td class="govuk-table__cell">£{{expense.publicTransport}}</td>
          <td class="govuk-table__cell">£{{expense.taxi}}</td>
          <td class="govuk-table__cell">£{{expense.motorcycle}}</td>
          <td class="govuk-table__cell">£{{expense.car}}</td>
          <td class="govuk-table__cell">£{{expense.bicycle}}</td>
          <td class="govuk-table__cell">£{{expense.parking}}</td>
          <td class="govuk-table__cell">£{{expense.foodAndDrink}}</td>
          <td class="govuk-table__cell">£{{expense.lossOfEarnings}}</td>
          <td class="govuk-table__cell">£{{expense.extraCare}}</td>
          <td class="govuk-table__cell">£{{expense.other}}</td>
          <td class="govuk-table__cell">(£{{expense.smartCard}})</td>
          <td class="govuk-table__cell">{{expense.paymentMethod}}</td>
          <td class="govuk-table__cell mod-highlight-table-data__grey mod-center-table-data">£{{expense.total}}</td>
        </tr>
        {% endfor %}
        <tr class="govuk-table__row mod-highlight-table-row__grey">
          <td class="govuk-table__cell">Totals</td>
          <td class="govuk-table__cell">{{expenseData.totals.totalDays}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.publicTransport}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.taxi}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.motorcycle}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.car}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.bicycle}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.parking}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.foodAndDrink}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.lossOfEarnings}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.extraCare}}</td>
          <td class="govuk-table__cell">£{{expenseData.totals.other}}</td>
          <td class="govuk-table__cell">(£{{expenseData.totals.smartCard}})</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell mod-center-table-data">£{{expenseData.totals.total}}</td>
        </tr>
      </tbody>
    </table>

    {{ govukPagination({
      previous: {
        href: pagination.prev
      },
      next: {
        href: pagination.next
      },
      items: pagination.items
    }) }} 

  </div>
</div>