{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [
    {
      text: "Draft",
      href: url("juror-management.unpaid-attendance.expense-record.get", {jurorNumber: jurorNumber, poolNumber: poolNumber}) + "?status=draft",
      active: currentTab === "draft",
      attributes: {
        id: "draftTab"
      }
    }, 
    {
      text: "For approval",
      href: url("juror-management.unpaid-attendance.expense-record.get", {jurorNumber: jurorNumber, poolNumber: poolNumber}) + "?status=forApproval",
      active: currentTab === "forApproval",
      attributes: {
        id: "forApprovalTab"
      }
    },
    {
      text: "Approved",
      href: url("juror-management.unpaid-attendance.expense-record.get", {jurorNumber: jurorNumber, poolNumber: poolNumber}) + "?status=approved",
      active: currentTab === "approved",
      attributes: {
        id: "approvedTab"
      }
    }
  ]
}) }}