{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - approve expenses{% endblock %}
{% block page_identifier %}Approve expenses{% endblock %}

{% set bacsAndChequeTabHtml %}
  <span id="bacsAndChequeTab">
    BACS and cheque{% if approvalData['bacs-and-cheque'].length > 0 %} <span id="jurorApprovalCount" class="moj-notification-badge jd-badge-blue">{{ approvalData['bacs-and-cheque'].length }}</span>{% endif %}</a>
  </span>
{% endset %}
{% set cashTabHtml %}
  <span id="cashTab">
    Cash{% if approvalData['cash'].length > 0 %} <span id="jurorApprovalCount" class="moj-notification-badge jd-badge-blue">{{ approvalData['cash'].length }}</span>{% endif %}</a>
  </span>
{% endset %}

{% set currentApp = "Jurors" %}
{% set nav = "approve-expenses" %}

{% block beforeContent %}
  <div class="govuk-!-margin-top-5">
    {% if bannerMessage %}
      {{ mojBanner({
        type: "success",
        text: bannerMessage,
        iconFallbackText: "Success"
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block content %}

{% include "includes/errors.njk" %}  

  {% set filterByDate %}
    <div class="filter-by-date">
      <div class="additional-stats__row">
        
        {% set approveExpensesFromDateError = undefined %}
        {% set approveExpensesToDateError = undefined %}
        {% set toggle = false %}

        {% if errors.items["approveExpensesFromDate"] %}
          {% set approveExpensesFromDateError = errors.items["approveExpensesFromDate"][0].details %}
        {% endif %}
        {% if errors.items["approveExpensesToDate"] %}
          {% set approveExpensesToDateError = errors.items["approveExpensesToDate"][0].details %}
        {% endif %}
        {% if errors.items["approveExpensesFromDate"] or errors.items["approveExpensesToDate"]%}
          {% set toggle = true %}
        {% endif %}
        {% if params.filterStartDate or params.filterEndDate %}
          {% set toggle = true %}
        {% endif %}

        {{ datePicker({
          id: "filterStartDate",
          label: {
            text: "Date from"
          },
          hint: "Use dd/mm/yyyy format.",
          dateValue: params.filterStartDate,
          dateError: approveExpensesFromDateError
        }) }}

        {{ datePicker({
          id: "filterEndDate",
          label: {
            text: "Date to"
          },
          hint: "Use dd/mm/yyyy format.",
          dateMin: filters.filterStartDate,
          dateValue: params.filterEndDate,
          dateError: approveExpensesToDateError
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            type: "submit",
            text: "Apply filter",
            classes: "govuk-button--secondary"
          }) }}
          <a class="govuk-link" href="{{ clearFilter }}">Clear filter</a>
        </div>
      </div>
    </div>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Approve expenses</h1>
      <form action="{{ processDateFilterUrl }}" class="mod-filter-form" id="filterByDateForm" method="post">
        {{ govukDetails({
            summaryText: "Filter by date",
            html: filterByDate,
            id: "filterByDate",
            open: toggle
        }) }}

        <input type="hidden" name="currentTab" value="{{ currentTab }}">
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojSubNavigation({
        label: "Approve expenses navigation",
        items: [{
          html: bacsAndChequeTabHtml,
          href: tabsUrls.bacsAndCheque,
          active: currentTab === "bacs-and-cheque"
        },
        {
          html: cashTabHtml,
          href: tabsUrls.cash,
          active: currentTab === "cash"
        }]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "./_partials/approve-expenses-table.njk" %}
    </div>
  </div>
{% endblock %}

{% block body_end %}
  {{ super() }}

  <script type="text/javascript" src="{{ assetPath }}js/ds-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      const datePickers = []
        .slice
        .call(document.querySelectorAll('[data-module="ds-datepicker"]'));
      datePickers.forEach(datePicker => new DSDatePicker(datePicker, {imagePath: '{{ assetPath }}assets/images/icons/'}).init());
    });
  </script>
{% endblock %}