{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "custom-components/macros/arrows.njk" import leftArrowSVG %}
{% from "./_partials/attendance-sub-nav.njk" import attendanceSubNav %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% block page_title %}{{ serviceName }} - Juror management - Attendance{% endblock %}
{% block page_identifier %}Juror management - Attendance{% endblock %}

{% set currentApp = "Jurors" %}

{% block beforeContent %}
  {{ attendanceSubNav({
    inWaitingUrl: url("juror-management.attendance.get"),
    onTrialUrl: url("juror-management.jurors-on-trial.get"),
    currentView: "in-waiting"
  }) }}

  {% if tmpFields !== undefined %}
    {% include "includes/errors.njk" %}
  {% endif %}
 {% if previousWorkingDayIsConfirmed == false and attendanceStatus !== "Confirmed" %}
     <div class="govuk-grid-column-full">
      {{ mojBanner({
        type: "information",
        text: previousWorkingDay + " has not been confirmed yet, confirm that days attendance before checking in jurors for today",
        iconFallbackText: "information"
      }) }}
      </div>
 {% endif %}
  <div class="govuk-error-summary js-hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <p class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </p>
    <div class="govuk-error-summary__body">
      <ul id="errors-list" class="govuk-list govuk-error-summary__list">
      </ul>
    </div>
  </div>

  <a href="?date={{ yesterdayRaw }}" class="govuk-body govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline">
    {{ leftArrowSVG() }} {{ yesterday }}
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-l">Jurors in waiting</span>
      <h1 class="govuk-heading-l" id="attendanceDate">{{ selectedDate }}</h1>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-button-group mod-flex mod-justify-end">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            {% if attendanceStatus === "Unconfirmed" and canRecordAttendance%}
              {{ govukButton({
                text: "Confirm attendance",
                classes: "govuk-button--secondary",
                href: url('juror-management.attendance.confirm-attendance.get')
              }) }}
            {% endif %}
            {{ mojButtonMenu({
              items: [
                {
                  text: "Persons attending (summary)",
                  href: reportUrls.personsAttendingSummary,
                  classes: "govuk-button--secondary"
                },
                {
                  text: "Persons attending (detailed)",
                  href: reportUrls.personsAttendingDetail,
                  classes: "govuk-button--secondary"
                }
              ],
              attributes: {
                id: 'printButtonMenu'
              }
            }) }}

              {% set auditNumbers = [] %}
              {% for auditNumber in poolAttendaceAuditNumbers %}
                {% set auditNumbers = (auditNumbers.push(
                  {
                    text: auditNumber,
                    href: url('reports.pool-attendance-audit.report.get', {'filter': auditNumber}),
                    classes: "govuk-button--secondary"
                  }
                ), auditNumbers) %}
              {% endfor %}

              {% if auditNumbers | length %}
                {{ mojButtonMenu({
                  items: auditNumbers,
                  attributes: {
                    id: 'printAttendanceButtonMenu'
                  }
                }) }}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if attendanceStatus === "Confirmed" %}
      <div class="govuk-grid-column-full"> 
        {{ govukTag({
          text: "Confirmed",
          classes: "mod-tag--dark-blue"
        }) }}
      </div>
    {% endif %}
  </div>

  {% if status === "in-waiting" %}
    {% include "./attendance/in-waiting.njk" %}
  {% elif status === "in-trial" %}
  {% endif %}
{% endblock %}

{% block body_end %}
  {{ super() }}

  <script src="{{ assetPath }}js/attendance.js"></script>
  <script nonce="{{ nonce }}">
    new MOJFrontend.ButtonMenu({
      container: $('#printButtonMenu'),
      mq: '(min-width: 200em)',
      buttonText: 'Print',
      buttonClasses: 'govuk-!-margin-bottom-1 govuk-button--secondary moj-button-menu__toggle-button--secondary',
    });
    new MOJFrontend.ButtonMenu({
      container: $('#printAttendanceButtonMenu'),
      mq: '(min-width: 200em)',
      buttonText: 'Print attendance audit',
      buttonClasses: 'govuk-!-margin-bottom-1 govuk-button--secondary moj-button-menu__toggle-button--secondary',
    });
  </script>
{% endblock %}