{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% block page_title %}{{ serviceName }}- juror-management - manage jurors{% endblock %}
{% block page_identifier %}juror-management - manage jurors{% endblock %}

{% set pendingApprovalHtml %}
  <span id="pendingApprovalTab">Pending Approval{% if pendingApprovalCount > 0 %} <span id="pendingApprovalCount" class="moj-notification-badge jd-badge-blue">{{ pendingApprovalCount }}</span>{% endif %}</a></span>
{% endset %}

{% set currentApp = "Jurors" %}

{% block content %}

  {% if bannerMessage %}
    {{ mojBanner({
      type: "success",
      text: bannerMessage,
      iconFallbackText: "Success"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Manage jurors</h1>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-button-group mod-flex mod-justify-end">
        {% if isCourtUser %}
          {{ govukButton({
            text: "Create juror record",
            classes: "govuk-button--secondary",
            href: url('create-juror-record.get')
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Refresh",
          classes: "govuk-button--secondary",
          href: "/juror-management/manage-jurors/" + currentTab
        }) }}
        {{ govukButton({
          text: "Print",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojSubNavigation({
        label: "Jurors attendance navigation",
        items: [{
          text: "In waiting",
          href: url('juror-management.manage-jurors.in-waiting.get'),
          active: currentTab === "in-waiting"
        },
        {
          text: "On trials",
          href: url('juror-management.manage-jurors.on-trials.get'),
          active: currentTab === "on-trials"
        },
        {
          text: "On call",
          href: url('juror-management.manage-jurors.on-call.get'),
          active: currentTab === "on-call"
        },
        {
          html: pendingApprovalHtml,
          href: url('juror-management.manage-jurors.pending-approval.get'),
          active: currentTab === "pending-approval"
        }]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if currentTab === "in-waiting" %}
        {# IN WAITING PAGE CONTENT NOT FINALISED BY DESIGN TEAM #}
        {% include "./manage-jurors/in-waiting.njk" %}
      {% elif currentTab === "on-trials" %}
         <p class="govuk-body">ON TRIALS TAB</p>
      {% elif currentTab === "on-call" %}
          <p class="govuk-body">ON CALL TAB</p>
      {% elif currentTab === "pending-approval" %}
        {% include "./manage-jurors/pending-approval.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}