{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block page_title %}{{ serviceName }} - Juror management - Manage jurors{% endblock %}
{% block page_identifier %}Juror management - Manage jurors{% endblock %}

{% set pendingApprovalHtml %}
  <span id="pendingApprovalTab">Pending approval{% if pendingApprovalCount > 0 %} <span id="pendingApprovalCount" class="moj-notification-badge jd-badge-blue">{{ pendingApprovalCount }}</span>{% endif %}</a></span>
{% endset %}

{% set currentApp = "Jurors" %}

{% block content %}

  {% if bannerMessage %}
    {{ mojAlert({
      variant: "success",
      text: bannerMessage,
      iconFallbackText: "Success"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Manage jurors</h1>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-button-group mod-flex mod-justify-end">
        {% if isCourtUser %}
          {{ govukButton({
            text: "Create juror record",
            classes: "govuk-button--secondary",
            href: url('create-juror-record.get')
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Refresh",
          classes: "govuk-button--secondary",
          href: "/juror-management/manage-jurors/" + currentTab
        }) }}
        {{ govukButton({
          text: "Print",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}
      </div>
    </div>
  </div>

  {% if pendingApprovalCount > 0 %}
    {{ mojSubNavigation({
      label: "Jurors attendance navigation",
      classes: "govuk-!-margin-bottom-3",
      items: [{
        text: "Pools",
        href: url('juror-management.manage-jurors.pools.get'),
        active: currentTab === "pools"
      },
      {
        html: pendingApprovalHtml,
        href: url('juror-management.manage-jurors.pending-approval.get'),
        active: currentTab === "pending-approval"
      }]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if currentTab === "pools" %}
        {% include "./manage-jurors/pools.njk" %}
      {% elif currentTab === "pending-approval" %}
        {% include "./manage-jurors/pending-approval.njk" %}
      {% endif %}
    </div>
  </div>
  
{% endblock %}
