{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - juror-management - non-attendance{% endblock %}
{% block page_identifier %}juror-management - non-attendance{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
   
    {% include "includes/errors.njk" %}

    {% set nonAttendanceDayError = undefined %}
    {% if errors.items["nonAttendanceDay"] %}
      {% set nonAttendanceDayError = errors.items['nonAttendanceDay'][0].details %}
    {% endif %}

    </div>
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl" id="attendanceDate">Add a non-attendance day</h1>
      <p class="govuk-body">You should only add a non-attendance day if both of these apply:</p>

      <ul class="govuk-list govuk-list--bullet">
       <li>the juror was not needed at court</li>
       <li>they could not return early to paid work</li>
      </ul>

      <p class="govuk-body">By adding a non-attendance day, the juror can be paid for loss of earnings for this day.</p>
      <form action="{{ postUrl }}" method="POST" id="nonAttendanceDayForm">
        <h2 class="govuk-!-margin-top-6">Enter a date for the non-attendance day</h2>

        {{ datePicker({
          id: "nonAttendanceDay",
          hint: "Use dd/mm/yyyy format. For example, 31/01/2023.",
          dateValue: tmpFields.nonAttendanceDay,
          dateError: nonAttendanceDayError, 
          dateMax: "" | makeDate | dateFilter(null, "DD/MM/YYYY")
        }) }}
        <div class="govuk-button-group">
            {{ govukButton({
              text: "Add non-attendance day",
              type: "submit"
            }) }}
            <a class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>
    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script type="text/javascript" src="{{ assetPath }}js/ds-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      const datePickers = []
        .slice
        .call(document.querySelectorAll('[data-module="ds-datepicker"]'));
      datePickers.forEach(datePicker => new DSDatePicker(datePicker, {imagePath: '{{ assetPath }}assets/images/icons/'}).init());
    });
  </script>
{% endblock %}