{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block page_title %}{{ serviceName }} - Update juror record - Select option{% endblock %}
{% block page_identifier %}Update juror record - Select option{% endblock %}

{% block content %}

  {% if errors.items["jurorDeceased"] %}
    {% set deceasedCommentError = {"text": errors.items['jurorDeceased'][0].details} %}
  {% else %}
    {% set deceasedCommentError = undefined %}
  {% endif %}

  {% set deceasedHtml %}
    {{ govukTextarea ({
      id: "jurorDeceased",
      name: "jurorDeceased",
      spellcheck: false,
      rows: "3",
      classes: "govuk-!-width-three-quarters",
      label: {
        text: "Comments to record in the juror’s history"
      },
      errorMessage: deceasedCommentError
    }) }}
    {% if replyStatus === null %}
      {{ govukCheckboxes({
        name: "thirdPartyDeceased",
        items: [
          {
            value: "thirdParty",
            text: "Tick if third party told us by paper summons reply",
            checked: thirdPartyDeceased === 'thirdParty'
          }
        ]
      }) }}
    {% endif %}
  {% endset %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ processUrl }}" method="POST" id="updateRecordForm">

        <h1 class="govuk-heading-l">Update Juror Record</h1>
        
        {% if errors.items["jurorRecordUpdate"] %}
          {% set jurorRecordUpdate = {"text": errors.items['jurorRecordUpdate'][0].details} %}
        {% else %}
          {% set jurorRecordUpdate = undefined %}
        {% endif %}

        {% include "./_partials/juror-update-options.njk" %}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
      </form>
    </div>
  </div>
{% endblock %}