{% extends "../../layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}
  You cannot approve expenses that you submitted
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">You cannot approve expenses that you submitted</h1>

  <p class="govuk-body">Another colleague will need to approve them.</p>

  {{ govukButton({
  text: "Go back",
  href: backLinkUrl,
  attributes: {
          id: "backButton"
        }
  }) }}

{% endblock %}
