{% extends "../../layouts/default.njk" %}

{% set currentApp = "Juror management "%}

{% block content %}

  <h2 class="govuk-heading-m">Juror record not found</h2>

  <p>You tried to look for a juror-record that does not exist.</p>

  <a class="govuk-link" href="{{ url('homepage.get') }}">Go back home</a>

{% endblock %}