
{% extends "layouts/default-dashboard.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block page_identifier %}Return jurros{% endblock %}
{% block page_title %}{{ serviceName }} - Return jurors{% endblock %}

{% block content %}
{% set jurorPlural = "" if 1 == selectedJurors.length else "s" %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">How do you want to return the juror{{jurorPlural}} you selected?</h1>
      <form method="post">

        {% if errors.items["handleAttendance"] %}
          {% set handleAttendanceError = {"text": errors.items['handleAttendance'][0].details} %}
        {% else %}
          {% set handleAttendanceError = undefined %}
        {% endif %}

        {{ govukRadios({
          name: "handleAttendance",
          errorMessage: handleAttendanceError,
          value: prevAnswer,
          items: [
            { value: 'confirm', text: 'Return and confirm attendance' },
            { value: 'return', text: 'Return but do not confirm attendance'},
            { value: 'complete', text: 'Return, confirm attendance and complete their service' }
          ]})
        }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {
              id: "returnJurorsButton",
              formAction: returnUrl
            }
          }) }}
          <a id="cancelLink" class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>
    </div>
  </div>

{% endblock %}