{% extends "../../layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set currentApp = "Pool management" %}

{% block page_title %}{{ serviceName }} - Delete pool{% endblock %}
{% block page_identifier %}Delete pool{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Are you sure you want to delete this {{ "pool" if isActive else "request" }}?</h1>

      <form action="{{ url(confirmUrl) }}" method="post">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Delete pool" if isActive else "Delete pool request",
            classes: "govuk-button--warning",
            type: "submit",
            attributes: {
              id: "deletePoolButton"
            }
          }) }}

          <a id="cancelLink" class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>

        <input type="hidden" name="poolNumber" value="{{ poolNumber }}">
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>

    </div>
  </div>

{% endblock %}