{% extends "../../layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set currentApp = "Pool management" %}

{% block page_identifier %}Delete Pool{% endblock %}

{% block content %}

  {% set statusLabel = "pool" if isActive else "request" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">The {{ statusLabel }} cannot be deleted</h1>

      <p class="govuk-body">This {{ statusLabel }} contains {{ members }} juror records. These records need to be removed from the {{ statusLabel }} before it can be deleted.</p>

      <a id="cancelLink" class="govuk-link" href="{{ cancelUrl }}">Go back</a>

    </div>
  </div>

{% endblock %}