{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/autocomplete/macro.njk" import modAutocomplete %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% set currentApp = "Pool management" %}

{% block page_title %}
  {{ serviceName }} - Deferral maintenance
  {% if data.hasData %} - Court {{ data.court.locationCode }}{% endif %}
{% endblock %}
{% block page_identifier %}Deferral maintenance{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% set courtLocationError = undefined %}
  {% if errors.items["courtNameOrLocationCode"] %}
    {% set courtLocationError = {
      text: errors
        .items["courtNameOrLocationCode"][0]
        .summary
    } %}
  {% endif %}

  {% if data.bannerMessage %}
    {{ mojBanner({
      type: "success",
      html: data.bannerMessage,
      iconFallbackText: "Success"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-xl">Deferral maintenance</h1>

      {% if isBureauUser %}
        <form action="{{ url('pool-management.deferral-maintenance.post') }}" method="POST" class="mod-flex mod-items-end mod-gap-x-2">
          {{ modAutocomplete({
            label: {
              text: "Enter court name or location code"
            },
            class: "govuk-!-width-two-thirds",
            name: "courtNameOrLocationCode",
            id: "courtNameOrLocationCode",
            data: courts,
            errorMessage: courtLocationError
          }) }}

          {{ govukButton({
            text: "Find",
            attributes: {
              id: "deferral-maintenance-find-court-deferrals"
            }
          }) }}

          <input type="hidden" id="csrfToken" name="_csrf" value="{{ csrftoken }}"/>
        </form>
      {% endif %}

    </div>

    {% if data.hasData %}
      <form method="post">
        <div class="govuk-grid-column-full">
          {% if isBureauUser %}<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">{% endif %}
          <h2 class="govuk-heading-l">{{ data.court.locationName | capitalizeFully }} ({{ data.court.locationCode }})</h2>

          <div class="mod-flex mod-gap-x-2">
            {{ govukButton({
              text: "Show filter",
              classes: "govuk-button--secondary",
              attributes: {
                id: "deferral-maintenance-show-filter"
              }
            }) }}
            {{ govukButton({
              text: "Add to a pool",
              href: url('pool-management.deferral-maintencance.process.get', { locationCode: data.court.locationCode }),
              classes: "govuk-button--secondary"
            }) }}
            {{ govukButton({
              text: "Postpone",
              attributes: {
                formAction: url('pool-management.deferral-maintenance.postpone.post', { locationCode: data.court.locationCode })
              },
              classes: "govuk-button--secondary"
            }) }}
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              {% include "./_partials/filters.njk" %}
            </div>

            <div id="deferral-maintenance-table-wrapper" class="govuk-grid-column-full">
              <div class="{% if errors.count > 0 %}govuk-form-group--error{% endif %}">

                {% if errors.count > 0 %}
                  <p id="information-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ errors.items["deferrals"][0].details }}
                  </p>
                {% endif %}

                {% include "./_partials/deferrals-table.njk" %}
              </div>
              {{ govukPagination({
                previous: {
                  href: data.pagination.prev
                },
                next: {
                  href: data.pagination.next
                },
                items: data.pagination.items
              }) }}
            </div>
          </div>
        </div>
      </form>
    {% endif %}

  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript" src="{{ assetPath }}js/deferral-maintenance.js"></script>
  <script type="text/javascript" src="{{ assetPath }}js/ds-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {

      const datePickers = []
        .slice
        .call(document.querySelectorAll('[data-module="ds-datepicker"]'));
      datePickers.forEach(datePicker => new DSDatePicker(datePicker, {imagePath: '{{ assetPath }}assets/images/icons/'}).init());

    });
  </script>
{% endblock %}