<span class="govuk-caption-l">{{ response.jurorName }}</span>
<h1 class="govuk-heading-l">A letter will be automatically sent to the juror requesting the missing information</h1>

<ul class="govuk-list">
  <li class="govuk-!-margin-bottom-6">This will be sent tomorrow.</li>
  <li class="govuk-!-margin-bottom-6">If you hear back from the juror before 6pm today, you should process the reply.</li>
  <li class="govuk-!-margin-bottom-6">This will stop the letter being sent.</li>
</ul>