{% from "moj/components/timeline/macro.njk" import mojTimeline %}

<section class="call-logs {% if hasModAccess %}mod-reply-section{% endif %}">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      <div class="mod-reply-section__title">
        <h2 class="govuk-heading-m">Contact log</h2>

        <div class="govuk-body">
          <a id="notesEditButton" class="govuk-link" href="{{ url('response.contact-logs.add.get', { id: response.jurorNumber, type: method or 'digital' }) }}">Log new contact</a>
        </div>
      </div>

      <span class="govuk-caption-m govuk-!-margin-top-3">Formal record of HMCTS contact with the juror. Members of the public can request to view it under FOI law.</span>

    </div>
  </div>

  {% if response.phoneLogs.length > 0 %}

    {% set logs = [] %}

    {% for log in response.phoneLogs %}
      {% set contactHtml %}
        {% if log.enquiryType %}
          {{ govukTag({
            text: log.enquiryType.description or log.enquiryType,
            classes: "govuk-tag--grey govuk-body"
          }) }}
        {% endif %}
        <p class="govuk-body">{{ log.notes }}</p>
      {% endset %}
      {% set logs = (logs.push({
        label: {
          text: "Contact report"
        },
        html: contactHtml,
        datetime: {
          timestamp: log.logDate,
          type: "datetime"
        },
        byline: {
          text: log.username
        }
      }), logs) %}
    {% endfor %}

    <div class="govuk-grid-column-two-thirds">
      {{ mojTimeline({
        items: logs
      }) }}
    </div>

  {% endif %}

</section>
