<section class="detail-section {% if hasModAccess %}mod-reply-section{% endif %}" id="deferral-excusal-section">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      {% if hasModAccess %}
        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Deferral or excusal</h2>

          {% if method === "paper" and isAddChangeVisible %}
            <div class="govuk-body">
              <a id="deferralExcusalEdit" class="govuk-link" href="{{ url('summons.update-reply-type.get', { id: response.jurorNumber, type: method }) }}">Add or change</a>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="jd-panel-title">
          <h2 class="govuk-heading-m">Deferral or excusal
            {% if canEdit and responseEditEnabled %}
            <div class="edit-actions govuk-body jd-right-align">
              <a id="deferralExcusalCancel" href="#" class="edit-action edit-trigger" data-target="deferral-excusal">Change</a>
            </div>
            {% endif %}
          </h2>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="show-details-container" id="view-deferral-excusal">


    <dl class="govuk-summary-list deferral-excusal">
      {% if method === "paper" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key jd-details-deferral-excusal-head-width">
            Deferral or excusal
          </dt>
          <dd class="govuk-summary-list__value" id="deferralOrExcusal">
            {% if response.deferral === true %}
              <div class="jd-label-blue">Attention<div>
              <div class="jd-label-black govuk-!-font-weight-regular">Deferral request<div>
            {% elif response.excusal === true %}
              <div class="jd-label-blue">Attention<div>
              <div class="jd-label-black govuk-!-font-weight-regular">Excusal request</div>
            {% else %}
              None requested
            {% endif %}
          </dd>
        </div>
      {% else %}
        {% if isDeceased %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key jd-details-deferral-excusal-head-width">
              Deferral or excusal
            </dt>
            <dd class="govuk-summary-list__value" id="deferralOrExcusal">
              N/A
            </dd>
          </div>
        {% elif response.excusalReason %}
          <div class="govuk-summary-list__row info">
            <dt class="govuk-summary-list__key jd-details-deferral-excusal-head-width">
              Deferral or excusal
            </dt>
            <dd class="govuk-summary-list__value" id="deferralOrExcusal">
              <div class="jd-label-blue">Attention<div>
              <div class="jd-label-black">Excusal request</div>
              {{ response.excusalReason }}
            </dd>
          </div>
        {% elif response.deferralReason %}
          <div class="govuk-summary-list__row info">
            <dt class="govuk-summary-list__key jd-details-deferral-excusal-head-width">
              Deferral or excusal
            </dt>
            <dd class="govuk-summary-list__value govuk-body" id="deferralOrExcusal">
              <div class="jd-label-blue">Attention<div>
              <div class="jd-label-black">Deferral request<div>
              <div class="govuk-body">{{ response.deferralReason }}<div>
            </dd>
          </div>

          {% if response.deferralDate %}
            <div class="govuk-summary-list__row info">
              <dt class="govuk-summary-list__key jd-details-deferral-excusal-head-width">
                Available dates
              </dt>
              <dd class="govuk-summary-list__value govuk-body" id="deferralDates">
                {% for date in response.deferralDate.split(',') %}
                  {% if loop.index == 1 %}
                    {% set dateLabel = "First choice" %}
                  {% elif loop.index == 2 %}
                    {% set dateLabel = "Second choice" %}
                  {% elif loop.index == 3 %}
                    {% set dateLabel = "Third choice" %}
                  {% else %}
                    {% set dateLabel %}
                      Date {{loop.index}}
                    {% endset %}
                  {% endif %}

                  <strong class="bold-small title">{{ dateLabel }}</strong><br />
                  <div id="date{{loop.index}}" class="date">{{ date }}</div>
                {% endfor %}
              </dd>
            </div>
          {% endif %}
        {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key jd-details-deferral-excusal-head-width">
              Deferral or excusal
            </dt>
            <dd class="govuk-summary-list__value govuk-body" id="deferralOrExcusal">
              Date of jury service confirmed
            </dd>
          </div>
        {% endif %}
      {% endif %}
    </dl>
  </div>

  <div class="edit-section" id="edit-deferral-excusal">
    {% include "../_edits/edit-deferral-excusal.njk" %}
  </div>
</section>
