<section class="detail-section {% if hasModAccess %}mod-reply-section{% endif %}" id="deferral-excusal-section">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      {% if hasModAccess %}
        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Deferral or excusal</h2>

          {% if method === "paper" and isAddChangeVisible %}
            <div class="govuk-body">
              <a id="deferralExcusalEdit" 
                 class="govuk-link"
                 aria-label="Add or change deferral or excusal" 
                 href="{{ url('summons.update-reply-type.get', { id: response.jurorNumber, type: method }) }}"
              >
                Add or change
              </a>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="jd-panel-title">
          <h2 class="govuk-heading-m">Deferral or excusal
            {% if canEdit and responseEditEnabled %}
            <div class="edit-actions govuk-body jd-right-align">
              <a id="deferralExcusalCancel" 
                 href="#" 
                 class="edit-action edit-trigger" 
                 data-target="deferral-excusal"
                 aria-label="Change deferral or excusal"
              >
                Change
              </a>
            </div>
            {% endif %}
          </h2>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="show-details-container" id="view-deferral-excusal">

    <table class="govuk-table table-summary deferral-excusal" summary="Type of reply">
      <caption class="govuk-table__caption govuk-visually-hidden">Deferral or exclusal information</caption>

      <tbody class="govuk-table__body">

        {% if method === "paper" %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header jd-details-deferral-excusal-head-width">Deferral or excusal</th>
            <td class="govuk-table__cell" id="deferralOrExcusal">
              {% if response.deferral === true %}
                <div class="jd-label-blue">Attention<div>
                <div class="jd-label-black govuk-!-font-weight-regular">Deferral request<div>
              {% elif response.excusal === true %}
                <div class="jd-label-blue">Attention<div>
                <div class="jd-label-black govuk-!-font-weight-regular">Excusal request</div>
              {% else %}
                None requested
              {% endif %}
            </td>
          </tr>
        {% else %}

          {% if isDeceased %}
            <tr class="govuk-table__row">
              <th class="govuk-table__header jd-details-deferral-excusal-head-width">Deferral or excusal</th>
              <td class="govuk-table__cell" id="deferralOrExcusal">N/A</td>
            </tr>

          {% elif response.excusalReason %}
            <tr class="govuk-table__row info">
              <th class="govuk-table__header jd-details-deferral-excusal-head-width">Deferral or excusal</th>
              <td class="govuk-table__cell" id="deferralOrExcusal">
                <div class="jd-label-blue">Attention<div>
                <div class="jd-label-black">Excusal request</div>
                {{ response.excusalReason }}
              </td>
            </tr>

          {% elif response.deferralReason %}
            <tr class="govuk-table__row info">
              <th class="govuk-table__header jd-details-deferral-excusal-head-width">Deferral or excusal</th>
              <td class="govuk-table__cell govuk-body" id="deferralOrExcusal">
                <div class="jd-label-blue">Attention<div>
                <div class="jd-label-black">Deferral request<div>
                <div class="govuk-body">{{ response.deferralReason }}<div>
              </td>
            </tr>

            <tr class="info">
            {% if response.deferralDate %}
              <th class="govuk-table__header">Available dates</th>
              <td id="deferralDates" class="govuk-table__cell">

              {% for date in response.deferralDate.split(',') %}
                {% if loop.index == 1 %}
                  {% set dateLabel = "First choice" %}
                {% elif loop.index == 2 %}
                  {% set dateLabel = "Second choice" %}
                {% elif loop.index == 3 %}
                  {% set dateLabel = "Third choice" %}
                {% else %}
                  {% set dateLabel %}
                    Date {{loop.index}}
                  {% endset %}
                {% endif %}

                <strong class="bold-small title">{{ dateLabel }}</strong><br />
                <div id="date{{loop.index}}" class="date">{{ date }}</div>
              {% endfor %}

              </td>
            </tr>
          {% endif %}
          {% else %}
          <tr>
            <th class="govuk-table__header jd-details-deferral-excusal-head-width">Deferral or excusal</th>
            <td class="govuk-table__cell" id="deferralOrExcusal">Date of jury service confirmed</td>
          </tr>
          {% endif %}
        {% endif %}

      </tbody>
    </table>
  </div>

  <div class="edit-section" id="edit-deferral-excusal">
    {% include "../_edits/edit-deferral-excusal.njk" %}
  </div>
</section>
