<section class="detail-section {% if hasModAccess %}mod-reply-section{% endif %}" id="eligibility-section">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      {% if hasModAccess %}
        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Eligibility
            {% if method === "paper" %}
              {{ govukTag({
                text: "Section complete" if response.eligibilityComplete else "incomplete",
                classes: "govuk-tag" if response.eligibilityComplete else "govuk-tag--grey"
              }) }}
            {% endif %}
          </h2>

          {% if method === "paper" and isAddChangeVisible %}
            <div class="govuk-body">
              <a id="eligibilityEdit" 
                 class="govuk-link"
                 aria-label="Add or change eligibility" 
                 href="{{ url('summons.update-eligibility.get', { id: response.jurorNumber, type: method }) }}"
              >
                Add or change
              </a>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="jd-panel-title">
          <h2 class="govuk-heading-m">Eligibility
            {% if canEdit and responseEditEnabled %}
            <div class="edit-actions govuk-body jd-right-align">
              <a id="eligibilityEdit" 
                 href="#" 
                 class="edit-action edit-trigger" 
                 data-target="eligibility"
                aria-label="Change eligibility"
              >
                Change
              </a>
            </div>
            {% endif %}
          </h2>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="show-details-container" id="view-eligibility">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row {% if not eligibilityDetails.residency %}info{% endif %}">
        <dt class="govuk-summary-list__key jd-details-eligibility-head-width">
          Residency
        </dt>
        <dd class="govuk-summary-list__value" id="residency">
          {% if isDeceased == true %}
            N/A
          {% elif hasModAccess and eligibilityDetails.residency === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.residency %}
            Pass
          {% else %}
            <div class="jd-label-blue">Attention</div>
            {{ response.residencyDetail }}
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row {% if eligibilityDetails.mentalHealthAct %}info{% endif %}">
        <dt class="govuk-summary-list__key">
          Mental health {{ "act" if hasModAccess }}
        </dt>
        <dd class="govuk-summary-list__value" id="mentalHealth">
          {% if isDeceased == true %}
            N/A
          {% elif hasModAccess and eligibilityDetails.mentalHealthAct === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.mentalHealthAct %}
            <div class="jd-label-blue">Attention</div>
            {{ response.mentalHealthActDetails|replace("[MENTAL HEALTH Q2]","<br/><br/>")|safe }}
          {% else %}
            Pass
          {% endif %}
        </dd>
      </div>
      {% if hasModAccess and method === "paper" %}
        <div class="govuk-summary-list__row {% if eligibilityDetails.mentalHealthCapacity %}info{% endif %}">
          <dt class="govuk-summary-list__key">
            Mental capacity act
          </dt>
          <dd class="govuk-summary-list__value" id="mentalHealthCapacity">
            {% if isDeceased == true %}
              N/A
            {% elif hasModAccess and eligibilityDetails.mentalHealthCapacity === null %}
              <span class="mod-reply-section__required">Required</span>
            {% elif eligibilityDetails.mentalHealthCapacity %}
              <div class="jd-label-blue">Attention</div>
            {% else %}
              Pass
            {% endif %}
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row {% if eligibilityDetails.bail %}info{% endif %}">
        <dt class="govuk-summary-list__key">
          Bail
        </dt>
        <dd class="govuk-summary-list__value" id="bail">
          {% if isDeceased %}
            N/A
          {% elif hasModAccess and eligibilityDetails.bail === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.bail %}
            <div class="jd-label-blue">Attention</div>
            {{ response.bailDetails }}
          {% else %}
            Pass
          {% endif %}
        </dd>
      </div>
       <div class="govuk-summary-list__row {% if eligibilityDetails.convictions %}info{% endif %}">
        <dt class="govuk-summary-list__key">
          Convictions
        </dt>
        <dd class="govuk-summary-list__value" id="convictions">
          {% if isDeceased == true %}
            N/A
          {% elif hasModAccess and eligibilityDetails.convictions === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.convictions %}
            <div class="jd-label-blue">Attention</div>
            {{ response.convictionsDetails }}
          {% else %}
            Pass
          {% endif %}
        </dd>
    </dl>
  </div>

  <div class="edit-section" id="edit-eligibility">
    {% include "../_edits/edit-eligibility.njk" %}
  </div>

</section>
