<section class="detail-section mod-reply-section" id="eligibility-section">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      <div class="mod-reply-section__title">
        <h2 class="govuk-heading-m">Eligibility
          {% if method === "paper" %}
            {{ govukTag({
              text: "Section complete" if response.eligibilityComplete else "incomplete",
              classes: "mod-tag--dark-blue" if response.eligibilityComplete else "govuk-tag--grey"
            }) }}
          {% endif %}
        </h2>

        {% if method === "paper" and isAddChangeVisible %}
          <div class="govuk-body">
            <a id="eligibilityEdit" 
                class="govuk-link"
                aria-label="Add or change eligibility" 
                href="{{ url('summons.update-eligibility.get', { id: response.jurorNumber, type: method }) }}"
            >
              Add or change
            </a>
          </div>
        {% endif %}
      </div>
      

    </div>
  </div>

  <div class="show-details-container" id="view-eligibility">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row {% if not eligibilityDetails.residency %}info{% endif %}">
        <dt class="govuk-summary-list__key jd-details-eligibility-head-width">
          Residency
        </dt>
        <dd class="govuk-summary-list__value" id="residency">
          {% if isDeceased == true %}
            N/A
          {% elif eligibilityDetails.residency === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.residency %}
            Pass
          {% else %}
            <div class="jd-label-blue">Attention</div>
            {{ eligibilityDetails.residencyDetails }}
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row {% if eligibilityDetails.mentalHealthAct %}info{% endif %}">
        <dt class="govuk-summary-list__key">
          Mental health act
        </dt>
        <dd class="govuk-summary-list__value" id="mentalHealth">
          {% if isDeceased == true %}
            N/A
          {% elif eligibilityDetails.mentalHealthAct === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.mentalHealthAct %}
            <div class="jd-label-blue">Attention</div>
            {% if method === "paper" %}
              {{ eligibilityDetails.mentalHealthActDetails.split('[MENTAL HEALTH Q2]')[0] }}
            {% else %}
              {{ eligibilityDetails.mentalHealthActDetails|replace("[MENTAL HEALTH Q2]","<br/><br/>")|safe }}
            {% endif %}
          {% else %}
            Pass
          {% endif %}
        </dd>
      </div>
      {% if method === "paper" %}
        <div class="govuk-summary-list__row {% if eligibilityDetails.mentalHealthCapacity %}info{% endif %}">
          <dt class="govuk-summary-list__key">
            Mental capacity act
          </dt>
          <dd class="govuk-summary-list__value" id="mentalHealthCapacity">
            {% if isDeceased == true %}
              N/A
            {% elif eligibilityDetails.mentalHealthCapacity === null %}
              <span class="mod-reply-section__required">Required</span>
            {% elif eligibilityDetails.mentalHealthCapacity %}
              <div class="jd-label-blue">Attention</div>
              {{ eligibilityDetails.mentalHealthActDetails.split('[MENTAL HEALTH Q2]')[1] }}
            {% else %}
              Pass
            {% endif %}
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row {% if eligibilityDetails.bail %}info{% endif %}">
        <dt class="govuk-summary-list__key">
          Bail
        </dt>
        <dd class="govuk-summary-list__value" id="bail">
          {% if isDeceased %}
            N/A
          {% elif eligibilityDetails.bail === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.bail %}
            <div class="jd-label-blue">Attention</div>
            {{ eligibilityDetails.bailDetails }}
          {% else %}
            Pass
          {% endif %}
        </dd>
      </div>
       <div class="govuk-summary-list__row {% if eligibilityDetails.convictions %}info{% endif %}">
        <dt class="govuk-summary-list__key">
          Convictions
        </dt>
        <dd class="govuk-summary-list__value" id="convictions">
          {% if isDeceased == true %}
            N/A
          {% elif eligibilityDetails.convictions === null %}
            <span class="mod-reply-section__required">Required</span>
          {% elif eligibilityDetails.convictions %}
            <div class="jd-label-blue">Attention</div>
            {{ eligibilityDetails.convictionsDetails }}
          {% else %}
            Pass
          {% endif %}
        </dd>
    </dl>
  </div>

  <div class="edit-section" id="edit-eligibility">
    {% include "../_edits/edit-eligibility.njk" %}
  </div>

</section>
