<section class="detail-section {% if hasModAccess %}mod-reply-section{% endif %}" id="eligibility-section">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      {% if hasModAccess %}
        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Eligibility
            {% if method === "paper" %}
              {{ govukTag({
                text: "Section complete" if response.eligibilityComplete else "incomplete",
                classes: "govuk-tag" if response.eligibilityComplete else "govuk-tag--grey"
              }) }}
            {% endif %}
          </h2>

          {% if method === "paper" and isAddChangeVisible %}
            <div class="govuk-body">
              <a id="eligibilityEdit" class="govuk-link" href="{{ url('summons.update-eligibility.get', { id: response.jurorNumber, type: method }) }}">Add or change</a>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="jd-panel-title">
          <h2 class="govuk-heading-m">Eligibility
            {% if canEdit and responseEditEnabled %}
            <div class="edit-actions govuk-body jd-right-align">
              <a id="eligibilityEdit" href="#" class="edit-action edit-trigger" data-target="eligibility">Change</a>
            </div>
            {% endif %}
          </h2>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="show-details-container" id="view-eligibility">

    <table class="govuk-table table-summary juror-details" summary="Are you eligible">

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row {% if not eligibilityDetails.residency %}info{% endif %}">
          <th class="govuk-table__header jd-details-eligibility-head-width">Residency</th>
          <td class="govuk-table__cell" id="residency">
            {% if isDeceased == true %}
            N/A
            {% elif hasModAccess and eligibilityDetails.residency === null %}
              <span class="mod-reply-section__required">Required</span>
            {% elif eligibilityDetails.residency %}
            Pass
            {% else %}
            <div class="jd-label-blue">Attention</div>
            {{ response.residencyDetail }}
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row {% if eligibilityDetails.mentalHealthAct %}info{% endif %}">
          <th class="govuk-table__header">Mental health {{ "act" if hasModAccess }}</th>
          <td class="govuk-table__cell" id="mentalHealth">
            {% if isDeceased == true %}
            N/A
            {% elif hasModAccess and eligibilityDetails.mentalHealthAct === null %}
              <span class="mod-reply-section__required">Required</span>
            {% elif eligibilityDetails.mentalHealthAct %}
            <div class="jd-label-blue">Attention</div>
            {{ response.mentalHealthActDetails|replace("[MENTAL HEALTH Q2]","<br/><br/>")|safe }}
            {% else %}
            Pass
            {% endif %}
          </td>
        </tr>

        {% if hasModAccess and method === "paper" %}
          <tr class="govuk-table__row {% if eligibilityDetails.mentalHealthCapacity %}info{% endif %}">
            <th class="govuk-table__header">Mental capacity act</th>
            <td class="govuk-table__cell" id="mentalHealthCapacity">
              {% if isDeceased == true %}
                N/A
              {% elif hasModAccess and eligibilityDetails.mentalHealthCapacity === null %}
                <span class="mod-reply-section__required">Required</span>
              {% elif eligibilityDetails.mentalHealthCapacity %}
                <div class="jd-label-blue">Attention</div>
              {% else %}
                Pass
              {% endif %}
            </td>
          </tr>
        {% endif %}

        <tr class="{% if eligibilityDetails.bail %}info{% endif %}">
          <th class="govuk-table__header">Bail</th>
          <td class="govuk-table__cell"  id="bail">
            {% if isDeceased %}
            N/A
            {% elif hasModAccess and eligibilityDetails.bail === null %}
              <span class="mod-reply-section__required">Required</span>
            {% elif eligibilityDetails.bail %}
            <div class="jd-label-blue">Attention</div>
            {{ response.bailDetails }}
            {% else %}
            Pass
            {% endif %}
          </td>
        </tr>
        <tr class="{% if eligibilityDetails.convictions %}info{% endif %}">
          <th class="govuk-table__header">Convictions</th>
          <td class="govuk-table__cell"  id="convictions">
            {% if isDeceased == true %}
            N/A
            {% elif hasModAccess and eligibilityDetails.convictions === null %}
              <span class="mod-reply-section__required">Required</span>
            {% elif eligibilityDetails.convictions %}
            <div class="jd-label-blue">Attention</div>
            {{ response.convictionsDetails }}
            {% else %}
            Pass
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="edit-section" id="edit-eligibility">
    {% include "../_edits/edit-eligibility.njk" %}
  </div>

</section>
