<section class="detail-section mod-reply-section" id="juror-details-section">

{% set replyType = (method or "digital") %}
{% if method %}
  {% set updateUrl = 'summons.update-details.get' %}
{% else %}
  {% set updateUrl = 'summons.update-details-digital.get' %}
{% endif %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Juror details {{ replyMethod }}
            {% if method === "paper" %}
              {{ govukTag({
                text: "Section complete" if response.jurorDetailsComplete else "incomplete",
                classes: "mod-tag--dark-blue" if response.jurorDetailsComplete else "govuk-tag--grey"
              }) }}
            {% endif %}
          </h2>
          {% if isAddChangeVisible %}
            <div class="govuk-body">
              <a id="jurorDetailsEdit" 
                 class="govuk-link"
                 aria-label="Add or change juror details" 
                 href="{{ url( updateUrl, { id: response.jurorNumber, type: replyType }) }}"
              >
                Add or change
              </a>
            </div>
          {% endif %}
        </div>

    </div>
  </div>

  <div class="show-details-container" id="view-juror-details">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row {% if nameDetails.changed %}infox{% endif %}" id="name">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        {% if nameDetails.oldName %}
          <dd class="govuk-summary-list__value" id="jurorName">
            {% if (nameDetails.changed) or (title.changed) %}
              <div class="jd-label-black">Current</div>
            {% endif %}
            {{ nameDetails.oldName }}
          </dd>
        {% endif %}
        <dd class="govuk-summary-list__value" id="jurorName">
          {% if (nameDetails.changed) or (title.changed) %}
            <div class="jd-label-blue">Pending</div>
          {% endif %}
          {{ nameDetails.currentName }}
        </dd>
        {% if not nameDetails.oldName %}
          <dd class="govuk-summary-list__value"></dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row {% if addressDetails.changed %}info{% endif %}" id="address">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value" id="jurorAddress">
          {% if addressDetails.changed %}
            <div class="jd-label-blue">New</div>
          {% endif %}
          {{ addressDetails.currentAddress | safe }}
          {% if changeCourt %}
            <br/>
            <span class="change change--changeCourt jd-label-blue">Change Court</span>
          {% endif %}
          {% if checkCatchment %}
            <br/>
            <span class="change change--changeCourt jd-label-blue">Check catchment area</span>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__value" id="oldJurorAddress">
          {% if addressDetails.changed %}
            <div class="jd-label-black">Previous</div>
          {% endif %}
          {{ addressDetails.oldAddress | safe }}
        </dd>
      </div>
      <div class="govuk-summary-list__row {% if jurorDetails.dateOfBirth.changed %}info{% endif %}"  id="dob">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        {% if method === "paper" %}
          {% if response.dateOfBirth === null %}
            <dd class="govuk-summary-list__value" id="jurorDateOfBirth">
              <span class="mod-reply-section__required">Required</span>
            </dd>
          {% else %}
            <dd class="govuk-summary-list__value" id="jurorDateOfBirth">
              {{ jurorDetails.dateOfBirth.current | dateFilter("DD/MM/YYYY", "DD MMM YYYY") }} (Juror will be {{ jurorDetails.dateOfBirth.currentAge }} years old)
            </dd>
            <dd class="govuk-summary-list__value" id="oldJurorDateOfBirth">
              {% if jurorDetails.dateOfBirth.changed %}
                <div class="jd-label-black">Previous</div>
              {% endif %}
              {{ jurorDetails.dateOfBirth.old | dateFilter("DD/MM/YYYY", "DD MMM YYYY") if jurorDetails.dateOfBirth.old }}
            </dd>
          {% endif %}
        {% else %}
          <dd class="govuk-summary-list__value" id="jurorDateOfBirth">
            {{ jurorDetails.dateOfBirth.current | dateFilter("DD/MM/YYYY", "DD MMM YYYY") }} (Juror will be {{ jurorDetails.dateOfBirth.currentAge }} years old)
          </dd>
          <dd class="govuk-summary-list__value" id="oldJurorDateOfBirth">
            {% if jurorDetails.dateOfBirth.changed %}
              <div class="jd-label-black">Previous</div>
            {% endif %}
            {{ jurorDetails.dateOfBirth.old | dateFilter("DD/MM/YYYY", "DD MMM YYYY") if jurorDetails.dateOfBirth.old }}
          </dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row {% if jurorDetails.phone.changed %}info{% endif %}" id="phone">
        <dt class="govuk-summary-list__key">
          Main Phone
        </dt>
        {% if thirdPartyDetails.isThirdParty and not thirdPartyDetails.useJurorPhoneDetails %}
          <dd class="govuk-summary-list__value mod-contact-third-party" id="jurorPrimaryPhone">
            Contact Third Party
          </dd>
        {% elif jurorDetails.phone.current === null %}
          <dd class="govuk-summary-list__value" id="jurorPrimaryPhone">-</dd>
          <dd class="govuk-summary-list__value"></dd>
        {% else %}
          <dd class="govuk-summary-list__value" id="jurorPrimaryPhone">
            {% if jurorDetails.phone.changed %}
              <div class="jd-label-blue">New</div>
            {% endif %}
            {{ jurorDetails.phone.current }}
          </dd>
          <dd class="govuk-summary-list__value" id="oldJurorPrimaryPhone">
            {% if jurorDetails.phone.changed %}
              <div class="jd-label-black">Previous</div>
            {% endif %}
            {{ jurorDetails.phone.old if jurorDetails.phone.old}}
          </dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row {% if jurorDetails.altPhone.changed %}info{% endif %}"  id="altPhone">
        <dt class="govuk-summary-list__key">
          Alternative phone
        </dt>
        {% if thirdPartyDetails.isThirdParty and not thirdPartyDetails.useJurorPhoneDetails %}
          <dd class="govuk-summary-list__value mod-contact-third-party" id="jurorSecondaryPhone">
            Contact Third Party
          </dd>
        {% elif jurorDetails.altPhone.current === null %}
          <dd class="govuk-summary-list__value" id="jurorSecondaryPhone">-</dd>
        {% else %}
          <dd class="govuk-summary-list__value" id="jurorSecondaryPhone">
            {% if jurorDetails.altPhone.changed %}
              <div class="jd-label-blue">New</div>
            {% endif %}
            {{ jurorDetails.altPhone.current }}
          </dd>
          <dd class="govuk-summary-list__value" id="oldJurorSecondaryPhone">
            {% if jurorDetails.altPhone.changed %}
              <div class="jd-label-black">Previous</div>
            {% endif %}
            {{ jurorDetails.altPhone.old }}
          </dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row {% if jurorDetails.email.changed %}info{% endif %}"  id="email">
        <dt class="govuk-summary-list__key">
          Email 
        </dt>
        {% if thirdPartyDetails.isThirdParty and not thirdPartyDetails.useJurorEmailDetails %}
          <dd class="govuk-summary-list__value mod-contact-third-party" id="jurorEmailAddress">
            Contact Third Party
          </dd>
        {% elif not jurorDetails.email.current %}
          <dd class="govuk-summary-list__value" id="jurorEmailAddress">-</dd>
        {% else %}
          <dd class="govuk-summary-list__value" id="jurorEmailAddress">
            {% if jurorDetails.email.changed %}
              <div class="jd-label-blue">New</div>
            {% endif %}
            {{ jurorDetails.email.current }}
          </dd>
          <dd class="govuk-summary-list__value" id="oldJurorEmailAddress">
            {% if jurorDetails.email.changed %}
              <div class="jd-label-black">Previous</div>
            {% endif %}
            {{ jurorDetails.email.old }}
          </dd>
        {% endif %}
      </div>
    </dl>

    {% if thirdPartyDetails.isThirdParty == true %}
      <br><br>
      <div class="mod-reply-section__title">
        <h2 class="govuk-heading-m">Third party details
          {% if method === "paper" %}
            {{ govukTag({
              text: "Section complete" if response.thirdPartyComplete else "incomplete",
              classes: "mod-tag--dark-blue" if response.thirdPartyComplete else "govuk-tag--grey"
            }) }}
          {% endif %}
        </h2>
        {% if isAddChangeVisible %}
          <div class="govuk-body">
            <a id="jurorDetailsEditTP" 
                class="govuk-link"
                aria-label="Add or change third party details" 
                href="{{ url( updateUrl, { id: response.jurorNumber, type: replyType }) }}"
            >
              Add or change
            </a>
          </div>
        {% endif %}
      </div>

      <dl class="govuk-summary-list juror-details">
        <div class="govuk-summary-list__row info" id="thirdPartyNameRow">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyName">
            {{ thirdPartyDetails.name or "-" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row info" id="thirdPartyRelationshipRow">
          <dt class="govuk-summary-list__key">
            Relationship to juror
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyRelationship">
            {{ thirdPartyDetails.relationship or "-" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row info" id="thirdPartyReasonRow">
          <dt class="govuk-summary-list__key">
            Reason for completing
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyReason">
            {{ thirdPartyDetails.reason or "-" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row info" id="thirdPartyMainPhoneRow">
          <dt class="govuk-summary-list__key">
            Main phone
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyMainPhone">
            {{ thirdPartyDetails.mainPhone or "-" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row info" id="thirdPartyOtherPhoneRow">
          <dt class="govuk-summary-list__key">
            Another phone
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyOtherPhone">
            {{ thirdPartyDetails.otherPhone or "-" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row info" id="thirdPartyEmailRow">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyEmail">
            {{ thirdPartyDetails.email or "-" }}
          </dd>
        </div>
      </dl>
    {% endif %}
  </div>

</section>