<section class="notes notes--readonly {% if hasModAccess %}mod-reply-section{% endif %}">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      {% if hasModAccess %}
        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Internal notes</h2>

          <div class="govuk-body">
            {% if method === "paper" %}
              <a id="notesEditButton" class="govuk-link" href="#">Add or change</a>
            {% else %}
              <a id="notesEditButton" class="govuk-link" href="{{ url('response.detail.notes.edit.get', { id: response.jurorNumber }) }}">Add or change</a>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="jd-panel-title">
          <h2 class="govuk-heading-m">Notes
            <div class="note-controls govuk-body jd-right-align">
              <a id="notesEditButton" href="{{ url('response.detail.notes.edit.get', { id: response.jurorNumber }) }}" class="govuk-link jd-right-align" role="button">Add or Edit</a>
            </div>
          </h2>
        </div>
      {% endif %}

      {% if hasModAccess %}
        <span class="govuk-caption-m govuk-!-margin-top-3">These can only be seen by internal staff at HMCTS. The public cannot request to view them.</span>
      {% endif %}

    </div>
  </div>

  <textarea class="govuk-textarea" name="notes" id="notes" rows="10" disabled>{{ response.notes }}</textarea>

  {% if response.notes === null %}
    <p id="noNotesMessage" class="no-notes-msg govuk-body jd-label-black">There are currently no notes saved</p>
  {% endif %}

  <input type="hidden" name="jurorNumber" id="jurorNumber" value="{{ response.jurorNumber }}">
  <input type="hidden" name="notesVersion" id="notesVersion" value="?????">
  <input type="hidden" id="notes_original" value="">

</section>
