{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<section class="detail-section {% if hasModAccess %}mod-reply-section{% endif %}" id="reasonable-adjustments-section">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      {% if hasModAccess %}
        <div class="mod-reply-section__title">
          <h2 class="govuk-heading-m">Reasonable adjustments</h2>
          {% if method === "paper" and isAddChangeVisible %}
            <div class="govuk-body">
              <a id="reasonableAdjustmentsEdit" class="govuk-link" href="{{ url('summons.update-adjustments.get', { id: response.jurorNumber, type: method }) }}">Add or change</a>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="jd-panel-title">
          <h2 class="govuk-heading-m">Reasonable adjustments
            {% if canEdit and responseEditEnabled %}
            <div class="edit-actions govuk-body jd-right-align">
              <a id="reasonableAdjustmentsEdit" href="#" class="edit-action edit-trigger" data-target="reasonable-adjustments">Change</a>
            </div>
            {% endif %}
          </h2>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="show-details-container" id="view-reasonable-adjustments">
    <table class="govuk-table table-summary adjustments" summary="Reasonable Adjustments">
      <tbody class="govuk-table__body">
        <tr class="{% if adjustmentsHasFlag %}info{% endif %}">
          <th class="govuk-table__header jd-details-cjs-adjustments-head-width">
            {{ "Reason and adjustments needed" if hasModAccess else "Disability or impairment" }}
          </th>
          <td class="govuk-table__cell" id="disability">
            {% if response.specialNeeds.length === 0 or response.specialNeeds === null %}
              N/A
            {% else %}

              <div class="jd-label-blue">Attention</div>

              {% if method === "paper" %}

                <div class="jd-label-black">{{ response.specialNeeds[0].assistanceType }}</div>
                <div>{{ response.specialNeeds[0].assistanceTypeDetails }}</div>

              {% else %}
                <ul class="govuk-list govuk-list--bullet">
                    {% for i in range(0, response.specialNeeds.length) %}
                      <li>
                        <span class="{{ 'jd-label-black' if hasModAccess }}">
                          {{ response.specialNeeds[i].code | capitalize }} - {{ response.specialNeeds[i].description }}
                        </span>
                        <br>
                        {{ (response.specialNeedsArrangements | safe) if response.specialNeedsArrangements else (response.specialNeeds[i].detail | safe) }}
                      </li>
                    {% endfor %}
                </ul>
              {% endif %} {# if method is paper #}
            {% endif %} {# is has adjustments #}
          </td>
        </tr>

        {% if method !== "paper" and hasModAccess === false %}
          <tr class="{% if specialNeedsArrangements %}info{% endif %}">
            <th class="govuk-table__header jd-details-cjs-adjustments-head-width">Special arrangements or help the juror needs</th>
            <td class="govuk-table__cell" id="reasonableAdjustment">
              {% if isDeceased or response.specialNeedsArrangements == null or response.specialNeedsArrangements.length == 0 %}
              N/A
              {% else %}
              {{ response.specialNeedsArrangements | safe }}
              {% endif %}
            </td>
          </tr>
        {% endif %}

        {% if opticReference and hasModAccess %}
          <tr class="info">
            <th class="govuk-table__header jd-details-cjs-adjustments-head-width">Optic reference</th>
            <td class="govuk-table__cell" id="reasonableAdjustment">
              {{ opticReference }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% if hasModAccess and response.specialNeeds.length > 0 and not opticReference %}
      {{ govukButton({
        text: "Check court can accommodate",
        classes: "govuk-button--secondary",
        href: url('response.check-can-accommodate.get', {
          id: response.jurorNumber
        })
      }) }}
    {% endif %}

  </div>

  <div class="edit-section" id="edit-reasonable-adjustments">
    {% include "../_edits/edit-reasonable-adjustments.njk" %}
  </div>
</section>
