<form action="{{ url('response.detail.post', { id: response.jurorNumber }) }}" method="post" id="updateSectionForm" class="response-update-form">

  <div class="govuk-!-display-inline">

    <div class="reply-view-header-menus">

      {% set canProcessReply = false %}

      {% if response.replyMethod === "DIGITAL" %}
        {% set assignedStaffMember = response.assignedStaffMember.login %}
      {% elif method === "paper" %}
        {% set assignedStaffMember = response.assignedStaffMember.username %}
      {% endif %}
      
      {% if response.current_owner === authentication.owner %}
        {% set canProcessReply = true %}
      {% endif %}

      {% if hasModAccess and (response.processingStatus | capitalise !== 'CLOSED') %}

        {% if (method === "paper" and response.jurorDetailsComplete and response.eligibilityComplete and response.signed === true) or method !== "paper" or thirdPartyDetails.reason === "Deceased" %}
          {% if method === "paper" %}
            {% set processUrl = url('process-reply.get', { id: response.jurorNumber, type: "paper" }) %}
          {% else %}
            {% set processUrl = url('process-reply.get', { id: response.jurorNumber, type: "digital" }) %}
          {% endif %}
          {% if canProcessReply %}
            {{ govukButton({
              text: "Process reply",
              name: "processReply",
              href: processUrl,
              attributes: {
                id: "processReply"
              }
            }) }}
          {% endif %}
        {% endif %}

      {% endif %}

      {% if response.replyMethod === "DIGITAL" or (method === "paper" and response.processingStatus | capitalise !== "CLOSED") %}
        <div id="moj-actions-button-menu" class="moj-button-menu">
          <div class="moj-button-menu__wrapper more-actions-menu {% if hasModAccess %}reply-view-align_right{% endif %}" name="moreActionsMenu" id="moreActionsMenu">

            {% if response.processingStatus | capitalise !== 'CLOSED' %}
              {% if response.superUrgent == false or hasModAccess %}{# in the future any response will have this functionality... any user with ld access will have it #}
                {#<a id="processAwaitingInformation" href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " value="awaiting_information" data-module="govuk-button">#}
                <a id="processAwaitingInformation"
                  href="{{ url('response.detail.awaiting.information.get', { id: response.jurorNumber }) }}{{ "/paper" if method === 'paper' else null }}"
                  role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary "
                  value="awaiting_information" data-module="govuk-button">
                  {{ "Mark as awaiting information" if hasModAccess else "Mark as 'Awaiting information'" }}
                </a>

                {% if isBureauUser %}
                  <a id="requestInfoByPost" href="{{ url('request-info.by-post.get', { id: response.jurorNumber, type: 'paper' if method === 'paper' else 'digital'}) }}"
                  role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " value="request_information_by_post" data-module="govuk-button">
                    Request juror info by post
                  </a>

                  {% if assignedStaffMember === authentication.login or isManager %}
                    {% set sendToUrl = url('response.assign.get', { id: response.jurorNumber }) + "?reply_method=" + method %}
                    <a id="processSendTo" href="{{ sendToUrl }}" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " value="send_to" data-module="govuk-button">
                      Send to a colleague...
                    </a>
                  {% endif %}
                {% endif %}

              {% endif %}
            {% endif %}

            {% if hasModAccess and (method !== "paper") %}
              <a  href="{{ url('response.detail.download-pdf.get', { id: response.jurorNumber }) }}" target="_blank" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " value="download_pdf" data-module="govuk-button">
                Download as a PDF
              </a>
            {% endif %}

          </div>
        </div>
      {% endif %}

    </div>

  </div> <!--inline-->


  <input type="hidden" name="jurorNumber" id="jurorNumber" value="{{ response.jurorNumber }}">
  <input type="hidden" name="_csrf" value="{{ csrftoken }}" id="_csrf">
  <input type="hidden" name="version" value="{{ response.version }}" id="versionNumber">
  <input type="hidden" name="courtDate" value="{{ response.hearingDate }}" id="courtDate">

</form>