{% extends "../../layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../custom-components/summary-item/macro.njk" import summaryItem %}

{% set currentApp = "Pool management" %}

{% block page_title %}{{ serviceName }} - Convert a nil pool{% endblock %}
{% block page_identifier %}Convert a nil pool{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set poolTypeError = undefined %}
      {% if errors.items["poolType"] %}
        {% set poolTypeError = { text: errors.items["poolType"][0].details } %}
      {% endif %}

      {% set numberOfJurorsRequiredError = undefined %}
      {% if errors.items["numberOfJurorsRequired"] %}
        {% set numberOfJurorsRequiredError = { text: errors.items["numberOfJurorsRequired"][0].details } %}
      {% endif %}

      <h1 class="govuk-heading-l">Convert a nil pool to an active pool</h1>

      <form id="convertNilPoolForm" method="post" acion="{{ url('nil-pool.convert.form.post', { poolNumber: poolDetails.poolNumber }) }}">

        {{ summaryItem({
          label: {
              text: "Court name or location code",
              classes: "govuk-label--s"
            },
            value: poolDetails.courtName | capitalizeFully,
            id: "selectedCourtName",
            name: "selectedCourtName",
            classes: "govuk-!-width-one-half"
        }) }}

        {{ summaryItem({
          label: {
            text: "Court start date",
            classes: "govuk-label--s"
          },
          value: poolDetails.attendanceDate | dateFilter(null, "dddd DD MMMM YYYY"),
          id: "attendanceDate",
          name: "attendanceDate",
          classes: "govuk-!-width-one-half"
        }) }}

        {{ summaryItem({
          label: {
            text: "Attendance time",
            classes: "govuk-label--s"
          },
          value: poolDetails.attendanceTime,
          id: "attendanceTime",
          name: "attendanceTime",
          classes: "govuk-!-width-one-half"
        }) }}

        {{ govukRadios({
          idPrefix: "poolType",
          name: "poolType",
          fieldset: {
            legend: {
              text: "Pool type",
              classes: "govuk-!-font-weight-bold"
            }
          },
          items: [
            {
              value: "CRO",
              text: "Crown court",
              checked: poolDetails.poolType === "CRO"
            },
            {
              value: "CIV",
              text: "Civil court",
              checked: poolDetails.poolType === "CIV"
            },
            {
              value: "HGH",
              text: "High court",
              checked: poolDetails.poolType === "HGH"
            }
          ],
          errorMessage: poolTypeError
        }) }}

        {{ govukInput({
          label: {
            text: "Number of jurors required in total",
            classes: "govuk-!-font-weight-bold"
          },
          classes: "govuk-input--width-3",
          id: "numberOfJurorsRequired",
          name: "numberOfJurorsRequired",
          autocomplete: "number-jurors-total",
          type: "number",
          value: numberOfJurorsRequired,
          errorMessage: numberOfJurorsRequiredError
        }) }}

        {{ summaryItem({
          label: {
            text: "Number of court deferrals to include in this pool",
            classes: "govuk-label--s"
          },
          value: courtDeferrals,
          id: "numberOfCourtDeferrals",
          name: "numberOfCourtDeferrals",
          classes: "govuk-!-width-one-half",
          action: {
            href: url('nil-pool.convert.change-deferrals.get', {
              poolNumber: poolDetails.poolNumber
            }),
            text: "Change"
          }
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {
              id: "continueButton"
            }
          }) }}

          <a class="govuk-link" href="/pool-management/pool-overview/{{ poolDetails.poolNumber }}" id="cancelAnchor">Cancel</a>
        </div>

        <input type="hidden" name="numberOfCourtDeferrals" id="numberOfCourtDeferrals" value="{{ courtDeferrals }}">
        <input type="hidden" name="_csrf" id="csrf" value="{{ csrftoken }}">
      </form>

    </div>
  </div>
{% endblock %}
