<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table" data-module="moj-sortable-table">
      <caption class="govuk-table__caption govuk-visually-hidden">Juror attendance list</caption>
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending" aria-label="Date">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Checked in">Checked in</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Checked out">Checked out</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Hours">Hours</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Travel time">Travel time</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Attendance">Attendance</th>
          <th scope="col" class="govuk-table__header"></th>{# 🤷 this column needs to exist in case we need to show a print document link #}
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% for day in attendance["juror_attendance_response_data"] %}
          {% set attendanceDate = day["attendance_date"] | makeDate %}

          {% set checkInTime = "-" %}
          {% set checkOutTime = "-" %}
          {% set hours = "-" %}
          {% set travelTime = "-" %}
          {% if day["attendance_type"] !== "ABSENT" and day["attendance_type"] !== "NON_ATTENDANCE" and day["attendance_type"] !== "NON_ATTENDANCE_LONG_TRIAL" %}
            {% set checkInTime = day["check_in_time"] | timeArrayToString | convert24to12 %}
            {% set checkOutTime = day["check_out_time"] | timeArrayToString | convert24to12%}
            {% set hours = day["hours"] %}
            {% set travelTime = day["travel_time"] | timeArrayToString | convert24toHours %}
          {% endif %}

          <tr class="govuk-table__row {% if day['attendance_type'] === 'ABSENT' %}mod-highlight-table-row__grey{% endif %}">
            <td class="govuk-table__cell" data-sort-value="{{ attendanceDate | dateFilter(null, "YYYYMMDD") }}">
              {{ attendanceDate | dateFilter(null, "ddd D MMM YYYY") }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ checkInTime }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ checkOutTime }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ hours }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ travelTime }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ day["attendance_type"] | attendanceType }}
            </td>
            <td class="govuk-table__cell">
              {% if day["attendance_type"] === "ABSENT" %}
                <a href="{{ url('printing.failed-to-attend.get', { document: 'failed-to-attend'}) + '?jurorNumber=' + juror.commonDetails.jurorNumber + '&singleFTAdate=' +   attendanceDate | dateFilter(null, 'YYYY-MM-DD') }}" class="govuk-link">Print FTA letter</a>
              {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a class="govuk-link govuk-link--no-visited-state" href="{{ url('juror-record.attendance.modify-juror-attendance.get', { jurorNumber:  juror.commonDetails.jurorNumber, poolNumber: juror.commonDetails.poolNumber }) }}?date={{ day['attendance_date'] | dateFilter("null", "YYYY-MM-DD") }}">
                Change
                <span class="govuk-visually-hidden"> the juror attendance times</span>
              </a>
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>
</div>