<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table" data-module="moj-sortable-table">
      <caption class="govuk-table__caption govuk-visually-hidden">Juror attendance list</caption>
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending" aria-label="Date">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Checked in">Checked in</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Checked out">Checked out</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Hours">Hours</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Travel time">Travel time</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" aria-label="Attendance">Attendance</th>
          <th scope="col" class="govuk-table__header"></th>{# 🤷 this column needs to exist in case we need to show a print document link #}
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% for day in attendance.jurorAttendanceResponseData %}
          {% set attendanceDate = day.attendanceDate | makeDate %}

          {% set checkInTime = "-" %}
          {% set checkOutTime = "-" %}
          {% set hours = "-" %}
          {% set travelTime = "-" %}
          {% if day.attendanceType !== "ABSENT" and day.attendanceType !== "NON_ATTENDANCE" and day.attendanceType !== "NON_ATTENDANCE_LONG_TRIAL" and day.attendanceType !== "NON_ATT_EXTRA_LONG_TRIAL" %}
            {% set checkInTime = (day.checkInTime | timeArrayToString | convert24to12) if day.checkInTime else "-" %}
            {% set checkOutTime = (day.checkOutTime | timeArrayToString | convert24to12) if day.checkOutTime else "-" %}
            {% set hours = day.hours %}
            {% set travelTime = (day.travelTime | timeArrayToString | convert24toHours) if day.travelTime else "-" %}
          {% endif %}

          <tr class="govuk-table__row {% if day.attendanceType === 'ABSENT' %}mod-highlight-table-row__grey{% endif %}">
            <td class="govuk-table__cell" data-sort-value="{{ attendanceDate | dateFilter(null, "YYYYMMDD") }}">
              {{ attendanceDate | dateFilter(null, "ddd D MMM YYYY") }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ checkInTime }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ checkOutTime }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ hours }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ travelTime }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ day.attendanceType | attendanceType }}
            </td>
            <td class="govuk-table__cell">
              {% if day.attendanceType === "ABSENT" %}
                <a href="{{ url('printing.failed-to-attend.get', { document: 'failed-to-attend'}) + '?jurorNumber=' + juror.commonDetails.jurorNumber + '&singleFTAdate=' +   attendanceDate | dateFilter(null, 'YYYY-MM-DD') }}" class="govuk-link">Print FTA letter</a>
              {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
               {% if day.editable %}
              <a class="govuk-link govuk-link--no-visited-state" aria-label="Change juror attendance times" href="{{ url('juror-record.attendance.modify-juror-attendance.get', { jurorNumber:  juror.commonDetails.jurorNumber, poolNumber: juror.commonDetails.poolNumber }) }}?date={{ day.attendanceDate | dateFilter("null", "YYYY-MM-DD") }}">
                Change
                <span class="govuk-visually-hidden"> the juror attendance times</span>
              </a>
              {% endif %}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
