<div>
  <div class="report-headings">
    <div class="heading-element">
      <div class="title">Total jurors needed</div>
      <div class="value">150</div>
    </div>
    <div class="heading-element">
      <div class="title">Initially Summoned</div>
      <div class="value">340</div>
    </div>
    <div class="heading-element">
      <div class="title">Bureau deferrals included</div>
      <div class="value">8</div>
    </div>
    <div class="heading-element">
      <div class="title">Ratio</div>
      <div class="value">2.4</div>
    </div>
    <div class="heading-element">
      <div class="title">Bureau to supply</div>
      <div class="value">142</div>
    </div>
  </div>
</div>