{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set dateRangeHtml %}
  {% set dateFromLabel = "Service start date from" %}
  {% set dateToLabel = "Service start date to" %}

  {% include "./from-to.njk" %}
{% endset %}

{{ govukRadios({
  name: "dateRange",
  fieldset: {
    legend: {
      text: "Select dates to search",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    { value: "NEXT_31_DAYS", text: "Next 31 days" },
    {
      value: "CUSTOM_RANGE",
      text: "Custom date range",
      conditional: {
        html: dateRangeHtml
      },
      checked: errors.count > 0
    }
  ]
}) }}