{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set dateRangeHtml %}
  {% include "./from-to.njk" %}
{% endset %}

{{ govukRadios({
  name: "dateRange",
  fieldset: {
    legend: {
      text: "Select dates to search",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    { value: "NEXT_31_DAYS", text: "Next 31 days" } if "NEXT_31_DAYS" in fixedDateRangeValues,
    { value: "LAST_31_DAYS", text: "Last 31 days" } if "LAST_31_DAYS" in fixedDateRangeValues,
    {
      value: "CUSTOM_RANGE",
      text: "Custom date range",
      conditional: {
        html: dateRangeHtml
      },
      checked: errors.count > 0
    } if "CUSTOM_RANGE" in fixedDateRangeValues
  ]
}) }}