{% macro smsDoughnut(params) %}

  {% set remainingColour = '#B1B4B6' %}
  {% set usedColour = '#1D70B8' %}

  <div class="doughnut-chart">
    <div class="doughnut-chart__chart-canvas">
      <div class="total">
        <span class="number__small">40,000</span>
        <span class="legend">allowance</span>
      </div>
      <canvas id="{{params.id}}Chart" name="{{params.id}}Chart" width="170" height="170"></canvas>
    </div>

    <div class="doughnut-chart__legend">
      <div class="legend">
        <div class="bullet bullet__blue"></div>Used <span class="amount">{{ params.values.used }}</span>
      </div>
      <div class="legend">
        <div class="bullet bullet__mid-grey"></div>Remaining <span class="amount">{{ params.values.remaining }}</span>
      </div>
    </div>
  </div>

  <script nonce="{{ params.nonce }}">

    var statsObject = {
      used: {{ params.values.used }},
      remaining: {{ params.values.remaining }},
    }

    var valueArr = Object.values(statsObject);
    var ctx = document
      .getElementById('{{params.id}}Chart')
      .getContext('2d');

    var dbChart = new Chart(ctx, {
      type: 'doughnut',
      options: {
        tooltips: {
          enabled: false
        },
        cutoutPercentage: '70'
      },
      data: {
        datasets: [
          {
            data: valueArr,
            backgroundColor: [
              '{{usedColour}}', '{{remainingColour}}'
            ],
            borderWidth: 0,
          }
        ]
      }
    });
  </script>

{% endmacro %}