{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - Approve expenses{% endblock %}
{% block page_identifier %}Approve expenses{% endblock %}

{% set bacsAndChequeTabHtml %}
  <span id="bacsAndChequeTab">
    BACS and cheque{% if tabHeaders.totalPendingBacs > 0 %} <span id="jurorApprovalCount" class="moj-notification-badge jd-badge-blue">{{ tabHeaders.totalPendingBacs }}</span>{% endif %}</a>
  </span>
{% endset %}
{% set cashTabHtml %}
  <span id="cashTab">
    Cash{% if tabHeaders.totalPendingCash > 0 %} <span id="jurorApprovalCount" class="moj-notification-badge jd-badge-blue">{{ tabHeaders.totalPendingCash }}</span>{% endif %}</a>
  </span>
{% endset %}

{% set currentApp = "Jurors" %}
{% set nav = "approve-expenses" %}

{% block beforeContent %}
  <div class="govuk-!-margin-top-5">
    {% if bannerMessage %}
      {{ mojBanner({
        type: "success",
        text: bannerMessage,
        iconFallbackText: "Success"
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block content %}

{% include "includes/errors.njk" %}  

  {% set filterByDate %}
    <div class="filter-by-date">
      <div class="additional-stats__row">
        
        {% set approveExpensesFromDateError = undefined %}
        {% set approveExpensesToDateError = undefined %}
        {% set toggle = false %}

        {% if errors.items["approveExpensesFromDate"] %}
          {% set approveExpensesFromDateError = errors.items["approveExpensesFromDate"][0].details %}
        {% endif %}
        {% if errors.items["approveExpensesToDate"] %}
          {% set approveExpensesToDateError = errors.items["approveExpensesToDate"][0].details %}
        {% endif %}
        {% if errors.items["approveExpensesFromDate"] or errors.items["approveExpensesToDate"]%}
          {% set toggle = true %}
        {% endif %}
        {% if dateFilters.from or dateFilters.to %}
          {% set filterStartDate = dateFilters.from | dateFilter("yyyy-MM-DD", "DD/MM/YYYY") %}
          {% set filterEndDate = dateFilters.to | dateFilter("yyyy-MM-DD", "DD/MM/YYYY") %}
          {% set toggle = true %}
        {% endif %}

        {{ datePicker({
          id: "filterStartDate",
          label: {
            text: "Date from"
          },
          hint: "Use dd/mm/yyyy format. For example, 31/01/2024.",
          dateValue: tmpBody.filterStartDate if tmpBody.filterStartDate else filterStartDate,
          dateError: approveExpensesFromDateError
        }) }}

        {{ datePicker({
          id: "filterEndDate",
          label: {
            text: "Date to"
          },
          hint: "Use dd/mm/yyyy format. For example, 31/01/2024.",
          dateValue: tmpBody.filterEndDate if tmpBody.filterEndDate else filterEndDate,
          dateError: approveExpensesToDateError
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            type: "submit",
            text: "Apply filter",
            classes: "govuk-button--secondary"
          }) }}
          <a class="govuk-link" href="{{ clearFilter }}">Clear filter</a>
        </div>
      </div>
    </div>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Approve expenses</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojSubNavigation({
        label: "Approve expenses navigation",
        items: [{
          html: bacsAndChequeTabHtml,
          href: tabsUrls.bacsAndCheque,
          active: currentTab === "BACS"
        },
        {
          html: cashTabHtml,
          href: tabsUrls.cash,
          active: currentTab === "CASH"
        }]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="{{ processDateFilterUrl }}" class="mod-filter-form" id="filterByDateForm" method="post">
        {{ govukDetails({
            summaryText: "Filter by date",
            html: filterByDate,
            id: "filterByDate",
            open: toggle
        }) }}

        <input type="hidden" name="currentTab" value="{{ currentTab }}">
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>
      {% include "./_partials/approve-expenses-table.njk" %}
    </div>
  </div>
{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "includes/datepicker.njk" %}

  <script nonce="{{ nonce }}">
    let allChecked = false;
    let chkbxs = document.getElementsByName('selectedJurors');
    document.getElementById("totalJurors").innerHTML = chkbxs.length;
    document.getElementById("checkedJurors").innerHTML = 0;

    function selectAll() {
      if (allChecked) {
        allChecked = false;
        for(var i = 0; i < chkbxs.length; i++){
          if (chkbxs[i].type=='checkbox')
          chkbxs[i].checked = false;   
        }
        document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length;
      } else {
        allChecked = true;
        for(var i = 0; i < chkbxs.length; i++){
          if (chkbxs[i].type=='checkbox')
          chkbxs[i].checked = true;  
        }
        document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length - 1;
      }
    };

    function checkSet() {
      document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length;
      if (chkbxs.length > document.getElementsByName('selectedJurors:checked').length) {
        document.getElementsByName('selectAllCheckbox')[0].checked = false;
        allChecked = false;
      }
    }
  </script>

{% endblock %}
