{% extends "layouts/default.njk" %}

{% block page_title %}{{ serviceName }} - Messaging - export contact details - jurors list{% endblock %}
{% block page_identifier %}messaging - export contact details - jurors list{% endblock %}

{% block content %}

  <p class="govuk-body">The jurors list</p>

{% endblock %}