<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="mod-dashboard__large-values">
      <div class="mod-dashboard__large-values__value">
        <span class="govuk-!-font-size-80 govuk-!-font-weight-bold">
          16
        </span>
        <span class="label">
          <a class="govuk-body govuk-link" href="#">Unpaid attendances</a>
        </span>
      </div>
      <div class="mod-dashboard__large-values__value">
        <span class="mod-dashboard__large-values__value--inline">
          <span class="govuk-!-font-size-80 govuk-!-font-weight-bold">
            65
          </span>
          <span class="govuk-heading-m govuk-!-margin-bottom-1"> days</span>
        </span>
        <span class="label">
          <a class="govuk-body govuk-link" href="#">Oldest unpaid attendance</a>
        </span>
      </div>
    </div>
  </div>
</div>