{% extends "layouts/default.njk" %}

{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "custom-components/mod-search/macro.njk" import modSearch %}

{% set currentPage = "homepage" %}

{% block page_title %}Juror homepage{% endblock %}
{% block page_identifier %}Homepage{% endblock %}

{% block content %}

  {% if notifications | length %}
    <h2 class="govuk-heading-m">Notifications</h2>

    {% for notification in notifications %}
      {{ mojBanner({
        type: "information",
        html: notification
      }) }}
    {% endfor %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"> 
      {% if isBureauUser %}
          <h2 class="govuk-heading-m">Quick links</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li><a href="{{ url('inbox.todo.get') }}" class="govuk-link govuk-!-font-weight-bold">Your Work</a></li>
            <li><a href="{{ url('quick-link.summoning-progress.get') }}" class="govuk-link govuk-!-font-weight-bold">Summoning progress</a></li>
            <li><a href="{{ url('quick-link.deferral-maintenance.get') }}" class="govuk-link govuk-!-font-weight-bold">Deferral maintenance</a></li>
            <li><a href="{{ url('pool-management.get') }}?status=created&tab=bureau" class="govuk-link govuk-!-font-weight-bold">Active pools</a></li>
            <li><a href="{{ url('reports.yield-performance.filter.dates.get') }}" class="govuk-link govuk-!-font-weight-bold">Yield performance</a></li>
          </ul>
      {% elif isCourtUser %}
        <h2 class="govuk-heading-m">Quick links</h2>
          <ul class="govuk-body govuk-list govuk-list--spaced">
            <li><a href="{{ url('reports.prepare-monthly-utilisation.filter.get') }}" class="govuk-link govuk-!-font-weight-bold">Prepare monthly wastage and utilisation report</a></li>
            <li><a href="{{ url('reports.view-monthly-utilisation.filter.get') }}" class="govuk-link govuk-!-font-weight-bold">View monthly wastage and utilisation reports</a></li>
            <li><a href="{{ url('juror-management.attendance.get') }}" class="govuk-link govuk-!-font-weight-bold">Record attendance</a></li>
            <li><a href="{{ url('trial-management.trials.get') }}" class="govuk-link govuk-!-font-weight-bold">Active trials</a></li>
            <li><a href="{{ url('reports.persons-attending-summary.filter.get') }}" class="govuk-link govuk-!-font-weight-bold">Persons attending report (Summary)</a></li>
          </ul>
      {% endif %}
    </div>
    
    <div class="govuk-grid-column-one-half homepage-search-column">
      {{ modSearch({
        action: url("juror-record.search.post"),
        method: "post",
        classes: "govuk-!-margin-bottom-4",
        input: {
          id: "globalSearch",
          name: "globalSearch"
        },
        button: {
          text: "Search"
        },
        label: {
          text: "Search for a juror record",
          classes: "govuk-!-font-weight-bold govuk-!-font-size-24"
        },
        hint: {
          text: "Search for a juror record by using their juror number or using a barcode scan"
        },
        csrf: csrftoken
      }) }}

      <p class="govuk-body">
        <a class="govuk-link" href="{{ url('juror-record.search.get') }}" aria-label="Advanced juror search">
          Advanced juror search
        </a>
      </p>

    </div>
  </div>

{% endblock %}
