{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}{{ serviceName }} - process response{% endblock %}

{% block page_identifier %}process - what to do{% endblock %}

{% block beforeContent %}
  {% if backLinkUrl %}
    <a href="{{ backLinkUrl }}" class="govuk-back-link">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% if errors.items["disqualifyReason"] %}
    {% set disqualifyError = {"text": errors.items['disqualifyReason'][0].details} %}
  {% else %}
    {% set disqualifyError = undefined %}
  {% endif %}

  {# Setup reason radio button items #}
  {% set reasonList = [] %}
  {% for reason in disqualifyReasons %}

    {% if reason.code === disqualifyDetails.disqualifyReason %}
      {% set reasonSelected = "checked" %}
    {% else %}
      {% set reasonSelected = undefined %}
    {% endif %}

    {% set reasonList = (reasonList.push({value: reason.code, text: reason.code + " - " + reason.description, checked: reasonSelected }), reasonList) %}
  {% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Disqualify this juror</h1>
      <form action="{{ processUrl }}" method="POST" id="disqualifyForm">

        {{ govukRadios({
          id: "disqualifyReason",
          name: "disqualifyReason",
          fieldset: {
            legend: {
              text: "Select why you're disqualifying this juror",
              classes: "govuk-label--s govuk-!-margin-bottom-3"
            }
          },
          items: reasonList,
          errorMessage: disqualifyError
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {
              id: "continueButton"
            }
          }) }}
          <a href="{{ cancelUrl }}" class="govuk-link" id="cancelAnchor">Cancel</a>
        </div>

        <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
      </form>
    </div>
  </div>
{% endblock %}