{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "custom-components/autocomplete/macro.njk" import modAutocomplete %}


{% block page_title %}{{ serviceName }} - Reassign before processing{% endblock %}
{% block page_identifier %}Reassign before processing{% endblock %}ß

{% block beforeContent %}
  {% include "../../includes/back-link.njk" %}
{% endblock %}

{% block content %}

{% include "includes/errors.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% set selectCourtError = undefined %}
    {% set courtNameOrLocationError = undefined %}
    {% if errors.items['selectCourt'] %}
      {% set selectCourtError = {
        text: errors
          .items['selectCourt'][0]
          .details
      } %}
    {% endif %}
    {% if errors.items['courtNameOrLocation'] %}
      {% set courtNameOrLocationError = {
        text: errors
          .items['courtNameOrLocation'][0]
          .details
      } %}
    {% endif %}    
  </div>
</div>

{% set radioButtons = [] %}
{% if catchmentWarning.courts | length%}
  {% for court in catchmentWarning.courts %}
    {% set radioButtons = (radioButtons.push(
      {
        value: court.locationCode,
        text: court.formattedName
      }
    ), radioButtons) %}
  {% endfor %}
  {% set radioButtons = (radioButtons.push({divider: 'or'}), radioButtons) %}
{% endif %}
{% set radioButtons = (radioButtons.push(
  {
    value: currentCourt.locationCode, 
    text: "Leave as " + currentCourt.formattedName
  }
), radioButtons) %}
{% set radioButtons = (radioButtons.push({divider: 'or'}), radioButtons) %}
{% set differentCourtHtml %}
  {{ modAutocomplete({
    label: {
      text: "Court name or location code",
      class: "govuk-!-margin-top-4"
    },
    name: "courtNameOrLocation",
    id: "courtNameOrLocation",
    data: courts,
    errorMessage: courtNameOrLocationError,
    nonce: nonce
  }) }}
{% endset %}
{% set radioButtons = (radioButtons.push(
  {
    value: 'differentCourt', 
    text: 'Select a different court', 
    conditional: {
      html: differentCourtHtml
    }
  }
), radioButtons) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You may need to reassign this juror to a different court before you can finish processing this reply</h1>
    <p class="govuk-body">This is because their address is outside the catchment for the court they were originally summoned to.</p>
  </div>
</div>
<form method="post" action="{{ processUrl }}" id="editDeferralForm">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "selectCourt",
        fieldset: {
          legend: {
            text: "Select a court to reassign to",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: radioButtons,
        value: userInput.selectCourt,
        errorMessage: selectCourtError
      }) }}
      <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "continue"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url('juror-record.overview.get', {
              jurorNumber: jurorNumber
          }) }}">Cancel</a>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">
    </div>
  </div>
</form>
{% endblock %}

{% block body_end %}
  {{ super() }}

  <script src="{{ assetPath if assetPath else '/' }}js/accessible-autocomplete.min.js"></script>
  <script type="application/javascript" nonce="{{ nonce }}">
    $(document).ready(function() {
      document.getElementById("courtNameOrLocation").value = "{{ userInput.courtNameOrLocation }}";
      document.getElementById("courtNameOrLocation").focus();
      document.getElementById('courtNameOrLocation').click();
      document.getElementById("courtNameOrLocation").blur();
    });
  </script>
{% endblock %}