// Colors
$color-black: #000000;
$color-light-grey: #cccccc;
$color-blue: #0000ff;
$color-turquoise-lighter: #00a898;
$color-turquoise-lightest: #c8e6e4;
$color-turquoise-opaque: rgba(40, 161, 151, .25);

$color-grey-background: #dddfe1;
$color-grey-border: #bdc0c2;

// Palette
$govuk-blue-lighten: #7faed2;

// Tables
$color-table-row-highlight: #ffbf47;

$color-table-urgent: #ffe7e9;
$color-table-todo-row: #ffffff;

$color-table-closed-row-even: #dee0e2;
$color-table-closed-row-odd: #dee0e2;

$color-blue-btn: #2B8CC4;

$color-modal-fade: rgba(0,0,0,0.4);
$color-modal-shadow: rgba(0,0,0,0.25);
