$font-size-toy: 0.75rem;
$font-size-xsmall: 1rem;
$font-size-body: 1.1875rem;
$font-size-small: 1.5rem;
$font-size-large: 1.625rem;
$font-size-xlarge: 2.25rem;

.font-large {
  font-size: 1.75rem;
}

.heading-small {
  font-size: $font-size-large;
}

.heading-xsmall {
  font-size: $font-size-xsmall
}
