<p class="govuk-body">Thank you for contacting HM Courts &amp; Tribunals Service (HMCTS) Jury Central Summoning Bureau.</p>

<p class="govuk-body">As discussed today, if you would like support to complete your online form, you can contact our partner organisation We Are Group who can help. They do not provide legal advice.</p>

<p class="govuk-body">You can contact them by:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Telephone: 03300 160051</li>
  <li>Opening Hours: Monday – Friday 09:00 – 17:00</li>
  <li>Email: support@wearegroup.com</li>
  <li>Or text “FORM” to 60777</li>
  <li>Website: <a class="govuk-link" href="https://www.wearegroup.com/digital_support">https://www.wearegroup.com/digital_support</a></li>
</ul>

<p class="govuk-body">Please do not reply to this message as this number is not monitored.</p>
