{% extends "layouts/default.njk" %}

{% from "custom-components/macros/arrows.njk" import leftArrowSVG %}
{% from "../_partials/attendance-sub-nav.njk" import attendanceSubNav %}

{% block page_title %}{{ serviceName }} - juror-management - jurors on trial - trial list{% endblock %}
{% block page_identifier %}juror-management - jurors on trial - trial list{% endblock %}

{% set currentApp = "Jurors" %}

{% block beforeContent %}
  {{ attendanceSubNav({
    inWaitingUrl: url("juror-management.attendance.get"),
    onTrialUrl: url("juror-management.jurors-on-trial.get"),
    currentView: "on-trial"
  }) }}

  <a href="?attendance_date={{ previousDayISO }}" class="govuk-body govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline">
    {{ leftArrowSVG() }}
    {{ previousDay }}
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-l">Jurors on trial</span>
      <h1 class="govuk-heading-l">{{ currentDay }}</h1>
    </div>
  </div>

  {% if trialsList.length > 0 %}
    {% include "./trials-table.njk" %}
  {% else %}
    <p class="govuk-body">There are no trials happening for this date.</p>
  {% endif %}
  
{% endblock %}