{% extends "layouts/default.njk" %}

{% from "custom-components/macros/arrows.njk" import leftArrowSVG %}
{% from "../_partials/attendance-sub-nav.njk" import attendanceSubNav %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - Juror management - Jurors on trial - Trial list{% endblock %}
{% block page_identifier %}Juror management - Jurors on trial - Trial list{% endblock %}

{% set currentApp = "Jurors" %}

{% block beforeContent %}
  {{ attendanceSubNav({
    inWaitingUrl: url("juror-management.attendance.get"),
    onTrialUrl: url("juror-management.jurors-on-trial.get"),
    canAccessJurorsOnTrial: true,
    currentView: "on-trial"
  }) }}

  <div class="govuk-grid-row mod-flex mod-items-center">
    <a href="?attendance_date={{ previousDayISO }}" class="govuk-body govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline govuk-!-margin-bottom-0 govuk-!-margin-right-2">
      {{ leftArrowSVG() }}
      {{ previousDay }}
    </a>
    {{ datePicker({
      id: "attendanceDateSelection",
      dateValue: attendanceDatePickerValue,
      dateMax: attendanceDatePickerMax,
      hideInput: true,
      classes: "govuk-!-margin-bottom-0"
    }) }}
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-l">Jurors on trial</span>
      <h1 class="govuk-heading-l">{{ currentDay }}</h1>
    </div>
  </div>

  {% if trialsList.length > 0 %}
    {% include "./trials-table.njk" %}
  {% else %}
    <p class="govuk-body">There are no trials happening for this date.</p>
  {% endif %}
  
{% endblock %}

{% block body_end %}
  {{ super() }}

  {% include "includes/datepicker.njk" %}
  <script nonce="{{ nonce }}">
    $("#attendanceDateSelection").change(function() {
      if ('URLSearchParams' in window) {
        // Trying to find a neater way to do this
        const datePickerValue = $(this).val();
        const dateParts = datePickerValue.split('/');
        const date = `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`;
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.set("attendance_date", date);
        window.location.search = searchParams.toString();
      }
    });
  </script>
{% endblock %}