{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro jurorsAttendedCell(params) %}
  {% if params.totalAttended > 0 %}
    {{ params.totalAttended }} of {{ params.totalJurors }} <br>
  {% endif %}
  {% if params.totalAttended !== params.totalJurors %}
    <a href="{{ url('juror-management.jurors-on-trial.confirm-attendance.get', { trialNumber: params.trialNumber }) }}?attendance_date={{attendanceDate}}" class="govuk-link govuk-link--no-visited-state">
      Confirm attendance
    </a>
  {% endif %}
{% endmacro %}

{% macro auditNumberCell(params) %}
  {% if params.auditNumber %}
    <a href="{{ url('reports.jury-attendance-audit.report.print', { filter: params.auditNumber }) }}" target="_blank">
      {{ params.auditNumber }}
    </a>
  {% else %}
    -
  {% endif %}
{% endmacro %}

{% set rows = [] %}
{% for trial in trialsList %}
  {% set rows = (rows.push([
    {
      html: "<a href="+ url('trial-management.trials.detail.get', {
        trialNumber: trial.trialNumber,
        locationCode: locCode
      }) +' class="govuk-link govuk-link--no-visited-state">' + trial.trialNumber + "</a>"
    },
    {
      text: trial.parties
    },
    {
      text: trial.trialType
    },
    {
      text: trial.courtroom
    },
    {
      text: trial.judge
    },
    {
      html: jurorsAttendedCell({
        totalAttended: trial.jurorsAttended,
        totalJurors: trial.totalJurors,
        trialNumber: trial.trialNumber
      }) | safe
    },
    {
      html: auditNumberCell({
        auditNumber: trial.attendanceAudit
      })
    }
  ]), rows) %}
{% endfor %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukTable({
      attributes: {
        "data-module": "moj-sortable-table"
      },
      caption: "Trials",
      captionClasses: "govuk-visually-hidden",
      head: [
        {
          text: "Trial number",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Trial number"
          }
        },
        {
          text: "Parties",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Parties"
          }
        },
        {
          text: "Trial type",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Trial type"
          }
        },
        {
          text: "Courtroom",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Courtroom"
          }
        },
        {
          text: "Judge",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Judge"
          }
        },
        {
          text: "Jurors attended",
          attributes: {
            "aria-sort": "ascending",
            "aria-label": "Jurors attended"
          }
        },
        {
          text: "Attendance audit",
          attributes: {
            "aria-sort": "none",
            "aria-label": "Attendance audit"
          }
        }
      ],
      rows: rows
    }) }}
  </div>
</div>