{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}
  Reports
{% endblock %}

{% block page_identifier %}Reports - {{ title }}{% endblock %}

{% set currentApp = "Reports" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Uncompleted jurors could affect your utilisation figures</h1>
      <p class="govuk-body">
        You may want to check your 
        <a class="govuk-link govuk-link--no-visited-state" href="{{ incompleteServiceReportUrl }}">incomplete service report</a> 
        first, to update the status of any recently completed jurors.
      </p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "View daily utilisation",
          classes: "govuk-button",
          href: continueUrl,
          attributes: {
            id: "continueButton"
          }
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ cancelUrl }}">Cancel</a>
      </div>
    </div>
  </div>

{% endblock %}
