{% extends "layouts/default.njk" %}

{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "custom-components/sortable-table/macro.njk" import modSortableTable %}

{% block page_title %}{{ serviceName }} - Administration - Users{% endblock %}
{% block page_identifier %}Administration - Users{% endblock %}

{% set currentApp = "Court administration" if isCourtManager else ("Bureau administration" if isBureauManager else "System administration") %} 
{% set nav = "users" %}

{% block content %}

{% include "includes/errors.njk" %}  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Users</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item govuk-!-margin-right-0">
            <input
              class="govuk-radios__input"
              id="activeUsersRadio"
              name="selectUsersRadio"
              type="radio"
              value="active"
              {% if isActive === 'active' %}checked{% endif %}
            >
          <label class="govuk-label govuk-radios__label" for="activeUsersRadio">Active users</label>
        </div>
        <div class="govuk-radios__item govuk-!-margin-right-0" >
            <input 
              class="govuk-radios__input"
              id="allUsersRadio"
              name="selectUsersRadio"
              type="radio"
              value="all"
              {% if isActive === 'all' %}checked{% endif %}
            >
            <label class="govuk-label govuk-radios__label" for="allUsersRadio">All users</label>
        </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">
      {% if users.rows | length %}
        {{ modSortableTable({
          id: "usersTable",
          caption: "Users",
          captionClasses: "govuk-visually-hidden",
          head: users.head,
          rows: users.rows,
          url: '?isActive=' + isActive
        }) }}

        {{ govukPagination({
          previous: {
            href: pagination.prev
          },
          next: {
            href: pagination.next
          },
          items: pagination.items
        }) }}
      {% else %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3">
        <h2>There are no matching results</h2>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script type="application/javascript" nonce="{{ nonce }}">
    $(document).ready(() => {
      $('#activeUsersRadio').on('click', function() {
        window.location.href = '{{ radioUrls.activeUrl }}';
      });

      $('#allUsersRadio').on('click', function() {
        window.location.href = '{{ radioUrls.allUrl }}';
      });
    });
  </script>

{% endblock %}