{% extends "layouts/default-dashboard.njk" %}

{% set currentApp = "Trial management" %}

{% block page_identifier %}End Trial{% endblock %}

{% block content %}

  {% set _cancelUrl = cancelUrl %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">You must return all {% if isJuryEmpanelled %}jurors{% else %}panel members{% endif %} before you can end this trial</h1>

      <a id="goBackLink" class="govuk-link" href="{{ _cancelUrl }}">Go back</a>
    </div>
  </div>

{% endblock %}