<div id="widget_{{ widgetId }}" class="govuk-grid-row" aria-label="{{ widgetId | toSentenceCase }} widget">
  <div class="govuk-grid-column-full">
    <div class="mod-dashboard__large-values">
      {% for data in widget.values %}

        {% set defaultValue = "0" %}
        {% set value = defaultValue %}
        {% if data.value %}
          {% set value = data.value %}
        {% endif %}

        <div class="mod-dashboard__large-values__value {{ data.classes }}" aria-label="{{ data.ariaLabel }}">
          {% if data.suffix %}
            <span class="mod-dashboard__large-values__value--inline" aria-label="{{ value if value != defaultValue else 'No data available' }} {{ data.suffix if value != defaultValue else '' }}">
              <span class="govuk-!-font-size-80 govuk-!-font-weight-bold">{{ value }}</span>
              <span class="govuk-heading-m govuk-!-margin-bottom-1"> {{ data.suffix if value != defaultValue else '' }}</span>
            </span>
          {% else %}
            <span class="govuk-!-font-size-80 govuk-!-font-weight-bold" aria-label="{{ value if value != defaultValue else 'No data available' }}">
              {{ value }}
            </span>
          {% endif %}
          <span class="label">
            {% if data.label %}
              <span class="govuk-body govuk-!-font-weight-bold">{{ data.label }}</span>
            {% endif %}
            {% for link in data.links %}
              <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{ link.href }}">{{ link.text }}</a>
            {% endfor  %}
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>