<div class="govuk-grid-column-one-quarter"> 
  <h2 class="govuk-heading-m">Quick links</h2>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="{{ url('inbox.todo.get') }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Your Work</a></li>
    <li><a href="{{ url('quick-link.summoning-progress.get') }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Summoning progress</a></li>
    <li><a href="{{ url('quick-link.deferral-maintenance.get') }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Deferral maintenance</a></li>
    <li><a href="{{ url('pool-management.get') }}?status=created&tab=bureau" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Active pools</a></li>
    <li><a href="{{ url('reports.yield-performance.filter.dates.get') }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Yield performance</a></li>
  </ul>
</div>