{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - Administration - {{'Edit' if editingUser else 'Create'}} user - Confirm details{% endblock %}
{% block page_identifier %}Administration - {{'Edit' if editingUser else 'Create'}} user - Confirm details{% endblock %}

{% set currentApp = "System administration" %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check {{'edited' if editingUser else 'new'}} user details</h1>
      <form action="{{ processUrl }}" method="post" id="confirmDetailsForm">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "User type"
              },
              value: {
                text: user.userType | capitalize
              },
              actions: {
                items: [
                  {
                    href: changeUserTypeUrl,
                    text: "Change",
                    visuallyHiddenText: "userType"
                    attributes: {
                      "aria-label": "Change user type"
                    }
                  }
                ]
              }
            },
            {
              key: {
                text: "Full name"
              },
              value: {
                text: user.name
              },
              actions: {
                items: [
                  {
                    href: changeUserDetailsUrl,
                    text: "Change",
                    visuallyHiddenText: "name",
                    attributes: {
                      "aria-label": "Change user name"
                    }
                  }
                ]
              }
            },
            {
              key: {
                text: "Email"
              },
              value: {
                html: user.email
              },
              actions: {
                items: [
                  {
                    href: changeUserDetailsUrl,
                    text: "Change",
                    visuallyHiddenText: "email",
                    attributes: {
                      "aria-label": "Change user email"
                    }
                  }
                ]
              }
            },
            {
              key: {
                text: "Extra permissions"
              },
              value: {
                text: (extraPermissions | join(", ")) | capitalizeFully if extraPermissions | length else "-"
              },
              actions: {
                items: [
                  {
                    href: changeUserDetailsUrl,
                    text: "Change",
                    visuallyHiddenText: "roles",
                    attributes: {
                      "aria-label": "Change user roles"
                    }
                  }
                ]
              }
            } if user.userType !== "administrator"
          ]
        }) }}
        {{ csrfProtection(csrftoken) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: 'Edit user' if editingUser else 'Create user',
            type: "submit"
          }) }}
          <a href="{{ cancelUrl }}" class="govuk-link" id="cancelAnchor">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}