.current-app {
  width: 100%;
  height: 10px;
  background-color: govuk-colour("blue");
  
  &__with-name {
    height: 50px;
    background-color: govuk-colour("blue");
  }
  
  &__container {
    @include moj-width-container;
    @include govuk-clearfix;
    position: relative;
    padding-top: 12px; // hard coded to center the text
    
    &-title {
      color: govuk-colour("white");
    }
  }
}
