{% extends "../../layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% from "custom-components/date-picker/macro.njk" import datePicker %}

{% block page_title %}{{ serviceName }} - Change next attendance date{% endblock %}
  
{% block content %}

{% set _submitUrl = processUrl %}
{% set _cancelUrl = cancelUrl %}

<div class="govuk-grid-row">

  <form action="{{ _submitUrl }}" method="post" id="changeNextAttendanceDateForm">

    <div class="govuk-grid-column-one-half">

      {% include "includes/errors.njk" %}

      {% set dateError = undefined %}
      {% if errors.items["attendanceDate"] %}
        {% set dateError = errors.items["attendanceDate"][0].details %}
      {% endif %}

      <div class="govuk-form-group {% if dateError %} govuk-form-group--error {% endif %}">
        {{ datePicker({
          id: 'attendanceDate',
          label: {
            text: "When are they next due at court?",
            classes: "govuk-label--l"
          },
          hint: 'Use dd/mm/yyyy format. For example, 31/01/2023.',
          dateMin: minDate,
          dateMax: maxDate,
          dateValue: formDetails.attendanceDate,
          dateError: dateError
        }) }}

        {% if not juror.onCall %}
          <p class="goveuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">
            Or
          </p>

          {{ govukCheckboxes({
            name: "onCall",
            values: [formDetails.onCall],
            items: [
              {
                value: "true",
                text: "Put juror on call",
                hint: {
                  text: "They will not be expected at court until you enter a new date for them to attend."
                }
              }
            ]
          }) }}
        {% endif %}

      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save",
          type: "submit" 
        }) }}
        <a class="govuk-link" href="{{ _cancelUrl }}">Cancel</a>
      </div>

    </div>

    <input type="hidden" name="jurorNumber" value="{{ juror.jurorNumber }}">
    <input type="hidden" name="_csrf" value="{{ csrftoken }}">

  </form>

</div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript" src="{{ assetPath }}js/ds-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      const datePickers = []
        .slice
        .call(document.querySelectorAll('[data-module="ds-datepicker"]'));
      datePickers.forEach(datePicker => new DSDatePicker(datePicker, {imagePath: '{{ assetPath }}assets/images/icons/'}).init());
    });
  </script>
{% endblock %}