{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "custom-components/time-input-12-hour/macro.njk" import timeInput12Hour %}

{% block page_title %}{{ serviceName }} - Change Attendance Times{% endblock %}
  
{% block content %}

{% set _submitUrl = processUrl %}
{% set _cancelUrl = cancelUrl %}
{% set _deleteUrl = deleteUrl %}
{% set juror = selectedJuror %}

<div class="govuk-grid-row">

  <form action="{{ _submitUrl }}" method="post" id="confirmCourtTransfer">

    <div class="govuk-grid-column-two-thirds">

      {% include "includes/errors.njk" %}

      <span class="govuk-caption-l">Attendance</span>
      <h1 class="govuk-heading-l">{{juror.firstName}} {{juror.lastName}}</h1>

      <p class="govuk-body-l ">{{attendanceDate | dateFilter(null, "dddd D MMMM YYYY")}}</p>

      {{ timeInput12Hour({
        id: "checkInTime",
        name: "checkInTime",
        fieldset: {
          legend: {
            text: "Enter check in time",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: {
          hour: {
            value: checkInTime.hour,
            attributes: {
              minLength: "1",
              maxLength: "2"
            }
          },
          minute: {
            value: checkInTime.minute,
            attributes: {
              minLength: "1",
              maxLength: "2"
            }
          },
          period: {
            value: checkInTime.period
          }
        },
        errors: errors.items
      }) }}

      {{ timeInput12Hour({
        id: "checkOutTime",
        name: "checkOutTime",
        fieldset: {
          legend: {
            text: "Enter check out time",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: {
          hour: {
            value: checkOutTime.hour,
            attributes: {
              minLength: "1",
              maxLength: "2"
            }
          },
          minute: {
            value: checkOutTime.minute,
            attributes: {
              minLength: "1",
              maxLength: "2"
            }
          },
          period: {
            value: checkOutTime.period
          }
        },
        errors: errors.items
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save changes",
          type: "submit"
        }) }}
        <a class="govuk-link" href="{{ _cancelUrl }}">Cancel</a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {% if _deleteUrl %}
        <a class="mod-red-text govuk-body" href="{{ _deleteUrl }}">Delete attendance and mark as absent</a>
      {% endif %}

    </div>

    <input type="hidden" name="attendanceDate" value="{{ attendanceDate }}">
    <input type="hidden" name="_csrf" value="{{ csrftoken }}">

  </form>

</div>

{% endblock %}