{% extends "../../layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block page_title %}{{ serviceName }} - Confirm Atendance{% endblock %}

{% block page_identifier %}Confirm attendance{% endblock %}

{% block content %}

  {% set _submitUrl = processUrl %}
  {% set _cancelUrl = cancelUrl %}
  {% set jurorsCheckedIn = checkedIn %}
  {% set _jurorsNotCheckedIn = [] %}
  {% for juror in jurorsNotCheckedIn %}
    {% set _jurorsNotCheckedIn = (_jurorsNotCheckedIn.push(
      [
        {
          html: '<a href="'
            + url('juror-record.overview.get', { jurorNumber: juror['juror_number'] })
            + '" class="govuk-body govuk-link">'
            + juror['juror_number']
            + '</a>'
        }, 
        { text: juror['first_name'] }, 
        { text: juror['last_name'] }
      ]
    ), _jurorsNotCheckedIn) %}
  {% endfor %}

  <div class="govuk-grid-row">
    <form action="{{ _submitUrl }}" method="post" id="confirmCourtTransfer">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Confirm attendance list</h1>

        <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">
          {{ jurorsCheckedIn }}
        </span>
        <p class="govuk-body">
          jurors attended court today
        </p>

        <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">
          {{ _jurorsNotCheckedIn | length }}
        </span>
        <p class="govuk-body">
          jurors were due to attend today but were not checked in
        </p>
      </div>

      {% if _jurorsNotCheckedIn.length > 0 %}
        <div class="govuk-grid-column-one-half">
          {{ govukTable({
            firstCellIsHeader: true,
            caption: "Jurors not checked in",
            captionClasses: "govuk-visually-hidden",
            head: [
              {
                text: "Juror number",
                attributes: {
                  "aria-label": "Juror number"
                }
              },
              {
                text: "First name"
                attributes: {
                  "aria-label": "First name"
                }
              },
              {
                text: "Last name",
                attributes: {
                  "aria-label": "Last name"
                }
              }
            ],
            rows: _jurorsNotCheckedIn
          }) }}
        </div>
      {% endif %}

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm attendance list is correct",
            type: "submit" 
          }) }}
          <a class="govuk-link" href="{{ _cancelUrl }}">Back to attendance list</a>
        </div>
      </div>

      <input type="hidden" name="attendanceDate" value="{{ attendanceDate }}">
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">

    </form>

  </div>

{% endblock %}