{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% from "custom-components/time-input-12-hour/macro.njk" import timeInput12Hour %}

{% block page_title %}{{ serviceName }} - Jurors not checked out{% endblock %}

{% block content %}

  {% set _submitUrl = processUrl %}
  {% set _cancelUrl = cancelUrl %}
  {% set jurorsNotCheckedOut = [] %}
  {% for juror in notCheckedOut %}
    {% set jurorsNotCheckedOut = (jurorsNotCheckedOut.push(
      [
        {
          html: '<a href="'
            + url('juror-record.overview.get', { jurorNumber: juror.juror_number })
            + '" class="govuk-body govuk-link">'
            + juror.juror_number
            + '</a>'
        },
        { text: juror.first_name },
        { text: juror.last_name },
        { text: juror.check_in_time | timeArrayToString | convert24to12 },
        { text: juror.juror_status | jurorStatusToString }
      ]
    ), jurorsNotCheckedOut) %}
  {% endfor %}

  <div class="govuk-grid-row">

    <form action="{{ _submitUrl }}" method="post" id="confirmNotCheckedOut">

      <div class="govuk-grid-column-two-thirds">
        {% include "includes/errors.njk" %}

        <h1 class="govuk-heading-l">Some jurors have not been checked out</h1>
      </div>

      <div class="govuk-grid-column-one-half">
        {{ govukTable({
          firstCellIsHeader: true,
          caption: "Jurors not checked out",
          captionClasses: "govuk-visually-hidden",
          head: [
            {
              text: "Juror number",
              attributes: {
                "aria-label": "Juror number"
              }
            },
            {
              text: "First name",
              attributes: {
                "aria-label": "First name"
              }
            },
            {
              text: "Last name",
              attributes: {
                "aria-label": "Last name"
              }
            },
            {
              text: "Checked in",
              attributes: {
                "aria-label": "Checked in"
              }
            },
            {
              text: "Juror status",
              attributes: {
                "aria-label": "Juror status"
              }
            }
          ],
          rows: jurorsNotCheckedOut
        }) }}
      </div>

      <div class="govuk-grid-column-two-thirds">
        {{ timeInput12Hour({
          id: "checkOutTime",
          name: "checkOutTime",
          fieldset: {
            legend: {
              text: "Enter check out time",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "This will be applied to all jurors in this list"
          },
          items: {
            hour: {
              value: checkOutTime.hour,
              attributes: {
                minLength: "1",
                maxLength: "2"
              }
            },
            minute: {
              value: checkOutTime.minute,
              attributes: {
                minLength: "1",
                maxLength: "2"
              }
            },
            period: {
              value: checkOutTime.period
            }
          },
          errors: errors.items
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}
          <a class="govuk-link" href="{{ _cancelUrl }}">Back to attendance list</a>
        </div>
      </div>

      <input type="hidden" name="attendanceDate" value="{{ attendanceDate }}">
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">

    </form>
  </div>

{% endblock %}