@font-face {
  font-family: 'Libre Barcode';
  src: url(../assets/fonts/LibreBarcode39-Regular.ttf) format('truetype');
}

.mod-juror-record {
  &--header {
    &__tag-row {
      display: inline-block;
    }

    &__info-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__name {
        display: block;
      }

      &__actions {
        display: block;
      }
    }
  }

  &__banner {
    background-color: govuk-colour("light-grey");
    display: grid;
    padding: 15px 0;
    border-top: 3px solid govuk-colour("turquoise");
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: govuk-spacing(5);

    &-column {
      padding: 0 15px;
    }

    @include govuk-media-query($from: desktop) {
      grid-template-columns: repeat(5, auto);

      &-column {
        padding: 0 15px;

        /// we can give the first child some margin
        :first-child {
          margin-bottom: govuk-spacing(2);
        }
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid black;
  }
}

.mod-contact-third-party {
  color: govuk-colour("blue");
  font-weight: bold;
}

.mod-button-menu {
  right: 0;
  width: 270px !important;
}

.mod-log-left-nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-view-align_right {
  right: 0;
}

.mod-button-group {
  display: flex;
  align-items: center;
  @include govuk-font($size: 16);
  margin-top: govuk-spacing(3);
  gap: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    @include govuk-font($size: 19);
    margin-top: govuk-spacing(0);
  }
}

/// Details Banner ///
/// this can probably be used for both juror-record and summons-reply
.mod-details-banner {
  background-color: govuk-colour("light-grey");
  border-top: 3px solid govuk-colour("purple");
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);

  .label {
    font-weight: bold;
  }

  .info {
    line-height: 26px;
  }

  .with-icon {
    display: flex;
    align-items: start;
    gap: 5px;
  }
}

.mod-details-banner-juror-record {
  @extend .mod-details-banner;
  border-top: 3px solid govuk-colour("turquoise");
}

/// Summons Reply ///
.mod-reply-section {
  margin-top: govuk-spacing(7);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    height: 20px;
  }

  &__required {
    color: govuk-colour("red");
    text-decoration: underline;
  }
}

/// Used in banners for inverted label
.mod-tag-grey {
  color: #ffffff;
  background-color: govuk-colour("dark-grey");
}

/// Icons
.mod-icon-urgent {
  width: 20px;
  height: 20px;

  background-image: url('/assets/images/icons/icon-urgent.png');
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
  .mod-icon-urgent {
    background-image: url('/assets/images/icons/icon-urgent-2x.png');
    background-size: cover;
  }
}

/// Mod Filter
.mod-filter {
  border: 1px solid govuk-colour("mid-grey");

  &__heading {
    background-color: govuk-colour("mid-grey");
    padding: govuk-spacing(2) govuk-spacing(4);
  }

  &__options {
    padding: govuk-spacing(4);
  }

  &__actions {
    padding: 0 govuk-spacing(4);
  }
}

/// Some CSS utility classes
.mod-flex {
  display: flex;
}

.mod-flex-grow {
  flex-grow: 1;
}

.mod-items-start {
  align-items: start;
}

.mod-items-center {
  align-items: center;
}

.mod-items-end {
  align-items: end;
}

.mod-justify-end {
  justify-content: end;
}

.mod-space-between {
  justify-content: space-between;
}

.mod-baseline {
  align-items: baseline;
}

.mod-gap-x {
  &-1 {
    gap: 0.25rem;
  }
  &-2 {
    gap: 0.5rem;
  }
  &-4 {
    gap: 1rem;
  }
}

.mod-no-width {
  width: 0 !important;
}

dt.govuk-summary-list-mod {
  width: 50% !important;
}

.mod-align-top {
  vertical-align: top;
}

.mod-overflow-auto {
  overflow: auto;
}

.mod-min-width-150 {
  min-width: 150px;
}

/// small hack for radio tables
.-margin-top-4 {
  margin-top: -1.25rem;
}

.ds-calendar-monday {
  background-color: govuk-colour("blue") !important;
  color: govuk-colour("white") !important;
  position: relative !important;

  &:hover {
    background-color: govuk-colour("light-blue") !important;
  }

  &:focus {
    background-color: govuk-colour("yellow") !important;
    color: govuk-colour("black") !important;
    box-shadow: 0 -3px govuk-colour("black"), inset 0 -3px govuk-colour("black");
  }
}

.mod-red-text {
  color: govuk-colour("red");
}

/// mod sortable table
.mod-sortable-table-head {
  a {
    position: relative;
  }

  &[aria-sort=none] {
    a::before {
      content: " \25bc";
      position: absolute;
      right: -10px;
      top: 9px;
      font-size: .5em;
    }

    a::after {
      content: " \25b2";
      position: absolute;
      right: -10px;
      top: 1px;
      font-size: .5em;
    }
  }

  &[aria-sort=ascending] a::after {
    content: " \25b2";
    font-size: .8em;
    position: absolute;
    right: -15px;
    top: 2px;
  }

  &[aria-sort=descending] a::after {
    content: " \25bc";
    font-size: .8em;
    position: absolute;
    right: -15px;
    top: 2px;
  }
}

.mod-overflow-break-word {
  overflow-wrap: break-word;
}

.mod-arrow-svg {
  width: .9375rem;
  height: .8125rem;
  color: #505a5f;
  fill: currentcolor;
  forced-color-adjust: auto;

  &__blue {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    padding: 5px;
  }
}

.mod-highlight-table-row {
  &__grey {
    background-color: govuk-colour("light-grey");
  }

  &__light-blue {
    background-color: govuk-tint(govuk-colour("blue"), 90%);
  }
}
.mod-highlight-table-data {
  &__grey {
    background: govuk-colour("light-grey");
  }
  &__blue {
    background: govuk-colour("blue");
    color: govuk-colour("white");
  }
}
.mod-center-table-data {
  text-align: center;
}

.mod-middle-align {
  vertical-align: middle;
}

.mod-horizontal-scroll-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.mod-hidden {
  display: none;
}

/// The <details> componend from GDS does not allow us to edit its default style
/// Having a custom css class, allows us to manipulate its children and achieve what we need
.mod-details-error {
  summary {
    color: $govuk-error-colour;
    @include govuk-typography-weight-bold;

    &:hover {
      @include govuk-link-style-error;
    }

    + div {
      border-left-color: $govuk-error-colour;
    }
  }
}

.mod-padding-block {
  &--0 {
    padding-block: 0;
  }
}

.mod-summary-list-align {
  &__right {
    text-align: right;
  }
}

.mod-summary-list {
  &__blue {
    background: govuk-colour("blue");
    color: govuk-colour("white")
  }
}

.mod-expense-record-header {
  display: flex;
  justify-content: space-between;
}

.mod-expense-entry-group {
  padding: 10px;
  margin: 30px 10px 0px 10px;
  background: #F3F2F1;

  .govuk-form-group {
    margin-bottom: 15px;
  }
}

.mod-expense-entry-pagination {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  div {
    margin: 0 10px 0 10px;
  }
}

/// The reason for these to be extracted from the previous parent class they were in
/// is beacause we do not have any instance of checks or radios where the background
/// does not need to be white... so, here, at lease we make sure that they will always
/// have a white background
.govuk-checkboxes__label {
  &::before {
    background-color: govuk-colour("white");
  }
}

.govuk-radios__label {
  &::before {
    background-color: govuk-colour("white");
  }
}

.mod-select {
  &--no-min-width{
    min-width: 0;
  }
}

.mod-bold {
  font-weight: bold;
}

.mod-autocomplete--width-20 {
  max-width: 20.5em;
}

.fixTableHead { 

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
  }

  thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1;
  }

  th { 
    background: govuk-colour("white");
  }

  &__data-header {
    width: 100%;
  }

  table {
    display: block;
    overflow-y: auto;
    max-height: 50rem;
    width: auto;
  }

  .govuk-checkboxes__item {
    z-index: 0;
  }
}

.mod-assign-courts-table {
  thead tr th:first-of-type,
  tbody tr td:first-of-type {
    width: 1.75rem;
  }
}

.report-headings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  padding-bottom: 20px;

  .heading-element {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;

    .title {
      font-weight: bold;
    }
  }
}

.jury-summoning-monitor-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  grid-auto-flow: row;
  border-top: 2px solid govuk-colour("black");

  .table-item {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid govuk-colour("mid-grey");
    padding: 10px 0 10px 10px;

    .title {
      font-weight: bold;
    }
  }

  .blue {
    background-color: govuk-colour("blue");
    color: white;
  }

  .gray {
    background-color: govuk-colour("light-grey");
  }

  .bordered {
    border-block: none;
    border-inline: 1px solid govuk-colour("mid-grey");
  }
}

.jury-summoning-monitor-sub-table {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) 1fr;
  background-color: govuk-colour("light-grey");
  border-bottom: 1px solid govuk-colour("mid-grey");

  .table-item {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 0 10px 10px;
    border-top: 1px solid govuk-colour("mid-grey");

    &:nth-child(even) {
      border-right: 1px solid govuk-colour("mid-grey");
    }

    &:nth-child(odd) {
      border-left: 1px solid govuk-colour("mid-grey");
    }

    &:nth-child(1) {
      border-top: none;
    }

    &:nth-child(2) {
      border-top: 1px solid govuk-colour("mid-grey");
    }

    .title {
      font-weight: bold;
    }
  }
}

.mod-table-no-border {
  border-bottom: 0px;
}

.mod-barcode {
  font-family: 'Libre Barcode';
  font-size: 3em;
}

.grouped-display-inline {
  @extend .govuk-caption-m;
  display: inline;
  text-transform: capitalize;
}

.mod-\!-width {
    &-one-sixth {
      width: calc(100% / 6) !important;
    }

    &-one-eighth {
      width: 12.5% !important;
    }

    &-three-twentyfifths {
      width: 8.33333333333% !important;
    }

    &-one-fifteenth {
      width: 6.667% !important;
    }

}

.link-block {
  display: block;
}

.juror-history-timeline {
  .moj-timeline__header {
    display: inline-flex;
    width: 100%;
    gap: 0.25rem;
    
    .moj-timeline__title {
      margin-block-start: 0;
    }

    .pool-number {
      flex-grow: 1;
      text-align: right;
    }
  }

  .entry {
    font-size: 16px;
  }
}

.juror-history-payments {
  .container {
    width: 100%;
    background-color: govuk-colour("blue");
    left: 0;
    color: govuk-colour("white");
    font-size: 1.1875rem;
    padding: 14px;
    display: grid;
    gap: 20px;
    box-sizing: border-box;

    .column {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  @include govuk-media-query($from: desktop) {
    height: 89px;
  
    .container {
      grid-template-columns: repeat(7, auto);

      .column {
        gap: 20px;
      }
    }
  }
}

.history-print-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}