.trial-detail {  
    &__header{
        margin-bottom: 30px;

        &-label {
        @include govuk-font($size: 24);
        color: govuk-colour("dark-grey");
        }

        &-number {
        display: flex;
        align-items: center;
        gap: 20px;
        }
    }
  }