.trial-detail {  
    &__header{
        margin-bottom: 30px;

        &-label {
        font-size: 24px;
        color: govuk-colour("dark-grey");
        }

        &-number {
        display: flex;
        align-items: center;
        gap: 20px;
        }
    }
  }