{% extends "layouts/default-no-nav.njk" %}

{% set currentApp = "Reports" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Reports</h1>

      <h2 class="govuk-heading-m">Summoning reports</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="#">Available list</a></li>
        <li><a class="govuk-link" href="#">Current pool status report</a></li>
        <li><a class="govuk-link" href="#">Deferred list</a></li>
        <li><a class="govuk-link" href="#">Electronic police check report</a></li>
        <li><a class="govuk-link" href="#">Excused and disqualified report</a></li>
        <li><a class="govuk-link" href="#">Juror amendment report</a></li>
        <li><a class="govuk-link" href="{{ url('next-due.filter.get') }}">Next attendance date report</a> (previously Summary)</li>
        <li><a class="govuk-link" href="{{ url('non-responded.filter.get') }}">Non-responded list</a></li>
        <li><a class="govuk-link" href="#">Pool selection list</a></li>
        <li><a class="govuk-link" href="#">Postponed list</a></li>
        <li><a class="govuk-link" href="#">Reasonable adjustments</a></li>
        <li><a class="govuk-link" href="#">Summoned and responded pool member status report</a></li>
        <li><a class="govuk-link" href="{{ url('undelivered.filter.get') }}">Undelivered list</a></li>
        <li><a class="govuk-link" href="#">Yield performance report</a></li>
      </ul>

      <h2 class="govuk-heading-m">Management reports</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="#">Bulk-print audit report</a> (previously Abaccus report)</li>
        <li><a class="govuk-link" href="#">Jury summoning monitor report</a></li>
        <li><a class="govuk-link" href="#">Pool analysis report</a></li>
        <li><a class="govuk-link" href="#">Pool ratio report</a></li>
        <li><a class="govuk-link" href="#">Pool statistics</a></li>
        <li><a class="govuk-link" href="#">Pool status report</a></li>
      </ul>
      
    </div>
  </div>
{% endblock %}