{% extends "layouts/default-no-nav.njk" %}

{% block page_title %}{{ serviceName }} - Reports List{% endblock %}
{% block page_identifier %}Reports List{% endblock %}

{% set currentApp = "Reports" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Reports</h1>

      <h2 class="govuk-heading-m">Summoning reports</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.available-list.filter.get') }}">Available list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.current-pool-status.filter.get') }}">Current pool status report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.deferred-list.filter.get') }}">Deferred list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.excused-disqualified.filter.get') }}">Excused and disqualified report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.electronic-police-check.filter.get') }}">Electronic police check report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.next-due.filter.get') }}">Next attendance date report</a> (previously Summary)</li>
        <li><a class="govuk-link" href="{{ url('reports.non-responded.filter.get') }}">Non-responded list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-selection.filter.get') }}">Pool selection list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.postponed.search.get') }}">Postponed list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.reasonable-adjustments.filter.get') }}">Reasonable adjustments</a></li>
        <li><a class="govuk-link" href="{{ url('reports.summoned-responded.filter.get') }}">Summoned and responded pool member status report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.undelivered.filter.get') }}">Undelivered list</a></li>
        <li><a class="govuk-link" href="#">Yield performance report</a></li>
      </ul>

      <h2 class="govuk-heading-m">Management reports</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.bulk-print-audit.filter.get') }}">Bulk-print audit report</a> (previously Abaccus report)</li>
        <li><a class="govuk-link" href="{{ url('reports.jury-summoning-monitor.search.get') }}">Jury summoning monitor report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-analysis.filter.get') }}">Pool analysis report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-statistics.filter.get') }}">Pool statistics</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-ratio.filter.dates.get') }}">Pool ratio report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-status.filter.get') }}">Pool status report</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
