{% extends "layouts/default.njk" %}

{% block page_title %}{{ serviceName }} - Statistics{% endblock %}
{% block page_identifier %}Statistics{% endblock %}

{% set currentApp = "Reports" %}
{% set nav = "statistics" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Statistics</h1>

      <h2 class="govuk-heading-m">General</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.attendance-data.filter.get') }}">Attendance data</a> (previously Attendance graph)</li>
        <li><a class="govuk-link" href="#">Pool analysis report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.trial-statistics.filter.get') }}">Trial statistics</a> (previously Jury summary report)</li>
        <li><a class="govuk-link" href="{{ url('reports.voir-dire.filter.get') }}">Panel result report</a> (previously Voir dire report)</li>
        <li><a class="govuk-link" href="#">Pool status report</a> (previously Pool status graph)</li>
        <li><a class="govuk-link" href="{{ url('reports.incomplete-service.filter.get') }}">Incomplete service report</a></li>
        
      </ul>

      <h2 class="govuk-heading-m">Jury expenditure</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.jury-expenditure-low-level.filter.get') }}">Jury expenditure report (low-level)</a></li>
        <li><a class="govuk-link" href="{{ url('reports.jury-expenditure-mid-level.filter.get') }}">Jury expenditure report (mid-level)</a></li>
        <li><a class="govuk-link" href="{{ url('reports.jury-expenditure-high-level.filter.get') }}">Jury expenditure report (high-level)</a></li>
      </ul>

      <h2 class="govuk-heading-m">Wastage and utilisation</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.daily-utilisation.filter.get') }}">Daily wastage and utilisation report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.prepare-monthly-utilisation.filter.get') }}">Prepare monthly wastage and utilisation report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.view-monthly-utilisation.filter.get') }}">View monthly wastage and utilisation reports</a></li>
      </ul>
      
    </div>
  </div>
{% endblock %}