{% extends "layouts/default.njk" %}

{% block page_title %}{{ serviceName }} - Reports{% endblock %}
{% block page_identifier %}Reports{% endblock %}

{% set currentApp = "Reports" %}
{% set nav ="reports" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Reports</h1>

      <h2 class="govuk-heading-m">Attendance and expenses</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.absences.filter.get') }}">Absence report</a> (previously No show list)</li>
        <li><a class="govuk-link" href="{{ url('reports.jury-cost-bill.filter.get') }}">Jury cost bill</a></li>
        <li><a class="govuk-link" href="{{ url('reports.payment-status-report.report.get', {filter:'locCode'}) }}">Payment status report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.persons-attending-detail.filter.get') }}">Persons attending (detailed)</a></li>
        <li><a class="govuk-link" href="{{ url('reports.persons-attending-summary.filter.get') }}">Persons attending (summary)</a></li>
        <li><a class="govuk-link" href="#">Reprint audit reports</a></li>
        <li><a class="govuk-link" href="{{ url('reports.trial-attendance.filter.get') }}">Trial attendance</a></li>
        <li><a class="govuk-link" href="{{ url('reports.unconfirmed-attendance.filter.get') }}">Unconfirmed attendance</a></li>
        <li><a class="govuk-link" href="{{ url('reports.unpaid-attendance-detailed.filter.get') }}">Unpaid attendance (detailed)</a></li>
        <li><a class="govuk-link" href="{{ url('reports.unpaid-attendance.filter.get') }}">Unpaid attendance (summary)</a></li>

      </ul>

      <h2 class="govuk-heading-m">Pools</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('reports.available-list.filter.get') }}">Available list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.current-pool-status.filter.get') }}">Current pool status report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.completion-of-service.filter.get') }}">Completion of service report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.deferred-list.filter.get') }}">Deferred list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.excused-disqualified.filter.get') }}">Excused and disqualified list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.next-due.filter.get') }}">Next attendance date report</a> (previously Summary)</li>
        <li><a class="govuk-link" href="{{ url('reports.non-responded.filter.get') }}">Non-responded list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.on-call.filter.get') }}">On call list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-analysis.filter.get') }}">Pool analysis report</a></li>
        <li><a class="govuk-link" href="{{ url('reports.pool-selection.filter.get') }}">Pool selection list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.postponed.search.get') }}">Postponed list</a></li>
        <li><a class="govuk-link" href="{{ url('reports.reasonable-adjustments.filter.get') }}">Reasonable adjustments report</a></li>
      </ul>

      {% if isSJO %}
        <h2 class="govuk-heading-m">Senior jury officer reports</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="{{ url('reports.juror-amendment.search.get') }}">Jury ammendment report</a></li>
          <li><a class="govuk-link" href="{{ url('reports.manual-juror-report.filter.get') }}">Manually-created jurors report</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
