{% extends "layouts/default-no-nav.njk" %}

{% set currentApp = "Reports" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Reports</h1>

      <h2 class="govuk-heading-m">Pool</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('next-due.filter.get') }}">DEBUG Next due date</a></li>
        <li><a class="govuk-link" href="#">Pool Status.Pool Status Spreadsheet by Month</a></li>
        <li><a class="govuk-link" href="#">Pool Status.Pool Status/Graph</a></li>
      </ul>

      <h2 class="govuk-heading-m">Reports</h2>
      <ul class="govuk-list">
        <li><a href="#" class="govuk-link">Available List</a></li>
        <li><a href="#" class="govuk-link">Current Status</a></li>
        <li><a href="#" class="govuk-link">Deferred List.By Date</a></li>
        <li><a href="#" class="govuk-link">Deferred List.By Location</a></li>
        <li><a href="#" class="govuk-link">Edit Participant Amendment Report</a></li>
        <li><a href="#" class="govuk-link">Electronic Police Check Results</a></li>
        <li><a href="#" class="govuk-link">Excused List</a></li>
        <li><a href="#" class="govuk-link">Non-Responded</a></li>
        <li><a href="#" class="govuk-link">Police Check Report</a></li>
        <li><a href="#" class="govuk-link">Pool Selection List</a></li>
        <li><a href="#" class="govuk-link">Postponed List.By Date</a></li>
        <li><a href="#" class="govuk-link">Postponed List.By Pool</a></li>
        <li><a href="#" class="govuk-link">Special Needs</a></li>
        <li><a href="#" class="govuk-link">Summary</a></li>
        <li><a href="#" class="govuk-link">Undelivered List</a></li>
      </ul>

      <h2 class="govuk-heading-m">Statistics</h2>
      <ul class="govuk-list">
        <li><a href="#" class="govuk-link">Abaccus Report</a></li>
        <li><a href="#" class="govuk-link">Pool Ratio Report</a></li>
        <li><a href="#" class="govuk-link">Pool Status Graph</a></li>
        <li><a href="#" class="govuk-link">Yield Performance Report</a></li>
      </ul>
    </div>
  </div>
{% endblock %}