{% extends "layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/summary-item/macro.njk" import summaryItem %}
{% from "includes/csrf.njk" import csrfProtection %}

{% set currentApp = "Pool management" %}

{% block page_title %}{{ serviceName }} - Pool overview - Summon additional jurors{% endblock %}
{% block page_identifier %}Pool overview - Summon additional jurors{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set citizensToSummonError = undefined %}
      {% if errors.items["citizensToSummon"] %}
        {% set citizensToSummonError = { text: errors.items["citizensToSummon"][0].details } %}
      {% endif %}

      {% set postcodesError = undefined %}
      {% if errors.items["postcodes"] %}
        {% set postcodesError = { text: errors.items["postcodes"][0].details } %}
      {% endif %}

      <form method="post" action="{{ submitUrl }}" loading-spinner-message="Summoning additional citizens, please wait...">

        <span class="govuk-caption-l">Pool {{ poolDetails.poolDetails.poolNumber }}</span>
        <h1 class="govuk-heading-l">Summon more citizens</h1>

        <p class="govuk-body">
          <span class="govuk-heading-s">Jurors requested</span>
          {{ poolDetails.poolSummary.requiredPoolSize }}
        </p>

        <p class="govuk-body">
          <span class="govuk-heading-s">Jurors confirmed</span>
          {{ poolDetails.bureauSummoning.confirmed }}
        </p>

        {{ summaryItem({
          label: {
            text: "Deferrals available to include in this pool",
            classes: "govuk-label--s"
          },
          value: bureauDeferrals,
          id: "deferralsAvailable",
          name: "deferralsAvailable",
          action: {
            href: changeDeferralsUrl,
            text: "Change",
            attributes: {
              "aria-label": "Change deferrals available to include in this pool"
            }
          }
        }) }}

        <p class="govuk-body">
          <span class="govuk-heading-s">Jurors required to complete the request</span>
          {% set jurorsRequiredToCompleteRequest = poolDetails.bureauSummoning.required - poolDetails.bureauSummoning.confirmed %}
          {{ jurorsRequiredToCompleteRequest if jurorsRequiredToCompleteRequest > 0 else "0" }}
        </p>

        <p class="govuk-body">
          <span class="govuk-heading-s">Citizens summoned</span>
          {{ poolDetails.bureauSummoning.totalSummoned }}
        </p>

        {{ govukInput({
          label: {
            text: "Extra citizens to summon",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-3",
          id: "citizensToSummon",
          name: "citizensToSummon",
          type: "number",
          errorMessage: citizensToSummonError
        }) }}
        
        {{ summaryItem({
          label: {
            text: "Court catchment area",
            classes: "govuk-label--s"
          },
          value: catchmentArea,
          id: "catchmentArea",
          name: "catchmentArea",
          action: {
            href: changeCatchmentAreaUrl,
            text: "Change",
            attributes: {
              "aria-label": "Change court catchment area"
            }
          }
        }) }}

        {{ govukCheckboxes({
          name: "postcodes",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Choose the postcodes to summon from",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: postCodes,
          attributes: {
            id: "postcodes"
          },
          errorMessage: postcodesError
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Summon more citizens",
            type: "submit",
            attributes: {
              id: "continueButton"
            }
          }) }}

          <a class="govuk-link" href="{{ url('pool-overview.get', { poolNumber: poolDetails.poolDetails.poolNumber }) }}" id="cancelAnchor">Cancel</a>
        </div>
        {% set previousJurorCount = poolDetails.additionalStatistics.totalJurorsInPool %}

        <input type="hidden" name="noRequested" id="noRequested" value="{{ poolDetails.bureauSummoning.required }}"/>
        <input type="hidden" name="poolNumber" id="poolNumber" value="{{ poolDetails.poolDetails.poolNumber }}"/>
        <input type="hidden" name="bureauDeferrals" id="bureauDeferrals" value="10"/>
        <input type="hidden" name="citizensSummoned" id="citizensSummoned" value="{{ poolDetails.bureauSummoning.totalSummoned }}"/>
        <input type="hidden" name="catchmentArea" id="catchmentArea" value="{{ catchmentArea }}"/>
        <input type="hidden" name="previous_juror_count" id="previousJurorCount" value="{{ previousJurorCount }}"/>
        
        {{ csrfProtection(csrftoken) }}
      
      </form>

    </div>
  </div>
{% endblock %}

{% block body_end %}
  {{ super() }}

  <script src="{{ assetPath }}js/loading-spinner.js"></script>

{% endblock %}