{% set smartcardSpendError = undefined %}
{% if errors.items["smartcardSpend"] %}
  {% set smartcardSpendError = { text: errors.items["smartcardSpend"][0].details } %}
{% endif %}

<div id="foodAndDrinkDiv" class="mod-expense-entry-group">
  <div class="mod-juror-record__title govuk-!-margin-bottom-5">
    <h2 id="foodAndDrinkLabel" class="govuk-heading-m govuk-!-margin-bottom-2">Food and drink</h2>
  </div>

  {{ govukRadios({
    name: "foodAndDrink",
    classes: "govuk-radios--small",
    fieldset: {
      legend: {
        text: "Claiming food and drink allowance?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "NONE",
        text: "No",
        checked: expensesData.food_and_drink.food_and_drink_claim_type === "NONE" or not epensesData.food_and_drink.food_and_drink_claim_type,
        attributes: {
          "data-summary-detectable": ""
        }
      },
      {
        value: "YES",
        text: "Yes",
        checked: expensesData.food_and_drink.food_and_drink_claim_type === "YES" 
          or expensesData.food_and_drink.food_and_drink_claim_type === "MORE_THAN_10_HOURS"
          or expensesData.food_and_drink.food_and_drink_claim_type === "LESS_THAN_OR_EQUAL_TO_10_HOURS",
        attributes: {
          "data-summary-detectable": ""
        }
      }
    ]
  }) }}

  {{ govukInput({
    classes: "govuk-!-margin-top-3 govuk-input--width-5",
    id: "smartcardSpend",
    name: "smartcardSpend",
    value: (tmpBody.smartcardSpend | toFixed(2)) if tmpBody.smartcardSpend,
    label: {
      text: "Amount spent on smartcard for this day"
    },
    prefix: {
      classes: "govuk-!-margin-top-3",
      text: "£"
    },
    errorMessage: smartcardSpendError,
    attributes: {
      "data-summary-detectable": ""
    }
  }) }}

</div>