{% from "moj/components/banner/macro.njk" import mojBanner %}

{% set messageHtml %}
  Failed to recalculate totals. <a href="#" id="recalculate-totals">Try again</a>
  <br><br>
  If problem persists, contact Crown IT support.
{% endset %}

{% if isLessThanPaid %}
  {% set messageHtml %}
    Failed to recalculate totals. New values cannot be less than old values.
    <br><br>
    Press save to verify which values are incorrect.
  {% endset %}
{% endif %}

{% if isLessThanZero %}
  {% set messageHtml %}
    Cannot be less than original expense. 
    <br><br>
    Check the numbers and try again.
  {% endset %}
{% endif %}

{{ mojBanner({
  type: "warning",
  html: messageHtml,
  iconFallbackText: "Warning"
}) }}