{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "custom-components/mod-large-tag/macro.njk" import modLargeTag %}

<div class="govuk-grid-column-one-half govuk-!-padding-left-0">
  {% if expenseData.attendanceType === 'NON_ATTENDANCE' %}
    {{ govukSummaryList({
      attributes: {
        id: 'totalsSummaryTable'
      },
      rows: [
        {
          key: {
            text: "Pay attendance"
          },
          value: {
            text: "Full day" if expenseData.payAttendance === "FULL_DAY" else "Half day"
          }
        },
        {
          key: {
            text: "Financial loss (capped)"
          },
          value: {
            text: "£" + (expenseData.lossOfEarnings + expenseData.other + expenseData.extraCare) | toFixed(2)
          }
        }
      ]
    }) }}
  {% else %}
    {{ govukSummaryList({
      attributes: {
        id: 'totalsSummaryTable'
      },
      rows: [
        {
          key: {
            text: "Pay attendance"
          },
          value: {
            text: "Full day" if expenseData.payAttendance === "FULL_DAY" else "Half day"
          }
        },
        {
          key: {
            text: "Financial loss (capped)"
          },
          value: {
            text: "£" + (expenseData.lossOfEarnings + expenseData.other + expenseData.extraCare) | toFixed(2)
          }
        },
        {
          key: {
            text: "Travel expenses"
          },
          value: {
            text: "£" + expenseData.totalTravelExpenses | toFixed(2)
          }
        },
        {
          key: {
            text: "Food and drink claim"
          },
          value: {
            text: "£" + expenseData.foodAndDrink | toFixed(2)
          }
        },
        {
          key: {
            text: "Smartcard spend"
          },
          value: {
            text: "(£" + expenseData.smartCard | toFixed(2) + ")"
          }
        }
      ]
    }) }}
  {% endif %}
  
</div>

<div class="govuk-grid-column-one-half govuk-!-padding-right-0">
  {% if status === "approved" or status === "for-reapproval" %}

    {{ govukSummaryList({
      attributes: {
        id: 'totalsDueTable'
      },
      rows: [
        {
          key: {
            text: "Total due"
          },
          value: {
            text: "£" + expenseData.totalDue | toFixed(2)
          }
        },
        {
          key: {
            text: "Total paid to date"
          },
          value: {
            text: "£" + expenseData.totalPaid | toFixed(2)
          }
        }
      ]
    }) }}

    {{ modLargeTag({
      id: "totalDueTag",
      classes: "govuk-!-margin-bottom-1",
      label: "Balance to pay",
      value: "£" + expenseData.totalOutstanding | toFixed(2)
    })}}
  {% else %}
    {{ modLargeTag({
      id: "totalDueTag",
      classes: "govuk-!-margin-bottom-1",
      label: "Total due",
      value: "£" + expenseData.totalDue | toFixed(2)
    })}}
  {% endif %}
</div>