<div class="govuk-caption-m">
  <span id="total-checked-jurors">{{ totalCheckedJurors }}</span> of <span id="total-jurors-count">{{ totalJurors }}</span> selected
</div>

<table class="govuk-table" data-module="moj-sortable-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Jurors list</caption>
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header mod-padding-block--0">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="check-all-jurors"
            aria-label="check-all-jurors" {% if totalCheckedJurors === totalJurors %}checked{% endif %}/>
          <label class="govuk-label govuk-checkboxes__label" for="jurors-all">
            <span class="govuk-visually-hidden">Select all jurors</span>
          </label>
        </div>
      </th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="Juror number">Juror number</th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="First name">First name</th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="Last name">Last name</th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="Attending">Attending?</th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="Checked in">Checked in</th>
      <th scope="col" class="govuk-table__header jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="Next due at court">Next due at court</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric jd-middle-align mod-padding-block--0" aria-sort="none" aria-label="Service start date">Service start date</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% for juror in jurors %}

      {% set nextDueAtCourt = "-" %}
      {% if juror.next_due_at_court %}
        {% if juror.next_due_at_court === "On call" %}
          {% set nextDueAtCourt = "On call" %}
        {% else %}
          {% set nextDueAtCourt = juror.next_due_at_court | dateFilter("YYYY-MM-DD", "ddd D MMM YYYY") %}
        {% endif %}
      {% endif %}

      <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell mod-padding-block--0">
          <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
            <input type="checkbox" class="govuk-checkboxes__input"
              id="juror-{{ juror.juror_number }}" {% if juror.checked %}checked{% endif %}
              aria-label="check-juror-{{ juror.juror_number }}" name="checked-jurors"/>
            <label class="govuk-label govuk-checkboxes__label" for="juror-{{ juror.juror_number }}">
              <span class="govuk-visually-hidden">Select juror {{ juror.juror_number }}</span>
            </label>
          </div>
        </td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.juror_number }}">
          <a href="{{ url('juror-record.overview.get', { jurorNumber: juror.juror_number }) }}" class="govuk-link">{{ juror.juror_number }}</a>
        </td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.first_name }}">{{ juror.first_name }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.last_name }}">{{ juror.last_name }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.attending }}">{{ juror.attending }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.check_in_time or "-" }}">{{ juror.check_in_time | timeArrayToString if juror.check_in_time else "-" }}</td>
        <td class="govuk-table__cell jd-middle-align mod-padding-block--0" data-sort-value="{{ nextDueAtCourt }}">
          {{ nextDueAtCourt }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric jd-middle-align mod-padding-block--0" data-sort-value="{{ juror.service_start_date }}">
          {{ juror.service_start_date | dateFilter("YYYY-MM-DD", "ddd D MMM YYYY") }}
        </td>
      </tr>

    {% endfor %}
  </tbody>
</table>