{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "custom-components/sortable-table/macro.njk" import modSortableTable %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% block page_title %}{{ serviceName }} - Reassign panel - Select trial{% endblock %}
{% block page_identifier %}{{ serviceName }} - Reassign panel - Select trial{% endblock %}

{% set currentApp = "Trials" %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Select a trial to reassign to</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if trials.rows | length > 0 %}
        <form action="{{ submitUrl }}" method="post" id="selectTrialForm">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body">
              {{ modSortableTable({
                id: "trialsTable",
                caption: "Trials",
                captionClasses: "govuk-visually-hidden",
                head: trials.head,
                rows: trials.rows,
                url: urlPrefix
              }) }}

              {{ govukPagination({
                previous: {
                  href: pagination.prev
                },
                next: {
                  href: pagination.next
                },
                items: pagination.items
              }) }}
            </div>
          </div>

          {{ govukButton({
            text: "Continue with selected",
            type: "submit"
          }) }}
        
          <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>
      {% else %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-6">No matching results</h2>
      {% endif %}
    </div>
  </div>

{% endblock %}
