{% macro attendanceDoughnut(params) %}

  {% set expectedColour = '#B1B4B6' %}
  {% set checkedInColour = '#1D70B8' %}
  {% set onTrialsColour = '#B58840' %}
  {% set notCheckedInColour = '#F3F2F1' %}

  <div class="doughnut-chart">
    <div class="doughnut-chart__chart-canvas">
      <div class="total">
        <span class="number">{{ params.values.expected }}</span>
        <span class="legend">Expected</span>
      </div>
      <canvas id="{{params.id}}Chart" name="{{params.id}}Chart" width="170" height="170"></canvas>
    </div>
    <div class="doughnut-chart__legend">
      <div class="legend">
        <div class="bullet bullet__mid-grey"></div>Expected today <span class="amount">{{ params.values.expected }}</span>
      </div>
      <div class="divider"></div>
      <div class="legend">
        <div class="bullet bullet__blue"></div>Checked-in <span class="amount">{{ params.values.checkedIn }}</span>
      </div>
      <div class="legend">
        <div class="bullet bullet__brown"></div>On trials <span class="amount">{{ params.values.onTrials }}</span>
      </div>
      <div class="legend">
        <div class="bullet bullet__unresolved"></div>Not checked-in <span class="amount">{{ params.values.notCheckedIn }}</span>
      </div>
    </div>
  </div>

  <script nonce="{{ params.nonce }}">

    var statsObject = {
      checkedIn: {{params.values.checkedIn}},
      notCheckedIn: {{params.values.notCheckedIn}},
      onTrials: {{params.values.onTrials}},
    }

    var valueArr = Object.values(statsObject);
    var ctx = document
      .getElementById('{{params.id}}Chart')
      .getContext('2d');

    var dbChart = new Chart(ctx, {
      type: 'doughnut',
      options: {
        tooltips: {
          enabled: false
        },
        cutoutPercentage: '70'
      },
      data: {
        datasets: [
          {
            data: valueArr,
            backgroundColor: [
              '{{checkedInColour}}', '{{notCheckedInColour}}', '{{onTrialsColour}}'
            ],
            borderWidth: 0,
          }
        ]
      }
    });
  </script>

{% endmacro %}