{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "custom-components/deferral-available-pools-week/macro.njk" import deferralAvailablePoolsWeek %}

{% block page_title %}{{ serviceName }} - Process response{% endblock %}
{% block page_identifier %}Process - What to do{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.njk" %}
{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% if errors.items["deferralDateAndPool"] %}
    {% set selectPoolError = errors.items["deferralDateAndPool"][0].details %}
  {% endif %}

  <form action="{{ processUrl }}" method="POST" id="deferralForm">

    <div class="{% if errors.count > 0 %}govuk-form-group--error{% endif %}">

      <h1 class="govuk-heading-l">Select a pool for this date</h1>

      {% if selectPoolError %}
        <p id="selectPoolError" class="govuk-error-message">
          {{ selectPoolError }}
        </p>
      {% endif %}

      {{ deferralAvailablePoolsWeek({
        name: "deferralDateAndPool",
        deferralPoolWeek: deferralPoolsSummary,
        url: url,
        value: tmpFields.deferralDateAndPool
      }) }}

    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "continueButton"
        }
      }) }}

      <a href="{{ cancelUrl }}" class="govuk-link" id="cancelAnchor">Cancel</a>
    </div>

    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
  </form>
{% endblock %}