{% extends "../layouts/default.njk" %}

{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../includes/reply-type-tag-macro.njk" import replyTypeTag %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block page_title %}{{ serviceName }} - Response details{% endblock %}
{% block page_identifier %}Response details{% endblock %}

{% set currentApp = "Summons replies" %}

{% block beforeContent %}

  {% if backLinkUrl === undefined %}
   {% set backLinkUrl = url('inbox.todo.get') %}
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: backLinkUrl,
    attributes: {
      id: "backLinkAnchor"
    }
  }) }}

  {% if response.processingStatus === 'Closed' %}
    <div class="govuk-!-margin-top-3">
      {% set bannerMessageHtml %}
        Summons reply processed on {{ response.completedAt | dateFilter('DD/MM/YYYY', 'D MMMM YYYY') }} by {{ response.assignedStaffMember.name | isAutoProcessed }}: <b>{{ processedBannerMessage }}</b>
      {% endset %}

      {{ mojBanner({
        type: 'success',
        html: bannerMessageHtml,
        iconFallbackText: 'Success'
      }) }}
    </div>
  {% endif %}

  {% if responseCompletedMesssage %}
    <div class="govuk-!-margin-top-3">
      {% set bannerMessageHtml %}
        {{responseCompletedMesssage}}
      {% endset %}

      {{ mojBanner({
        type: 'information',
        html: bannerMessageHtml,
        iconFallbackText: 'Information'
      }) }}
    </div>
  {% endif %}

  {% if method === "paper"
    and (response.jurorDetailsComplete === false or response.eligibilityComplete === false or response.signed !== true)
    and not (response.processingStatus === 'Closed' or thirdPartyDetails.reason === 'Deceased') %}
    {{ mojBanner({
      type: 'information',
      text: 'Summons reply is missing essential information - reply cannot be processed until this information is entered.',
      iconFallbackText: 'Information',
      classes: 'govuk-!-margin-top-3'
    }) }}
  {% endif %}

  {# Late summons banner #}
  {% if response.isLateSummons %}
    <div class="govuk-!-margin-top-3">
      {{ mojBanner({
        type: "warning",
        text: "Juror’s service start date has passed - process as a priority.",
        iconFallbackText: "Warning"
      }) }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  {# set alert badge - as displayed on To do list #}
  {% if response.processingStatus !== "Closed" %}
    {% if response.superUrgent %}
      {% set urgencyBadge = "Urgent" %}
    {% elif response.urgent %}
      {% set urgencyBadge = "Urgent" %}
    {% else %}
      {% set urgencyBadge = undefined %}
    {% endif %}
  {% endif %}


  {# catchment warning banner #}
  {% if hasModAccess %}
    {% if catchmentWarning.isOutwithCatchment %}
      {% if catchmentWarning.courts | length %}
        {% set newCourts = [] %}
        {% for court in catchmentWarning.courts %}
          {% set newCourts = (newCourts.push(court.formattedName), newCourts) %}
        {% endfor %}
        {% set catchmentWarningHtml %}
          <p class="govuk-notification-banner__heading">
            Juror's address is outside the catchment area of the court they were summoned to
          </p>
          <p>
            Their new address is in the catchment area for {{newCourts | prettyList}}.
          <p>
          <p>
            You can change the juror's court when you process the reply.
          </p>
        {% endset %}
      {% else %}
        {% set catchmentWarningHtml %}
          <p class="govuk-notification-banner__heading">
            Juror's postcode is not recognised as belonging to any court catchment area
          </p>
          <p>
            Check the juror's postcode is correct.
          <p>
        {% endset %}
      {% endif %}
      <div class="govuk-grid-row govuk-body">
        {{ govukNotificationBanner({
          html: catchmentWarningHtml
        }) }}
      </div>
    {% endif %}
  {% endif %}

  {# details header #}
  <div class="govuk-grid-row govuk-body">
    {% if hasModAccess %}
      <div class="govuk-grid-column-full govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-one-third">
            {{ govukTag({
              text: "Summons reply",
              classes: "govuk-tag--purple"
            }) }}
        </div>
      </div>
    {% endif %}

    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          {{ nameDetails.headerNameRender }}
          {% if urgencyBadge %}
            <span class="moj-badge moj-badge--red">{{urgencyBadge}}</span>
          {% endif %}
        </h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="jd-right-align">

          {# More actions / Process reply dropdown menus #}
          {% include "./_partials/update-header.njk" %}

        </div> {# float right #}
      </div> {# col #}
    </div>

    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-third">
        {% if hasModAccess %}
          <a href="{{ url('juror-record.overview.get', { jurorNumber: response.jurorNumber }) }}" class="govuk-link">View juror's record</a>
        {% endif %}
      </div>
    </div>

  </div> {# row #}

  {% include "summons-management/_common/details-banner-new.njk" %}

  <input name="poolStatus" id="poolStatus" class="u-hide" value="{{poolStatus}}"/>
  <input name="processingStatus" id="processingStatus" class="u-hide" value="{{processingStatus}}"/>

  {# reply / logs menu #}
  <nav class="moj-sub-navigation tabs sub-nav-tabs" id="responseTabs">
    <ul class="moj-sub-navigation__list detail-tabs hidden-no-js">
      <li class="moj-sub-navigation__item" data-target="replyContent" data-tabs="responseTabs">
        <a id="menuItemReply" class="moj-sub-navigation__link"  href="#replyContent" >Juror's reply</a>
      </li>
      <li class="moj-sub-navigation__item" data-target="logContent" data-tabs="responseTabs">
        <a id="menuItemLogs"  class="moj-sub-navigation__link"  href="#logContent">{{ "Notes and logs" if hasModAccess else "Logs" }}
        {% if (response.notes.length > 1) or (response.phoneLogs.length > 0) or (response.changeLog.length > 0) %}
          <span id="logsMenuIndicator" class="jd-logs-menu-indicator  jd-right-align">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#1D70B8"/></svg>
          </span>
        {% endif %}
        </a>
      </li>
    </ul>

    <hr class="show-no-js">

    <div class="tab-content active" id="replyContent" data-tabs="responseTabs">
      {% include "./reply.njk" %}
    </div>

    <div class="tab-content" id="logContent" data-tabs="responseTabs">
      {% include "./log.njk" %}
    </div>
  </nav>

  <div id="modal" class="modal"></div>

  <hr />

{% endblock %}
