{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block page_title %}{{ serviceName }} - {{ subServiceName}}{% endblock %}
{% block page_identifier %}{{ pageIdentifier }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: url("create-juror-record.juror-contact.get", { poolNumber: poolNumber }),
    attributes: {
      id: "backLinkAnchor",
      "aria-label": "Go back to juror contact details"
    }
  }) }}
{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% set notesError = undefined %}
  {% if errors.items["notes"] %}
    {% set notesError = { text: errors.items["notes"][0].details } %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="jurorNotesForm" action="{{ postUrl }}" method="post">

        {{ govukCharacterCount({
          name: "notes",
          id: "notes",
          maxlength: 2000,
          rows: 5,
          label:  {
              text: "Notes (optional)",
              classes: "govuk-label--l",
              isPageHeading: true
          },
          hint: {
              text: "These can only be seen by internal staff at HMCTS. The public cannot request to view them."
          },
          errorMessage: notesError,
          value: formFields.notes
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              id: "continueButton"
            }
          }) }}

          <a id="cancelAnchor" class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>

        <input type="hidden" id="_csrf" name="_csrf" value="{{ csrftoken }}" >
      </form>
    </div>
  </div>

{% endblock %}