{% macro dashboardChartStacked(params) %}

  {% set chartHeading = "Stacked Bar Chart" %}

  {% set chartColourA = '#5694ca' %} {# Blue #}
  {% set chartColourB = '#f499be' %} {# Pink #}

  {% if params.chartHeading %}
    {% set chartHeading = params.chartHeading %}
  {% endif %}

  {% if params.total %}
    {% set totalValue = params.total %}
  {% else %}
    {% set totalValue = params.values[0] + params.values[1] %}
  {% endif %}
  

  <div {%- if params.id %} id="{{params.id}}Details"{% endif %} class="govuk-details {%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    
    <div class="govuk-heading-l">
      {{ chartHeading }}
      {% if params.showTotal %}
        <p>{{ totalValue }}</p>
      {% endif %}
      <br/><br/>
    </div>

  </div>

  <div class="govuk-grid-column-full">
    <div class="canvas-bar-div">
      <canvas id="{{params.id}}Chart" name="{{params.id}}Chart"></canvas>
    </div>
  </div>



  <script nonce="{{ params.nonce }}">
    var labelArr =  ("{{params.labels}}").split(",");
    var valueDigitalArr =  ("{{params.valuesDigital}}").split(",");
    var valuePaperArr =  ("{{params.valuesPaper}}").split(",");
    var can = document.getElementById('{{params.id}}Chart')
    var ctx = document.getElementById('{{params.id}}Chart').getContext('2d');
    ctx.width  = 0.5;
    ctx.height = 0.5;

    Chart.defaults.global.defaultFontSize = 20;
    Chart.defaults.scale.gridLines.drawOnChartArea = false;

    var dbChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labelArr,
            datasets: [
              {
                label: "Digital",
                stack: 'Stack 0',
                data: valueDigitalArr,
                backgroundColor: '{{chartColourA}}'
              },
              {
                label: "Paper",
                stack: 'Stack 0',
                data: valuePaperArr,
                backgroundColor: '{{chartColourB}}'
              }
            ]
        },
        options: {
					title: {
						display: false
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true
						}],
						yAxes: [{
							stacked: true
						}]
					}
				},
        plugins: [{
            beforeInit: function(chart) {
              chart.data.labels.forEach(function(e, i, a) {
                  if (/\n/.test(e)) {
                    a[i] = e.split(/\n/);
                  }
              });
            }
        }]
        
    });
  </script>


{% endmacro %}