{% macro dashboardChartStacked(params) %}
  {% set chartHeading = params.chartHeading or 'Stacked Bar Chart' %}

  <div{% if params.id %} id="{{ params.id }}Details"{% endif %} class="govuk-details{% if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="govuk-heading-m" id="{{ params.id }}ChartHeading">
      {{ chartHeading }}
      {% if params.showTotal %}
        <p id="{{ params.id }}FormattedTotal">
          {% if params.total is defined %}{{ params.total }}{% else %}{{ params.values[0] + params.values[1] }}{% endif %}
        </p>
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-column-full">
    <div class="canvas-bar-div">
      <canvas
        id="{{ params.id }}Chart"
        data-labels="{{ params.labels | console }}"
        data-digital-values="{{ params.valuesDigital | console }}"
        data-paper-values="{{ params.valuesPaper | console }}"
        aria-labelledby="{{ params.id }}ChartHeading"
      ></canvas>
    </div>
  </div>

  <script nonce="{{ params.nonce }}">
    (function() {
      var canvas = document.getElementById('{{ params.id }}Chart');
      var context = canvas.getContext('2d');

      context.width = 0.5;
      context.height = 0.5;

      Chart.defaults.global.defaultFontSize = 20;
      Chart.defaults.scale.gridLines.drawOnChartArea = false;

      new Chart(context, {
        type: 'bar',
        data: {
          labels: JSON.parse(canvas.dataset.labels),
          datasets: [
            {
              label: 'Digital',
              stack: 'Stack 0',
              data: JSON.parse(canvas.dataset.digitalValues),
              backgroundColor: '#5694ca'
            },
            {
              label: 'Paper',
              stack: 'Stack 0',
              data: JSON.parse(canvas.dataset.paperValues),
              backgroundColor: '#f499be'
            }
          ]
        },
        options: {
          title: {
            display: false
          },
          tooltips: {
            mode: 'index',
            intersect: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        },
        plugins: [{
          beforeInit: function(chart) {
            chart.data.labels.forEach(function(label, index, chartLabels) {
              if (/\n/.test(label)) {
                chartLabels[index] = label.split(/\n/);
              }
            });
          }
        }]
      });
    })();
  </script>
{% endmacro %}
