{% macro dashboardAutoProcessed(params) %}
  {% set chartHeading = params.chartHeading or '' %}

  <div{% if params.id %} id="{{ params.id }}Details"{% endif %} class="govuk-details{% if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="govuk-heading-m" id="{{ params.id }}ChartHeading">
      {{ chartHeading }}
      {% if params.showTotal %}
        <p id="{{ params.id }}FormattedTotal">{{ params.totalFormatted }}</p>
      {% endif %}
    </div>

    {% for label in params.labels %}
      <div class="govuk-grid-column-one-half">
        <p class="govuk-!-font-weight-bold" id="{{ params.id }}Label{{ loop.index }}">{{ label }}</p>
        <p class="govuk-!-font-weight-bold" id="{{ params.id }}FormattedValue{{ loop.index }}">{{ params.valuesFormatted[loop.index0] }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="govuk-grid-column-full">
    <div class="canvas-div">
      <canvas
        class="dashboard-chart"
        id="{{ params.id }}Chart"
        data-labels="{{ params.labels | console }}"
        data-values="{{ params.values | console }}"
        aria-labelledby="{{ params.id }}ChartHeading"
      ></canvas>
    </div>
  </div>

  {% if params.guidanceText %}
    <p class="govuk-body-m" id="{{ params.id }}GuidanceText">{{ params.guidanceText }}</p>
  {% endif %}

  <script nonce="{{ params.nonce }}">
    (function() {
      var canvas = document.getElementById('{{ params.id }}Chart');
      var values = JSON.parse(canvas.dataset.values);

      Chart.defaults.global.defaultFontSize = 15;

      new Chart(canvas.getContext('2d'), {
        type: 'doughnut',
        options: {
          legend: {
            display: true,
            position: 'left',
            labels: {
              fontStyle: 'bold',
              fontColor: '#000'
            }
          }
        },
        data: {
          labels: JSON.parse(canvas.dataset.labels),
          datasets: [{
            data: [values[0], 0],
            backgroundColor: ['#5694ca', '#f3f2f1'],
            borderColor: '#fff',
            borderWidth: 5
          }]
        },
        plugins: [{
          beforeInit: function(chart) {
            chart.data.labels.forEach(function(label, index, chartLabels) {
              if (/\n/.test(label)) {
                chartLabels[index] = label.split(/\n/);
              }
            });
          }
        }]
      });
    })();
  </script>
{% endmacro %}
