{% macro dashboardChartDoughnut(params) %}
  {% set chartHeading = params.chartHeading or '' %}
  {% set columnClass = {
    '1': 'govuk-grid-column-one-half',
    '2': 'govuk-grid-column-one-half',
    '3': 'govuk-grid-column-one-third',
    '4': 'govuk-grid-column-one-quarter',
    '5': 'dashboard-chart-column-one-fifth'
  }[params.labels.length] or 'govuk-grid-column-full' %}

  {% set chartColours = ['#28a197', '#5694ca', '#b1b4b6', '#f47738', '#d4351c'] %}
  {% if params.labels.length == 1 %}
    {% set chartColours = ['#5694ca', '#f3f2f1'] %}
  {% elif params.labels.length == 2 %}
    {% set chartColours = ['#5694ca', '#f499be'] %}
  {% elif params.labels.length == 3 %}
    {% set chartColours = ['#5694ca', '#85994b', '#f499be'] %}
  {% endif %}

  <div{% if params.id %} id="{{ params.id }}Details"{% endif %} class="govuk-details{% if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="govuk-heading-m" id="{{ params.id }}ChartHeading">
      {{ chartHeading }}
      {% if params.showTotal %}
        <p id="{{ params.id }}FormattedTotal">{{ params.totalFormatted }}</p>
      {% endif %}
    </div>

    {% for label in params.labels %}
      <div class="{{ columnClass }}">
        <p class="govuk-!-font-weight-bold" id="{{ params.id }}Label{{ loop.index }}">{{ label }}</p>
        <p class="govuk-!-font-weight-bold" id="{{ params.id }}PercentValue{{ loop.index }}">{{ params.valuesPerc[loop.index0] }}%</p>
        <p id="{{ params.id }}FormattedValue{{ loop.index }}">({{ params.valuesFormatted[loop.index0] }})</p>
      </div>
    {% endfor %}
  </div>

  <div class="govuk-grid-column-full">
    <div class="canvas-div">
      <canvas
        class="dashboard-chart"
        id="{{ params.id }}Chart"
        data-labels="{{ params.labels | console }}"
        data-values="{{ params.values | console }}"
        data-percentages="{{ params.valuesPerc | console }}"
        aria-labelledby="{{ params.id }}ChartHeading"
      ></canvas>
    </div>
  </div>

  {% if params.guidanceText %}
    <p class="govuk-body-m" id="{{ params.id }}GuidanceText">{{ params.guidanceText }}</p>
  {% endif %}

  <script nonce="{{ params.nonce }}">
    (function() {
      var canvas = document.getElementById('{{ params.id }}Chart');
      var labels = JSON.parse(canvas.dataset.labels);
      var percentages = JSON.parse(canvas.dataset.percentages);
      var legendLabels = labels.map(function(label, index) {
        return label + ' (' + percentages[index] + '%)';
      });

      Chart.defaults.global.defaultFontSize = 15;

      new Chart(canvas.getContext('2d'), {
        type: 'doughnut',
        options: {
          legend: {
            display: true,
            position: 'left',
            labels: {
              fontStyle: 'bold',
              fontColor: '#000'
            }
          }
        },
        data: {
          labels: legendLabels,
          datasets: [{
            data: JSON.parse(canvas.dataset.values),
            backgroundColor: [
              {% for colour in chartColours %}'{{ colour }}'{% if not loop.last %}, {% endif %}{% endfor %}
            ],
            borderColor: '#fff',
            borderWidth: 5
          }]
        },
        plugins: [{
          beforeInit: function(chart) {
            chart.data.labels.forEach(function(label, index, chartLabels) {
              if (/\n/.test(label)) {
                chartLabels[index] = label.split(/\n/);
              }
            });
          }
        }]
      });
    })();
  </script>
{% endmacro %}
