{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro dashboardDateMonthYear(params) %}
  {% set months = [
    { value: '01', text: 'January' },
    { value: '02', text: 'February' },
    { value: '03', text: 'March' },
    { value: '04', text: 'April' },
    { value: '05', text: 'May' },
    { value: '06', text: 'June' },
    { value: '07', text: 'July' },
    { value: '08', text: 'August' },
    { value: '09', text: 'September' },
    { value: '10', text: 'October' },
    { value: '11', text: 'November' },
    { value: '12', text: 'December' }
  ] %}

  {% set hasError = params.monthError or params.yearError or params.dateError %}
  {% set monthError = params.monthError or params.dateError %}

  {% set monthItems = [{ value: '', text: '' }] %}
  {% for month in months %}
    {% set monthItems = (monthItems.push({
      value: month.value,
      text: month.text,
      selected: params.monthValue == month.value
    }), monthItems) %}
  {% endfor %}

  {% set yearItems = [{ value: '', text: '' }] %}
  {% for year in params.yearList %}
    {% set yearItems = (yearItems.push({
      value: year,
      text: year,
      selected: params.yearValue == year
    }), yearItems) %}
  {% endfor %}

  <div class="govuk-form-group{% if hasError %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        {{ params.label }}
      </legend>

      <div class="govuk-date-input" id="{{ params.id }}">
        <div class="govuk-date-input__item">
          {{ govukSelect({
            id: params.prefix + 'Month',
            name: params.prefix + 'Month',
            value: params.monthValue,
            label: {
              text: 'Month',
              classes: 'govuk-date-input__label'
            },
            items: monthItems,
            errorMessage: { text: monthError } if monthError else null
          }) }}
        </div>

        <div class="govuk-date-input__item">
          {{ govukSelect({
            id: params.prefix + 'Year',
            name: params.prefix + 'Year',
            value: params.yearValue,
            label: {
              text: 'Year',
              classes: 'govuk-date-input__label'
            },
            items: yearItems,
            classes: 'govuk-select--error' if params.dateError and not params.yearError else '',
            describedBy: params.prefix + 'Month-error' if params.dateError and not params.yearError else '',
            errorMessage: { text: params.yearError } if params.yearError else null
          }) }}
        </div>
      </div>
    </fieldset>
  </div>
{% endmacro %}
