{% extends "../layouts/default-no-nav.njk" %}

{% from "./chartmacro-bar-line.njk" import dashboardChartBarLine %}
{% from "custom-components/date-picker/macro.njk" import datePicker %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block page_title %}Dashboard deferrals - Juror digital{% endblock %}

{% block page_identifier %}Dashboard deferrals excusals{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Dashboard</span>
      <h1 class="govuk-heading-l">Juror Deferrals &amp; Excusals</h1>

      <p class="govuk-body"><br/>This dashboard displays information about juror deferrals and excusals.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <h2 class="govuk-heading-m">Configure Report</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">

      <form action="{{ url('dashboard.deferral-excusal.post') }}" method="post">

        {% set startDateError = null %}
        {% if errors.items['startDate'] %}
          {% set startDateError = errors.items['startDate'][0].summary %}
        {% endif %}

        {% set endDateError = null %}
        {% if errors.items['endDate'] %}
          {% set endDateError = errors.items['endDate'][0].summary %}
        {% endif %}

        {% set deferralExcusalSelections = [] %}
        {% for option in deferralExcusalOptions %}
          {% set deferralExcusalSelections = (deferralExcusalSelections.push(
            {
              value: option,
              text: option,
              selected: deferralExcusalSelection == option
            }
          ), deferralExcusalSelections) %}
        {% endfor %}

        {{ govukSelect({
          id: "deferralExcusal",
          name: "deferralExcusal",
          label: {
            text: "Deferrals/Excusals"
          },
          items: deferralExcusalSelections
        }) }}

        {% set bureauCourtSelections = [] %}
        {% for option in bureauCourtOptions %}
          {% set bureauCourtSelections = (bureauCourtSelections.push(
            {
              value: option,
              text: option,
              selected: bureauCourtSelection == option
            }
          ), bureauCourtSelections) %}
        {% endfor %}

        {{ govukSelect({
          id: "bureauCourt",
          name: "bureauCourt",
          label: {
            text: "Bureau/Court"
          },
          items: bureauCourtSelections
        }) }}

        {% set calendarYearSelections = [
          {
            value: "",
            text: "",
            selected: selectedCalYear == ""
          }
        ] %}
        {% for option in calendarYears %}
          {% set calendarYearSelections = (calendarYearSelections.push(
            {
              value: option,
              text: option,
              selected: selectedCalYear == option
            }
          ), calendarYearSelections) %}
        {% endfor %}

        {{ govukSelect({
          id: "calYear",
          name: "calYear",
          label: {
            text: "Calendar Year"
          },
          items: calendarYearSelections
        }) }}

        {% set financialYearSelections = [
          {
            value: "",
            text: "",
            selected: selectedFinYear == ""
          }
        ] %}
        {% for option in financialYears %}
          {% set financialYearSelections = (financialYearSelections.push(
            {
              value: option,
              text: option,
              selected: selectedFinYear == option
            }
          ), financialYearSelections) %}
        {% endfor %}

        {{ govukSelect({
          id: "finYear",
          name: "finYear",
          label: {
            text: "Financial Year"
          },
          items: financialYearSelections
        }) }}

        <div class="govuk-grid-row">
          <div class="govuk-body">

            <div class="dashboard-date govuk-grid-column-one-quarter">
              {{ datePicker({
                id: 'startDate',
                label: {
                  text: "From"
                },
                dateValue: dashboardDates.startDate,
                dateError: startDateError,
                showBankHolidays: false
              }) }}
            </div>

            <div class="dashboard-date govuk-grid-column-one-quarter">
              {{ datePicker({
                id: 'endDate',
                label: {
                  text: "To"
                },
                dateValue: dashboardDates.endDate,
                dateError: endDateError,
                showBankHolidays: false
              }) }}
            </div>

          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Reasons:</p>
            <a href="#" id="selectAllButton" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Select all
            </a>

            <a href="#" id="selectNoneButton" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Select none
            </a>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">

            <div class="dashboard-reasons-list" id="reasonSelection">
              {% set reasonCheckboxes = [] %}
              {% for reason in reasonsList %}
                {% set reasonCheckboxes = (reasonCheckboxes.push(
                  {
                    value: reason.keyValue,
                    text: reason.description
                  }
                ), reasonCheckboxes) %}
              {% endfor %}

              {{ govukCheckboxes({
                name: "chkReason",
                classes: "govuk-checkboxes--small",
                items: reasonCheckboxes
              }) }}

            </div>

          </div>

        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" id="submitButton">
              Submit
            </button>
          </div>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% if dashboardData %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="jd-dashboard-chart-container">

          {{ dashboardChartBarLine({
            id: 'deferral',
            nonce: nonce,
            deferTotals: dashboardData.deferTotals,
            bureauCourtSelection: bureauCourtSelection,
            deferralExcusalSelection: deferralExcusalSelection,
            deferralTotal: deferralTotal,
            excusalTotal: excusalTotal,
            deferralExcusalCombinedTotal: deferralExcusalCombinedTotal,
            dateRange: dashboardData.dateRange,
            weekLabels: dashboardData.weekLabels,
            chartData: dashboardData.chartData
          }) }}

        </div>

      </div>
    </div>

  {% else %}

    {% if errors %}
      <div class="govuk-grid-column-full govuk-error-message govuk-!-font-size-36">
        <p>{{errors.message}}</p>
      </div>
    {% endif %}

  {% endif %}

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "includes/datepicker.njk" %}

  <script nonce="{{ nonce }}">
    const calYearDropdown = document.getElementById('calYear');
    const finYearDropdown = document.getElementById('finYear');
    const startDate = document.getElementById('startDate');
    const endDate = document.getElementById('endDate');
    const selectAllButton = document.getElementById('selectAllButton');
    const selectNoneButton = document.getElementById('selectNoneButton');

    calYearDropdown.addEventListener('change', function() {
      if (calYearDropdown.value !== '') {
        startDate.value = '01/01/' + calYearDropdown.value;
        endDate.value = '31/12/' + calYearDropdown.value;
        finYearDropdown.value = '';
      }
    });

    finYearDropdown.addEventListener('change', function() {
      if (finYearDropdown.value !== '') {
        const startYear = parseInt(finYearDropdown.value.substring(0, 4), 10);
        startDate.value = '01/04/' + startYear;
        endDate.value = '31/03/' + (startYear + 1);
        calYearDropdown.value = '';
      }
    });

    selectAllButton.addEventListener('click', function(event) {
      event.preventDefault();

      document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.checked = true;
      });
    });

    selectNoneButton.addEventListener('click', function(event) {
      event.preventDefault();

      document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.checked = false;
      });
    });
  </script>
{% endblock %}
