{% extends "../layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block page_title %}
  {{ serviceName }} - Manage team - Edit member details
{% endblock %}

{% block page_identifier %}edit member details{% endblock %}

{% set currentApp = "Summons replies" %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if errors.items['name'] %}
        {% set nameError = {text: errors.items['name'][0].details, visuallyHiddenText: 'Error'} %}
      {% else %}
        {% set nameError = undefined %}
      {% endif %}

      {% if errors.items['login'] %}
        {% set usernameError = {text: errors.items['login'][0].details, visuallyHiddenText: 'Error'} %}
      {% else %}
        {% set usernameError = undefined %}
      {% endif %}

      {% if errors.items['teamLeader'] %}
        {% set teamLeaderError = {text: errors.items['teamLeader'][0].details, visuallyHiddenText: 'Error'} %}
      {% else %}
        {% set teamLeaderError = undefined %}
      {% endif %}

      {% if errors.items['active'] %}
        {% set statusError = {text: errors.items['active'][0].details, visuallyHiddenText: 'Error'} %}
      {% else %}
        {% set statusError = undefined %}
      {% endif %}

      <form id="staffForm" action="{{ url('staff.edit.post', { login: originalLogin }) }}" method="POST">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ formFields.name }}
            </h1>
          </legend>

          {{ govukInput({
            label: {
              text: "Name"
            },
            id: "name",
            name: "name",
            value: formFields.name,
            classes: "govuk-!-width-one-quarter",
            attributes: {
              maxlength: 30 
            },
            errorMessage: nameError
          }) }}

          {{ govukInput({
            label: {
              text: "Username"
            },
            id: "login",
            name: "login",
            value: formFields.login,
            classes: "govuk-!-width-one-quarter",
            attributes: {
              disabled: disabled,
              maxlength: 20 
            },
            errorMessage: usernameError
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "teamLeader",
            name: "teamLeader",
            fieldset: {
              legend: {
                text: "Team leader",
                isPageHeading: false,
                classes: "govuk-body"
              }
            },
            items: [
              {
                id: "teamLeader-Yes",
                value: "Yes",
                text: "Yes",
                checked: teamLeaderEnabled === true
              },
              {
                id: "teamLeader-No",
                value: "No",
                text: "No",
                checked: teamLeaderEnabled === false
              }
            ],
            errorMessage: teamLeaderError
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "active",
            name: "active",
            fieldset: {
              legend: {
                text: "Status",
                isPageHeading: false,
                classes: "govuk-body"
              }
            },
            items: [
              {
                id: "active-Yes",
                value: "Yes",
                text: "Active",
                checked: activeEnabled === true
              },
              {
                id: "active-No",
                value: "No",
                text: "Inactive",
                checked: activeEnabled === false
              }
            ],
            errorMessage: statusError
          }) }}

        </fieldset>

        <div class="govuk-button-group">
          <button type="submit" id="saveAndExitButtonStaff" class="govuk-button" data-module="govuk-button">
            Save
          </button>
          <a class="govuk-link" href="{{url('staff.get')}}">Cancel</a>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
        <input type="hidden" name="version" value="{{ formFields.version }}">
        <input type="hidden" name="_login" value="{{ originalLogin }}">

        <input type="hidden" name="urgent" id="urgent" value="{{ overview.urgentsCount }}">
        <input type="hidden" name="todo" id="todo" value="{{ overview.todoCount }}">
        <input type="hidden" name="originalActive" id="originalActive" value="{{ activeEnabled }}">

      </form>

    <div>
  </div>

  <div id="modal" class="modal">
    {% include "../includes/staffInactive.njk" %}
</div>

{% endblock %}
