{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% set navBarElements =
  ([
    {
      text: "Approve jurors",
      href: url("juror-management.manage-jurors.approve.get"),
      active: nav === "approve",
      attributes: {
        id: "approveAnchor"
      }
    },
    {
      text: "Uncomplete service",
      href: url("sjo-tasks.uncomplete-service.get"),
      active: nav === "uncomplete",
      attributes: {
        id: "uncompleteService"
      }
    },
    {
      text: "Undo an FTA",
      href: url("sjo-tasks.undo-failed-to-attend.get"),
      active: nav === "undoFTA",
      attributes: {
        id: "undoFailedToAttend"
      }
    }
  ])
%}

{{ mojPrimaryNavigation({
  label: "SJO tasks navigation",
  attributes: {
    id: "jurorManagementNav"
  },
  items: navBarElements
}) }}