{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% from "custom-components/time-input/macro.njk" import timeInput %}
{% from "custom-components/macros/arrows.njk" import leftArrowSVG %}
{% from "custom-components/macros/arrows.njk" import rightArrowSVG %}

{% block page_title %}{{ serviceName }} - juror-management - unpaid attendance - daily expenses{% endblock %}
{% block page_identifier %}juror-management - unpaid attendance - daily expenses{% endblock %}

{% set currentApp = "Jurors" %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% set jurorName = jurorDetails.name.firstName + ' ' + jurorDetails.name.lastName %}
  {% if jurorDetails.name.title %}
    {% set jurorName = jurorDetails.name.title + ' ' + jurorDetails.name.firstName + ' ' + jurorDetails.name.lastName %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-l">{{ jurorName }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Daily expenses</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-m mod-expense-entry-pagination">
        <a href="{{ pagination.prevLink }}">{{ leftArrowSVG({colour: "blue"}) }}</a>
        <div> {{ pagination.currPage }} of {{ pagination.totalPages }}</div> 
        <a href="{{ pagination.nextLink }}">{{ rightArrowSVG({colour: "blue"}) }}</a>
      </span>
      <h1 class="govuk-heading-m">{{ expensesData.date_of_expense | dateFilter("YYYY-MM-DD", "dddd DD MMMM YYYY") }}</h1>
      {{ govukTag({
        text: "DRAFT",
        classes: "govuk-tag--grey"
      }) }}
    </div>
  </div>

  <form class="mod-expense-entry-form" method="post" id="enterDailyExpensesForm">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          {% include "./_partials/time.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/travel.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/food-and-drink.njk" %}          
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          {% include "./_partials/financial-loss.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/payment-method.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/apply-to-all-days.njk" %}
        </div>
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="mod-juror-record__title govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <h2 id="summaryLabel" class="govuk-heading-m govuk-!-margin-bottom-2">Totals</h2>
        </div>
        
        {% include "./_partials/summary.njk" %}

        <input type="hidden" name="total" value="">
        <input type="hidden" name="_csrf" value="{{ csrftoken }}" />

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and next",
                type: "submit",
                attributes: {
                  id: "saveAndNextButton",
                  formAction: postUrls.saveAndNextUrl
                }
              }) }}

              {{ govukButton({
                text: "Save and back to all days",
                classes: "govuk-button--secondary",
                type: "submit",
                attributes: {
                  id: "saveAndBackButton",
                  formAction: postUrls.saveAndBackUrl
                }
              }) }}

              <a class="govuk-link" href="{{ cancelUrl }}">Cancel without saving</a>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  
  </form>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script type="application/javascript">
    var expensesSummary = $('#expenses-summary');

    $('[data-summary-detectable]').each(function(_, element) {
      element.addEventListener('change', function() {
        expensesSummary.children().each(function(_, child) {
          child.remove();
        });

        var refresh = $(`{% include "./_partials/totals-changed-banner.njk" %}`);
        expensesSummary.append(refresh);
        
        var recalculateTotals = $('#recalculate-totals');

        recalculateTotals.click(onRecalculateTotalsClick);
      });
    });

    function onRecalculateTotalsClick(event) {
      event.preventDefault();
      
      $.ajax('/juror-management/expenses/{{ jurorNumber }}/{{ poolNumber }}/enter-expenses/recalculate-totals')
        .then(function(response) {
          expensesSummary.children().each(function(_, child) {
            child.remove();
          });

          var newSummaryTotals = $(response);
          expensesSummary.append(newSummaryTotals);
        });
    }
  </script>
{% endblock %}
