{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% from "custom-components/time-input/macro.njk" import timeInput %}
{% from "custom-components/macros/arrows.njk" import leftArrowSVG %}
{% from "custom-components/macros/arrows.njk" import rightArrowSVG %}

{% from "includes/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - juror-management - unpaid attendance - daily expenses{% endblock %}
{% block page_identifier %}juror-management - unpaid attendance - daily expenses{% endblock %}

{% set currentApp = "Jurors" %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% set jurorName = jurorDetails.name.firstName + ' ' + jurorDetails.name.lastName %}
  {% if jurorDetails.name.title %}
    {% set jurorName = jurorDetails.name.title + ' ' + jurorDetails.name.firstName + ' ' + jurorDetails.name.lastName %}
  {% endif %}

  {% if status === "approved" or status === "for-reapproval" %}
    {% set warningHtml %}
      <p class="govuk-notification-banner__heading">
        {% if status === "approved" %}
          You’re editing approved expenses.
        {% elif status === "for-reapproval" %}
          You're editing an expense set for reapproval
        {% endif%}
      </p>

      <p class="govuk-body">
        You can only increase amounts (except for Smartcard spend, which you can only decrease).
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: warningHtml
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-l">{{ jurorName }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Daily expenses</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-m mod-expense-entry-pagination">
        {% if pagination.currPage > 1 %}
          <a href="{{ pagination.prevLink }}">{{ leftArrowSVG({ colour: "blue" }) }}</a>
        {% endif %}
        <div>
          {{ pagination.currPage }} of {{ pagination.totalPages }}
        </div>
        {% if pagination.currPage < pagination.totalPages %}
          <a href="{{ pagination.nextLink }}">{{ rightArrowSVG({ colour: "blue" }) }}</a>
        {% endif %}
      </span>
      <h1 class="govuk-heading-m">{{ expensesData.date_of_expense | dateFilter("YYYY-MM-DD", "dddd DD MMMM YYYY") }}</h1>
      
      {% if status === "draft" %}
        {{ govukTag({
          text: "Draft",
          classes: "govuk-tag--grey"
        }) }}
      {% elif status === "for-approval" %}
        {{ govukTag({
          text: "For approval",
          classes: "govuk-tag--blue"
        }) }}
      {% elif status === "for-reapproval" %}
        {{ govukTag({
          text: "For reapproval",
          classes: "govuk-tag--blue"
        }) }}
      {% elif status === "approved" %}
        {{ govukTag({
          text: "Approved",
          classes: "govuk-tag--blue"
        }) }}
      {% endif %}

    </div>
  </div>

  <form class="mod-expense-entry-form" method="post" id="enterDailyExpensesForm">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          {% include "./_partials/time.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/travel.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/food-and-drink.njk" %}          
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          {% include "./_partials/financial-loss.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/payment-method.njk" %}
        </div>

        <div class="govuk-grid-row">
          {% include "./_partials/apply-to-all-days.njk" %}
        </div>
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="mod-juror-record__title govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <h2 id="summaryLabel" class="govuk-heading-m govuk-!-margin-bottom-2">Totals</h2>
        </div>

        <div id="expenses-summary">
          {# Here will go the totals summary... and the refresh warnings #}
        </div>

        <input type="hidden" name="jurorNumber" id="jurorNumber" value="{{ jurorNumber }}"/>
        <input type="hidden" name="poolNumber" id="poolNumber" value="{{ poolNumber }}"/>
        <input type="hidden" name="expenseStatus" id="expense-status" value="{{ status }}"/>

        <input type="hidden" name="total" value="">
        
        {{ csrfProtection(csrftoken) }}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and next",
                type: "submit",
                attributes: {
                  id: "saveAndNextButton",
                  formAction: postUrls.saveAndNextUrl
                }
              }) }}

              {{ govukButton({
                text: "Save and back to all days",
                classes: "govuk-button--secondary",
                type: "submit",
                attributes: {
                  id: "saveAndBackButton",
                  formAction: postUrls.saveAndBackUrl
                }
              }) }}

              <a class="govuk-link" href="{{ cancelUrl }}">Cancel without saving</a>
            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script src="{{ assetPath }}js/expenses-summary.js"></script>
{% endblock %}
