{% extends "layouts/default-no-nav.njk" %}

{% block page_title %}{{ serviceName }} - juror-management - unpaid attendance - daily expenses{% endblock %}
{% block page_identifier %}juror-management - unpaid attendance - daily expenses{% endblock %}

{% set currentApp = "Jurors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Total expenses cannot be less than £0</h1>
      <p class="govuk-body">Check you’ve entered all expenses correctly.</p>
      <p class="govuk-body">You may also need to check the <a id="smartcardAnchor" class="govuk-link" href="{{ deaultExpensesUrl }}">Smartcard amount entered</a> on this juror’s default expenses.</p>
      <p class="govuk-body"><a id="cancelAnchor" class="govuk-link" href="{{ cancelUrl }}">Go back</a></p>
    </div>
  </div>
{% endblock %}