{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{% from "custom-components/mod-filter/macro.njk" import modFilter %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}


{% if poolDetails.isActive === true %}
  <form method="post" id="jurorDetailsForm" >
      <div class="mod-filter__actions govuk-button-group">
    {% if not selectAll %}
      {% for selectedJuror in selectedJurors %}
        <input type="hidden" name="selectedJurors" aria-label="check-juror" value="{{ selectedJuror }}" checked>
      {% endfor %}
    {% endif %}

    <div class="govuk-grid-column-full juror-actions govuk-!-padding-0 govuk-!-margin-bottom-5">
      {{ govukRadios({
        classes: "govuk-radios--inline govuk-radios--small",
        name: "jurorsInBureauPool",
        value: courtJurorStatuses,
        fieldset: {
          legend: {
            text: "Jurors in this pool",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Only displaying jurors managed by the Bureau"
        },
        items: [
          {
            value: "responded",
            text: "Responded jurors only"
          },
          {
            value: "All",
            text: "All statuses"
          }
        ]
      }) }}

      <input type="hidden" id="status" name="status">

      {{ govukButton({
        text: "Show filter",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        attributes: {
          id: "editPoolButton"
        }
      }) }}
      {{ govukButton({
        text: "Reassign",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "reassignButton",
          formAction: postUrls.assignUrl
        }
      }) }}
      {{ govukButton({
        text: "Postpone",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "postponeButton",
          formAction: postUrls.postponeUrl
        }
      }) }}
      {% if isCourtUser %}
        {{ govukButton({
          text: "Transfer",
          classes: "govuk-button--secondary govuk-!-margin-bottom-0",
          type: "submit",
          attributes: {
            id: "transferButton",
            formAction: postUrls.transferUrl
          }
        }) }}
        {{ govukButton({
          text: "Complete service",
          classes: "govuk-button--secondary govuk-!-margin-bottom-0",
          type: "submit",
          attributes: {
            id: "completeServiceButton",
            formAction: postUrls.completeServiceUrl
          }
        }) }}
      {% endif %}
    </div>
{% if totalJurors === 0 and poolDetails.isActive === true %}
  <div class="govuk-grid-column-full govuk-body">
    This pool has no members.
  </div>
  {% else %}
     {% if totalJurors > 500 %}
        <span class="govuk-body">There are more than 500 results. Refine your search.</span>
    {% else %} 
      {% if errors.items["selectedJurors"] %}<div class="error-allocation">
        <p class="govuk-error-message">{{ errors.items['selectedJurors'][0].details }}</p>
      {% endif %}
      
      {% if errors.items["selectedJurors"] %}<div class="govuk-form-group govuk-form-group--error">{% endif %}

        <div class="govuk-body"> <span id="total-checked-jurors">{{ totalCheckedJurors }}</span> of <span id="total-jurors-count">{{ totalJurors }}</span> selected</div>

        {{ modSortableTable({
          id: "jurorOverview",
          caption: "Jurors in pool",
          captionClass: "govuk-visually-hidden",
          head: membersHeaders,
          rows: poolMembers,
          url: urlPrefix
        }) }}

        {% if errors.items["selectedJurors"] %}</div>{% endif %}

        {{ govukPagination({
          previous: {
            href: pageItems.prev
          },
          next: {
            href: pageItems.next
          },
          items: pageItems.items
        }) }}
 {% endif %}
      {% if errors.items["selectedJurors"] %}</div>{% endif %}
    {% endif %}

    <input type="hidden" name="navigate" id="navigate" value="">
    <input type="hidden" name="poolNumber" id="poolNumber" value="{{ poolDetails.poolNumber }}">
    <input type="hidden" name="courtStartDate" id="courtStartDate" value="{{ poolDetails.courtStartDate }}">
    <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
  </form>
{% endif %}
