{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "custom-components/sortable-table/macro.njk" import modSortableTable %}

<form method="post" id="poolDetailsForm">
  {% if not selectAll %}
    {% for selectedJuror in selectedJurors %}
      <input type="hidden" name="selectedJurors" aria-label="check-juror" value="{{ selectedJuror }}" checked>
    {% endfor %}
  {% endif %}

    <div class="govuk-grid-column-full juror-actions govuk-!-padding-0 govuk-!-margin-bottom-5">
      {{ govukButton({
        text: "Show filter",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-right-1",
        attributes: {
          id: "pool-overview-show-filter"
        }
      }) }}
      {{ govukButton({
        text: "Postpone",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "postponeButton",
          formAction: postUrls.postponeUrl
        }
      }) }}
      {{ govukButton({
        text: "Reassign",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "reassignButton",
          formAction: postUrls.assignUrl
        }
      }) }}
      {{ govukButton({
        text: "Transfer",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-right-1",
        type: "submit",
        attributes: {
          id: "transferButton",
          formAction: postUrls.transferUrl
        }
      }) }}
      {{ govukButton({
        text: "Change next due at court",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "changeServiceDateButton",
          formAction: postUrls.changeServiceDateUrl
        }
      }) }}
      {{ govukButton({
        text: "Complete service",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "completeServiceButton",
          formAction: postUrls.completeServiceUrl
        }
      }) }}
      {{ govukButton({
        text: "On call",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        type: "submit",
        attributes: {
          id: "onCallButton",
          formAction: postUrls.onCallUrl
        }
      }) }}
    </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      {% include "./_partials/filters.njk" %}
    </div>

    {% if totalJurors > 500 %}
      <div id="pool-overview-table-wrapper" class="govuk-grid-column-full">
        <span class="govuk-body">There are more than 500 results. Refine your search.</span>
      </div>
    {% elif poolMembers.length === 0 %}
      <div id="pool-overview-table-wrapper" class="govuk-grid-column-full">
        <span class="govuk-body">There are no results to display.</span>
      </div>
    {% else %}
      <div id="pool-overview-table-wrapper" class="govuk-grid-column-full">

        {% if errors.items["selectedJurors"] %}
          <div class="error-allocation">
            <p class="govuk-error-message">{{ errors.items['selectedJurors'][0].details }}</p>
          </div>
        {% endif %}
        
        {% if errors.items["selectedJurors"] %}<div class="govuk-form-group govuk-form-group--error">{% endif %}

        <div class="govuk-caption-m">
          <span id="total-checked-jurors">{{ totalCheckedJurors }}</span> of <span id="total-jurors-count">{{ totalJurors }}</span> selected
        </div>

        {{ modSortableTable({
          id: "jurorOverview",
          caption: "Jurors in pool",
          captionClasses: "govuk-visually-hidden",
          head: membersHeaders,
          rows: poolMembers,
          url: sortUrl
        }) }}

        {% if errors.items["selectedJurors"] %}</div>{% endif %}

        {{ govukPagination({
          previous: {
            href: pageItems.prev,
            attributes: {
              id: "pool-overview-page-previous"
            }
          },
          next: {
            href: pageItems.next,
            attributes: {
              id: "pool-overview-page-next"
            }
          },
          items: pageItems.items
        }) }} 

      </div>
    {% endif %}

  </div>

  <input type="hidden" name="navigate" id="navigate" value="">
  <input type="hidden" name="poolNumber" id="poolNumber" value="{{ poolDetails.poolNumber }}">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
</form>
