{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{% from "custom-components/mod-filter/macro.njk" import modFilter %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% if members.length === 0 and poolDetails.isActive === true %}
    <div class="govuk-grid-column-full govuk-body">
      This pool has no members.
    </div>
  {% elif poolDetails.isActive === true %}

    <form method="post" id="jurorDetailsForm" >
       
      <div class="govuk-grid-column-full juror-actions govuk-!-padding-0 govuk-!-margin-bottom-5">
        {{ govukRadios({
          classes: "govuk-radios--inline govuk-radios--small",
          name: "jurorsInPool",
          value: jurorStatuses,
          fieldset: {
            legend: {
              text: "Jurors in this pool",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Only displaying jurors managed by the Bureau"
          },

          items: [
            {
              value: "responded",
              text: "Responded jurors only",
              checked: true
            },
            {
              value: "all",
              text: "All jurors"
            }
          ]
        }) }}
          {{ govukButton({
            text: "Show filter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-0",
            attributes: {
              id: "editPoolButton"
            }
          }) }}
          {{ govukButton({
            text: "Reassign",
            classes: "govuk-button--secondary govuk-!-margin-bottom-0",
            type: "submit",
            attributes: {
              id: "reassignButton",
              formAction: postUrls.assignUrl
            }
          }) }}
          {{ govukButton({
            text: "Postpone",
            classes: "govuk-button--secondary govuk-!-margin-bottom-0",
            type: "submit",
            attributes: {
              id: "postponeButton",
              formAction: postUrls.postponeUrl
            }
          }) }}
          {% if isCourtUser %}
            {{ govukButton({
              text: "Transfer",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0",
              type: "submit",
              attributes: {
                id: "transferButton",
                formAction: postUrls.transferUrl
              }
            }) }}
            {{ govukButton({
              text: "Complete service",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0",
              type: "submit",
              attributes: {
                id: "completeServiceButton",
                formAction: postUrls.completeServiceUrl
              }
            }) }}
          {% endif %}
        </div>

    {% if errors.items["selectedJurors"] %}<div class="error-allocation">
      <p class="govuk-error-message">{{ errors.items['selectedJurors'][0].details }}</p>
      </div>
    {% endif %}
    {% if errors.items["selectedJurors"] %}<div class="govuk-form-group govuk-form-group--error">{% endif %}

      <div class="govuk-body"> <span id="checkedJurors"></span> of selected <span id="totalJurors"></span> </div>

      <table class="govuk-table" data-module="moj-sortable-table" data-multi-select-checkbox="#select-all" id="poolJurorReassign" name="poolJurorReassign">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header jd-assign-replies-table-head">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox" onclick="selectAll()">
                <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="selectAllCheckbox" name="selectAllCheckbox"/>
                <label class="govuk-label govuk-checkboxes__label">
                  <span class="govuk-visually-hidden">Select All</span>
                </label>
              </div>
            </th>
            <th scope="col" class="govuk-table__header jd-assign-replies-table-head" aria-sort="ascending">Juror number</th>
            <th scope="col" class="govuk-table__header jd-assign-replies-table-head" aria-sort="none">First name</th>
            <th scope="col" class="govuk-table__header jd-assign-replies-table-head" aria-sort="none">Last name</th>
            <th scope="col" class="govuk-table__header jd-assign-replies-table-head" aria-sort="none">Postcode</th>
            <th scope="col" class="govuk-table__header jd-assign-replies-table-head" aria-sort="none">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
      
        {% for member in poolMembers %}

          <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox" onclick="checkSet()">
                <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="select-{{ member.jurorNumber }}" name="selectedJurors" value="{{ member.jurorNumber }}">
                <label class="govuk-label govuk-checkboxes__label" for="select-{{ member.login }}">
                  <span class="govuk-visually-hidden">Select {{ member.name }}</span>
                </label>
              </div>
            </td>
            <td id="{{member.jurorNumber}}" class="govuk-table__cell jd-middle-align"><a href="/juror-management/record/{{member.jurorNumber}}/overview">{{ member.jurorNumber }}</a></td>
            <td id="{{member.jurorNumber}}-urgent" class="govuk-table__cell jd-middle-align">{{ member.firstName  | capitalize }}</td>
            <td id="{{member.jurorNumber}}-standard" class="govuk-table__cell jd-middle-align">{{ member.lastname  | capitalize }}</td>
            <td id="{{member.jurorNumber}}-total" class="govuk-table__cell jd-middle-align">{{ member.postCode }}</td>
            <td id="{{member.jurorNumber}}-total" class="govuk-table__cell jd-middle-align">{{ member.status | capitalize }}</td>
          </tr>

        {% endfor %}

      </tbody>
    </table>

    {% if errors.items["selectedJurors"] %}</div>{% endif %}

    <input type="hidden" name="poolNumber" id="poolNumber" value="{{ poolDetails.poolNumber }}">
    <input type="hidden" name="courtStartDate" id="courtStartDate" value="{{ poolDetails.courtStartDate }}">
    <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
  </form>

  <script>
    let allChecked = false;
    let chkbxs = document.getElementsByName('selectedJurors');
    document.getElementById("totalJurors").innerHTML = chkbxs.length;
    document.getElementById("checkedJurors").innerHTML = 0;

    function selectAll() {
      if (allChecked) {
        allChecked = false;
        for(var i = 0; i < chkbxs.length; i++){
          if (chkbxs[i].type=='checkbox')
          chkbxs[i].checked = false;   
        }
        document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length;
      } else {
        allChecked = true;
        for(var i = 0; i < chkbxs.length; i++){
          if (chkbxs[i].type=='checkbox')
          chkbxs[i].checked = true;  
        }
        document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length - 1;
      }
      
    };

    function checkSet() {
      document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length;
      if (chkbxs.length > document.getElementsByName('selectedJurors:checked').length) {
        document.getElementsByName('selectAllCheckbox')[0].checked = false;
        allChecked = false;
      }
    }
  </script>

{% endif %}
