#backlogForm {
  .error-summary {
    margin-top: 0;
  }
}

.backlog-sidebar {
  .button {
    margin-top: 45px;
  }

  .h1 {
    background-color: darkorange;
  }

  .backlog-summary {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    padding: 10px;

    li {
      .value--non-urgent {
        background-color: #dee0e2;
        min-width: 60px;
        width: auto;
      }
      .value--urgent {
        background-color: #f47738;
        color: white;
        min-width: 60px;
        width: auto;
      }
      .value--super-urgent {
        background-color: #df3034;
        color: white;
        min-width: 60px;
        width: auto;
      }
    }
  }

  .backlog-allocate {

    li {
      background-color: #dee0e2;
      height: 60px;
      padding-right: 10px;
      padding-top: 5px;
      padding-left: 15px;
      margin-bottom: 5px;
      

      input {
        height: 50px;
        margin-top: 5;
        padding: 0;
        background-color:white;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        float: right;
        vertical-align: middle;
      }
    }
  }
}

.backlog-table {
  .col-image,
  .col-count-box {
    height: 50px;
    width: 50px;
  }

  .col-spacer {
    width: 30px;
  }

  .col-incompletes {
    width: 85px;
  }

  .selected-row {
    background-color:  #eeeeee;
    color: black;
  }

  tr:first-child td{
    padding: 0;
  }

  th, td {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  
  td {
    padding-bottom: 5px;
  }

  th {
    font-size: $font-size-toy;
  }

  .col-checkbox, {
    text-align: left;
  }

  .staff-select {
    text-align: left;
  }


  .count-box {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;

    &--disabled {
      background-color: $panel-colour;
      color: $page-colour;
    }

    &--red {
      background-color: $error-colour;
      color: $page-colour;
    }

    &--blue {
      background-color: $link-colour;
      color: $page-colour;
    }

    &--error {
      border: 3px solid $error-colour;
      color: $error-colour;
    }

    &--non-urgent {
      background-color: #dee0e2;
      min-width: 50px;
      width: auto;
    }

    &--urgent {
      background-color: #f47738;
      color: white;
      min-width: 50px;
      width: auto;
    }

    &--super-urgent {
      background-color: #df3034;
      color: white;
      min-width: 50px;
      width: auto;
    }

    &--totals {
      background-color:#dee0e2;
      color: black;
      font-weight: bold;
      min-width: 50px;
      border-width: 1px;
      border-style: solid;
      border-color: grey;
      width: auto;
    }
    

  }

  .select-check {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-left: 10px;
    margin-right: 10px;
  }

  .backlog-incompletes {
    text-align: center;
  }
}
