.change-logs {
  position: relative;

  div[data-row="note"] {
    box-shadow: inset 5px 0 0 0 $turquoise;
    background-color: $color-turquoise-lightest;
    margin-top: 3px;
    padding: 10px 20px 6px;
  }

  div[data-row="summary"] {
    background-color: $panel-colour;
    padding: 10px 20px 6px;

    span {
      display: inline-block;
      margin-right: 15px;
    }
  }

  .change-log-table {
    margin-left: 20px;
    table-layout: fixed;
    width: calc(100% - 20px);

    .key {
      font-weight: bold;
    }

    .old > td {
      color: $grey-2;
    }

    td:nth-child(1) {
      width: 33%;
    }
  }

  .log-entry {
    margin-top: 20px;
  }
}
