.edit-section {
  background: $page-colour;
  border: 2px solid $focus-colour;
  box-sizing: border-box;
  display: none;
  position: relative;
  z-index: 110;

  .edit-form {
    fieldset {
      margin: 0;
      padding: 10px 20px;

      &.info {
        border-left: 5px solid $turquoise;
      }
    }

    hr {
      margin: 1px 20px 1px;
    }
  }


  &--readonly {
    border: 2px solid transparent;

    .button--notes-edit {
      display: block;
    }

    .edit-title {
      background: none;
    }

    .edit-controls {
      display: none;
    }
  }
}

.notes:not(.notes--readonly) {
  .no-notes-msg {
    display: none!important;
  }
}
