///
/// Contains styles for the Load More section of the Incoming list
///
.load-more-block {
  padding: 40px 10px 30px;

  .load-more-btn {
    display: block;
    margin: 10px auto 0;
    width: 140px;
  }
}
