.notes {
  border: 2px solid $focus-colour;
  position: relative;
  z-index: 110;

  .notes-title {
    background: $panel-colour;
    height: 60px;
    width: 100%;
    padding: 12px 19px;
    position: relative;
  }

  .note-controls {
    display: block;
    position: absolute;
    right: 11px;
    top: 19px;

    p {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      color: $color-black;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .no-notes-msg {
    display: none;
    margin: 44px 0 0 3px;
  }

  .button--notes-edit {
    display: none;
    float: right;
    text-align: center;
    width: 126px;
  }

  textarea[name="notes"] {
    border: none;
    margin-right: 0!important;
    outline: 0;
    padding: 30px 22px 122px 22px;
    width: 100%;
    height: 440px;

    &:disabled {
      background-color: $page-colour;
      color: $text-colour;
    }
  }


  &--readonly {
    border: 2px solid transparent;

    .button--notes-edit {
      display: block;
    }

    .notes-title {
      background: none;
    }

    .note-controls {
      display: none;
    }
  }
}

.notes:not(.notes--readonly) {
  .no-notes-msg {
    display: none!important;
  }
}
