{% extends "layouts/default.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block page_title %}{{ serviceName }} - Administration - Bank holidays{% endblock %}
{% block page_identifier %}Administration - Bank holidays{% endblock %}

{% set currentApp = "System administration" %} 
{% set nav = "bankHolidays" %}

{% block content %}

{% include "includes/errors.njk" %}  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Bank holidays</h1>
      {% for year, holidays in bankHolidays %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{year}}</h2>

        {% set holidayRows = [] %}
        {% for holiday in holidays %}
          {% set holidayRows = (holidayRows.push(
            [
              {
                text: holiday.date | dateFilter("YYYY-mm-dd", "dddd D MMMM")
              },
              {
                text: holiday.description
              }
            ]
          ), holidayRows) %}
        {% endfor %}

        {{ govukTable({
          caption: "Bank holidays for " + year,
          captionClasses: "govuk-visually-hidden",
          head: [
            {
              text: "Date",
              classes: "govuk-!-width-one-third",
              attributes: {
                "aria-label": "Date"
              }
            },
            {
              text: "Bank holiday",
              classes: "govuk-!-width-two-thirds",
              attributes: {
                "aria-label": "Bank holiday"
              }
            }
          ],
          rows: holidayRows
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
