{% extends "../layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/alert/macro.njk" import mojAlert %} 

{% block page_title %}{{ serviceName }} - Administration - Non sitting days{% endblock %}
{% block page_identifier %}Administration - Non sitting days{% endblock %}

{% set currentApp = "Court administration" if isCourtUser else ("Bureau administration" if isBureauUser else "System administration") %} 

{% set nav = "nonSittingDays" %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% if bannerMessage %}
    {{ mojAlert({
      variant: "success",
      text: bannerMessage,
      iconFallbackText: "Success"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Non-sitting days and bank holidays</h1>

      <div class="mod-juror-record__title govuk-!-margin-bottom-5">
        <h2 id="overviewLabel" class="govuk-heading-m govuk-!-margin-bottom-2">{{locationName | toSentenceCase}} non-sitting days</h2>
      </div>

      <form action="{{ postUrl }}" method="post" id="nonSittingDaysForm">
        <div class="mod-flex">
          {{ govukButton({
            text: "Add a non-sitting day",
            classes: "govuk-button--secondary govuk-!-margin-top-1",
            href: url('administration.add-non-sitting-days.get')
          }) }}
        </div>

        {% set dateRows = [] %}
        {% for date in nonSittingDates %}
          {% set dateRows = (dateRows.push(
          [
            {
              text: date.date | dateFilter('yyyy-MM-DD', 'ddd DD MMM yyyy')
            },
            {
              text: date.description | toSentenceCase
            },
            {
              html: '<a href="' + url("administration.delete-non-sitting-days.get") + '?nonSittingDate=' +date.date+ '"" class="govuk-link">' + 'Delete' + '</a>'
            }
          ]
          ), dateRows) %}
        {% endfor %}

        {{ govukTable({
          caption: "Non-sitting days",
          captionClasses: "govuk-visually-hidden",
          head: [
            {
              text: "Date",
              attributes: {
                "aria-label": "Date"
              }
            },
            {
              text: "Description",
              attributes: {
                "aria-label": "Description"
              }
            },
            {
              text: ""
            }
          ],
          rows: dateRows
        }) }}
      </form>
      <div class="mod-juror-record__title govuk-!-margin-bottom-5">
        <h2 id="overviewLabel" class="govuk-heading-m govuk-!-margin-bottom-2">UK bank holidays</h2>
      </div>
        {% for year in holidayDateYears %}

          {% set holidayDateRows = [] %}  
          {% for dateRow in holidayDates[year] %}        
            {% set holidayDateRows = (holidayDateRows.push(
            [{
                text: dateRow.date | dateFilter('yyyy-MM-DD', 'ddd DD MMM yyyy')
              },
              {
                text: dateRow.description | toSentenceCase
              }
            ]
            ), holidayDateRows) %}
          {% endfor %}

          {{ govukTable({
            caption: year,
            captionClasses: "govuk-table__caption--m",
            classes:'two-column',
            head: [
              {
                text: "Date",
                attributes: {
                  "aria-label": "Date"
                }
              },
              {
                text: "Bank holiday",
                attributes: {
                  "aria-label": "Bank holiday"
                }
              }
            ],
            rows: holidayDateRows
          }) }}
          {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third mod-flex mod-justify-end">
      {{ govukButton({
        text: "Print",
        classes: "govuk-button--secondary govuk-!-margin-top-1"
      }) }}
    </div>
  </div>
{% endblock %}