{% extends "../layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block page_title %}{{ serviceName }} - administration{% endblock %}
{% block page_identifier %}administration - Non Sitting Days{% endblock %}

{% set currentApp = "Court administration" if isCourtUser else ("Bureau administration" if isBureauUser else "System administration") %} 

{% set nav = "courtsAndBureau" %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Non-sitting days and bank holidays</h1>

      <div class="mod-juror-record__title govuk-!-margin-bottom-5">
        <h2 id="overviewLabel" class="govuk-heading-m govuk-!-margin-bottom-2">Chester non-sitting days</h2>
      </div>

      <form action="{{ postUrl }}" method="post" id="nonSittingDaysForm">
        <div class="mod-flex">
          {{ govukButton({
            text: "Add a non-sitting day",
            classes: "govuk-button--secondary govuk-!-margin-top-1",
            href: url('administration.add-non-sitting-days.get')
          }) }}
        </div>

        {% set dateRows = [] %}
        {% for date in nonSittingDates %}
          {% set dateRows = (dateRows.push(
          [
            {
              text: date.date | dateFilter('yyyy-MM-DD', 'ddd DD MMM yyyy')
            },
            {
              text: date.description | toSentenceCase
            },
            {
              html: '<a href=' + url("administration.add-non-sitting-days.get") + ' class="govuk-link">' + 'Delete' + '</a>'
            }
          ]
          ), dateRows) %}
        {% endfor %}

        {{ govukTable({
          head: [
            {
              text: "Date"
            },
            {
              text: "Description"
            },
            {
              text: ""
            }
          ],
          rows: dateRows
        }) }}
      </form>
      <div class="mod-juror-record__title govuk-!-margin-bottom-5">
        <h2 id="overviewLabel" class="govuk-heading-m govuk-!-margin-bottom-2">UK bank holidays</h2>
      </div>
        {% for year in holidayDateYears %}

          {% set holidayDateRows = [] %}  
          {% for dateRow in holidayDates[year] %}        
            {% set holidayDateRows = (holidayDateRows.push(
            [{
                text: dateRow.date | dateFilter('yyyy-MM-DD', 'ddd DD MMM yyyy')
              },
              {
                text: dateRow.description | toSentenceCase
              }
            ]
            ), holidayDateRows) %}
          {% endfor %}

          {{ govukTable({
            caption: year,
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Date"
              },
              {
                text: "Bank holiday"
              }
            ],
            rows: holidayDateRows
          }) }}
          {% endfor %}
 {# from backend: 
 1.Keys : ['2024','2025']
 2.dates:
  {
      '2024': [
        { date: '2024-09-28', description: 'TEST' },
        { date: '2024-09-29', description: 'TEST PUBLIC HOLIDAY' }
      ]       
      '20245': [
        { date: '2025-09-28', description: 'TEST' },
        { date: '2025-09-29', description: 'TEST PUBLIC HOLIDAY' }
      ]
    }
    },
 //Loop over keys = key
  {{ govukTable({
        caption: key,
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Date"
          },
          {
            text: "Bank holiday"
          }
        ],
        rows: dates[key]
      }) }} #}


      {# {{ govukTable({
        caption: "2024",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Date"
          },
          {
            text: "Bank holiday"
          }
        ],
        rows: dateRows
      }) }} #}

    </div>
    <div class="govuk-grid-column-one-third mod-flex mod-justify-end">
      {{ govukButton({
        text: "Print",
        classes: "govuk-button--secondary govuk-!-margin-top-1"
      }) }}
    </div>
  </div>
{% endblock %}