{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% if jurors | length > 0 %}
  <div class="flex mod-flex mod-gap-x-4"></div>
  
  <form action="{{ processUrl }}" method="post" id="approveExpensesForm" >

    {{ govukButton({
      type: "submit",
      text: "Approve",
      attributes: {
        id: "approveExpensesButton"
      }
    }) }}
    
    {% if errors.items["selectedJurors"] %}<div class="govuk-form-group govuk-form-group--error">{% endif %}

      {% if errors.items["selectedJurors"] %}
      <div class="error-allocation">
        <p class="govuk-error-message">{{ errors.items['selectedJurors'][0].details }}</p>
      </div>
    {% endif %}

    <div class="govuk-body govuk-!-margin-bottom-0"> <span id="checkedJurors"></span> of <span id="totalJurors"></span> selected</div>

    <table class="govuk-table" data-module="moj-sortable-table" data-multi-select-checkbox="#select-all" id="jurors" name="jurors">
      <caption class="govuk-table__caption govuk-visually-hidden">Juror expenses list</caption>
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" >
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox mod-center-items">
              <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="selectAllCheckbox" name="selectAllCheckbox"/>
              <label class="govuk-label govuk-checkboxes__label" for="selectAllCheckbox">
                <span class="govuk-visually-hidden">Select All</span>
              </label>
            </div>
          </th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="ascending" aria-label="Juror number">Juror number</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none" aria-label="Pool number">Pool number</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none" aria-label="First name">First name</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none" aria-label="Last name">Last name</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none" aria-label="Amount due">Amount due</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none" aria-label="Status">Status</th>
          <th scope="col" class="govuk-table__header jd-middle-align"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
    
      {% for juror in jurors %}

        {% set tagClass = "govuk-tag--blue"%}
        {% if juror.expenseType === "FOR_REAPPROVAL" %}
          {% set tagClass = "govuk-tag--red"%}
        {% endif %}

        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox mod-center-items" >
              <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="select-{{ juror.jurorNumber }}-{{juror.expenseType | toCamelCase }}" name="selectedJurors" value="{{ juror.jurorNumber }}-{{juror.expenseType | toCamelCase }}">
              <label class="govuk-label govuk-checkboxes__label" for="select-{{ juror.jurorNumber }}-{{juror.expenseType | toCamelCase }}">
                <span class="govuk-visually-hidden">Select {{ juror.jurorNumber }}</span>
              </label>
            </div>
          </td>
          <td id="{{juror.jurorNumber}}-jurorNumber" class="govuk-table__cell jd-middle-align">{{ juror.jurorNumber }}</td>
          <td id="{{juror.jurorNumber}}-poolNumber" class="govuk-table__cell jd-middle-align">{{ juror.poolNumber }}</td>
          <td id="{{juror.jurorNumber}}-firstName" class="govuk-table__cell jd-middle-align">{{ juror.firstName  | capitalize }}</td>
          <td id="{{juror.jurorNumber}}-lastName" class="govuk-table__cell jd-middle-align">{{ juror.lastName  | capitalize }}</td>
          <td id="{{juror.jurorNumber}}-amountDue" class="govuk-table__cell jd-middle-align govuk-!-font-weight-bold">£{{ juror.amountDue | toFixed(2) }}</td>
          <td class="govuk-table__cell jd-middle-align">
            {{govukTag({
              text: juror.expenseType | toSentenceCase,
              classes: tagClass,
              attributes: {
                id: juror.jurorNumber + "-status"
              }
            })}}
          </td>
          {% set viewExpensesUrl = url("juror-management.approve-expenses.view-expenses.get", { jurorNumber: juror.jurorNumber, locCode: locCode, status: juror.expenseType | toKebabCase })%}
          <td id="{{juror.jurorNumber}}-viewExpenses" class="govuk-table__cell jd-middle-align"><a href="{{ viewExpensesUrl }}">View expenses</a></td>
        </tr>

      {% endfor %}

      </tbody>
    </table>

    {% if errors.items["selectedJurors"] %}</div>{% endif %}

    <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
  </form>

  {% else %}

    <p class="govuk-body">There are no expenses to approve.</p>

{% endif %}
