{% extends "layouts/default-no-nav.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}{{ serviceName }} - Paper response - Edit juror's name{% endblock %}
{% block page_identifier %}Paper response - Edit juror's name{% endblock %}

{% block content %}

  {% include "includes/errors.njk" %}

  {% set titleError = undefined %}
  {% if errors.items["title"] %}
    {% set titleError = { text: errors.items["title"][0].details } %}
  {% endif %}

  {% set firstNameError = undefined %}
  {% if errors.items["firstName"] %}
    {% set firstNameError = { text: errors.items["firstName"][0].details } %}
  {% endif %}

  {% set lastNameError = undefined %}
  {% if errors.items["lastName"] %}
    {% set lastNameError = { text: errors.items["lastName"][0].details } %}
  {% endif %}

  {% if action === "new" %}
    {% set title = "Enter a new name" %}
    {% set info %}
      <div class="govuk-body govuk-!-margin-bottom-6">
        <p>This new name will only become their legal name on their juror record after:</p>

        <ul>
          <li>the juror shows proof of their new name at court</li>
          <li>court staff approve this change</li>
        </ul>

        <p>When you enter a new name here, it will overwrite any previous pending name.</p>
      </div>
    {% endset %}
  {% elseif action === "fix" %}
    {% set title = "Fix error in current name" %}
    {% set info %}
      <div class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <p>You should only fix minor errors here. For example, if you need to remove a special character
          that's preventing a police check from being carried out.</p>

        <p>If the juror has a new name, you must follow a different process to
          <a class="govuk-link" href="#">enter their new name</a></p>
      </div>
    {% endset %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <form action="{{ postUrl }}" method="POST">
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

          {{ info | safe }}

          {{ govukInput({
            label: {
              text: 'Title (optional)'
            },
            id: "title",
            name: "title",
            value: jurorDetails.title,
            errorMessage: titleError
          }) }}

          {{ govukInput({
            label: {
              text: 'First name'
            },
            id: "firstName",
            name: "firstName",
            value: jurorDetails.firstName,
            errorMessage: firstNameError
          }) }}

          {{ govukInput({
            label: {
              text: "Last name"
            },
            id: "lastName",
            name: "lastName",
            value: jurorDetails.lastName,
            errorMessage: lastNameError
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Review Edit",
            attributes: {
              id: "saveButton"
            }
          }) }}

          <a id="cancelAnchor" class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>

    </div>
  </div>

{% endblock %}
