{% extends "../../layouts/default-no-nav.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block page_title %}{{ serviceName }} - Paper response - Eligibility{% endblock %}
{% block page_identifier %}Paper response - Eligibility{% endblock %}

{% block beforeContent %}
  {% if backLinkUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backLinkUrl.url,
      attributes: {
        id: "backLinkAnchor"
      }
    }) }}
  {% endif %}
{% endblock %}

{% set livedConsecutiveDetails = undefined %}
{% if errors.items["livedConsecutiveDetails"] %}
  {% set livedConsecutiveDetails = { text: errors.items["livedConsecutiveDetails"][0].details } %}
{% endif %}
{% set livedConsecutiveDetailsHTML %}
  {{ govukCharacterCount({
    name: "livedConsecutiveDetails",
    id: "lived-consecutive-details",
    maxlength: 1000,
    label: {
      text: "Provide details about where they have lived since their 13th birthday",
      classes: "govuk-body"
    },
    value: eligibilityDetails.livedConsecutiveDetails,
    errorMessage: livedConsecutiveDetails
  }) }}
{% endset %}

{% set mentalHealthActDetailsError = undefined %}
{% if errors.items["mentalHealthActDetails"] %}
  {% set mentalHealthActDetailsError = { text: errors.items["mentalHealthActDetails"][0].details } %}
{% endif %}
{% set mentalHealthActDetailsHTML %}
  {{ govukCharacterCount({
    name: "mentalHealthActDetails",
    id: "mental-health-act-details",
    maxlength: 1000,
    label: {
      text: "Provide details about how they're being detained, looked after or treated under the Mental Health Act",
      classes: "govuk-body"
    },
    value: eligibilityDetails.mentalHealthActDetails,
    errorMessage: mentalHealthActDetailsError
  }) }}
{% endset %}

{% set mentalHealthCapacityDetailsError = undefined %}
{% if errors.items["mentalHealthCapacityDetails"] %}
  {% set mentalHealthCapacityDetailsError = { text: errors.items["mentalHealthCapacityDetails"][0].details } %}
{% endif %}
{% set mentalHealthCapacityDetailsHTML %}
  {{ govukCharacterCount({
    name: "mentalHealthCapacityDetails",
    id: "mental-health-capacity-details",
    maxlength: 1000,
    label: {
      text: "Provide brief details about why it was decided they lack mental capacity",
      classes: "govuk-body"
    },
    value: eligibilityDetails.mentalHealthCapacityDetails,
    errorMessage: mentalHealthCapacityDetailsError
  }) }}
{% endset %}

{% set onBailDetailsError = undefined %}
{% if errors.items["onBailDetails"] %}
  {% set onBailDetailsError = { text: errors.items["onBailDetails"][0].details } %}
{% endif %}
{% set onBailDetailsHTML %}
  {{ govukCharacterCount({
    name: "onBailDetails",
    id: "on-bail-details",
    maxlength: 1000,
    label: {
      text: "Provide details about their bail and criminal offence",
      classes: "govuk-body"
    },
    value: eligibilityDetails.onBailDetails,
    errorMessage: onBailDetailsError
  }) }}
{% endset %}

{% set convictedDetailsHintHTML %}
  <br/>
  <p class="govuk-body">For each conviction, give details of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the offence or offences they committed</li>
    <li>when this happened</li>
    <li>where they were convicted</li>
    <li>length of sentence</li>
  </ul>
{% endset %}

{% set convictedDetailsError = undefined %}
{% if errors.items["convictedDetails"] %}
  {% set convictedDetailsError = { text: errors.items["convictedDetails"][0].details } %}
{% endif %}
{% set convictedDetailsHTML %}
  {{ govukCharacterCount({
    name: "convictedDetails",
    id: "convicted-details",
    maxlength: 1000,
    label: {
      text: "Provide details about their criminal offence",
      classes: "govuk-body"
    },
    hint: {
      html: convictedDetailsHintHTML
    },
    value: eligibilityDetails.convictedDetails,
    errorMessage: convictedDetailsError
  }) }}
{% endset %}

{% block content %}

  {% include "includes/errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <span class="govuk-caption-l">Enter Summons reply</span>
      <h1 class="govuk-heading-l">Eligibility</h1>

      <form method="post" action="{{ postUrl }}" >
        {# livedConsecutive #}
        {{ govukRadios({
          name: "livedConsecutive",
          fieldset: {
            legend: {
              text: "Have they lived in the UK, Channel Islands or Isle of Man for more than five consecutive years, since their 13th birthday?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: eligibilityDetails.livedConsecutive === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: eligibilityDetails.livedConsecutive === "no",
              conditional: {
                html: livedConsecutiveDetailsHTML
              }
            }
          ]
        }) }}

        {# mentalHealthAct #}
        {{ govukRadios({
          name: "mentalHealthAct",
          fieldset: {
            legend: {
              text: "Are they detained (sectioned) or likely to be detained under the Mental Health Act 1983?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: eligibilityDetails.mentalHealthAct === "yes",
              conditional: {
                html: mentalHealthActDetailsHTML
              }
            },
            {
              value: "no",
              text: "No",
              checked: eligibilityDetails.mentalHealthAct === "no"
            }
          ]
        }) }}

        {# mentalHealthCapacity #}
        {{ govukRadios({
          name: "mentalHealthCapacity",
          fieldset: {
            legend: {
              text: "Do they lack capacity as stated in the Mental Capacity Act?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: eligibilityDetails.mentalHealthCapacity === "yes",
              conditional: {
                html: mentalHealthCapacityDetailsHTML
              }
            },
            {
              value: "no",
              text: "No",
              checked: eligibilityDetails.mentalHealthCapacity === "no"
            }
          ]
        }) }}

        {# onBail #}
        {{ govukRadios({
          name: "onBail",
          fieldset: {
            legend: {
              text: "Are they on bail for a criminal offence?",
              classes: "govuk-fieldset__legend--m"
            }
          },
            items: [
            {
              value: "yes",
              text: "Yes",
              checked: eligibilityDetails.onBail === "yes",
              conditional: {
                html: onBailDetailsHTML
              }
            },
            {
              value: "no",
              text: "No",
              checked: eligibilityDetails.onBail === "no"
            }
          ]
        }) }}

        {# convicted #}
        {{ govukRadios({
          name: "convicted",
          fieldset: {
            legend: {
              text: "Have they been found guilty of a criminal offence and been given a prison sentence, community order or suspended prison sentence?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: eligibilityDetails.convicted === "yes",
              conditional: {
                html: convictedDetailsHTML
              }
            },
            {
              value: "no",
              text: "No",
              checked: eligibilityDetails.convicted === "no"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              id: "continueButton"
            }
          }) }}
          <a id="eligibilityCancelBtn" class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      </form>
    </div>
  </div>

{% endblock %}

