{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% set currentTab = confirmedTab %}

{% if unconfirmedAttendancesUrl and isSJO %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-2">
      <a href="{{ unconfirmedAttendancesUrl }}" class="govuk-link">Jurors with a check in/check out time that have not had attendance confirmed</a>
    </div>
  </div>
{% endif %}

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Attended",
    href: url("juror-management.attendance.get") + "?date=" + selectedDate | dateFilter(null, "YYYY-MM-DD") + "&tab=attended",
    active: currentTab === "attended",
    attributes: {
      id: "attendedTab"
    }
  }, {
    text: "Absent",
    href: url("juror-management.attendance.get") + "?date=" + selectedDate | dateFilter(null, "YYYY-MM-DD") + "&tab=absent",
    active: currentTab === "absent",
    attributes: {
      id: "absentTab"
    }
  }]
}) }}

{% if currentTab === "attended" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">
      
      <b>
        <span id="confirmedJurors">{{ confirmedJurors.length }}</span> juror{% if confirmedJurors.length > 1 %}s{% endif %} confirmed as attending
      </b>
      
      <table class="govuk-table {% if confirmedJurors.length === 0 %}js-hidden{% endif %}"
      data-module="moj-sortable-table" id="attendanceTable">
        <caption class="govuk-table__caption govuk-visually-hidden">Confirmed jurors list</caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending" aria-label="Juror number">Juror number</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="First name">First name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Last name">Last name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Status">Status</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Checked in">Checked in</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Checked out">Checked out</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Checked out">Confirmed</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for row in confirmedJurors %}
            <tr class="govuk-table__row" id="{{ row.jurorNumber }}-row">
              <td class="govuk-table__cell" data-sort-value="{{ row.jurorNumber }}" id="{{ row.jurorNumber }}-jurorNumber">
                <a href="{{ url('juror-record.overview.get', { jurorNumber: row.jurorNumber }) }}"
                  class="govuk-link" id="{{ row.jurorNumber }}-jurorRecordLink">
                {{ row.jurorNumber }}
              </a>
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.firstName }}" id="{{ row.jurorNumber }}-firstName">
                {{ row.firstName }}
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.lastName }}" id="{{ row.jurorNumber }}-lastName">
                {{ row.lastName }}
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.jurorStatus }}" id="{{ row.jurorNumber }}-status">
                {{ row.jurorStatus }}
              </td>
              <td class="govuk-table__cell"
                data-sort-value="{{ (row.checkInTime | timeArrayToString | convertAmPmToLong) if row.checkInTime else '-' }}"
                id="{{ row.jurorNumber }}-checkInTime">
                {{ (row.checkInTime | timeArrayToString | convert24to12) if row.checkInTime else "-" }}
              </td>
              <td class="govuk-table__cell"
                data-sort-value="{{ (row.checkOutTime | timeArrayToString | convertAmPmToLong) if row.checkOutTime else '-' }}"
                id="{{ row.jurorNumber }}-checkOutTime">
                {{ (row.checkOutTime | timeArrayToString | convert24to12) if row.checkOutTime else "-" }}
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.confirmed }}" id="{{ row.jurorNumber }}-confirmed">
                {{ "Confirmed" if row.appearanceConfirmed or row.appStage === "EXPENSE_ENTERED" or row.appStage === "EXPENSE_AUTHORISED" else  "-" }}
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

{% elif currentTab === "absent" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">

      <b>
        <span id="absentJurors">{{ absentJurors.length }}</span> juror{% if absentJurors.length > 1 %}s{% endif %} confirmed as absent
      </b>

      <table class="govuk-table {% if absentJurors.length === 0 %}js-hidden{% endif %}"
      data-module="moj-sortable-table" id="attendanceTable">
        <caption class="govuk-table__caption govuk-visually-hidden">Absent jurors list</caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending" aria-label="Juror number">Juror number</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="First name">First name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Last name">Last name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" aria-label="Status">Status</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for row in absentJurors %}

            <tr class="govuk-table__row" id="{{ row.jurorNumber }}-row">
              <td class="govuk-table__cell" data-sort-value="{{ row.jurorNumber }}" id="{{ row.jurorNumber }}-jurorNumber">
                <a href="{{ url('juror-record.overview.get', { jurorNumber: row.jurorNumber }) }}"
                  class="govuk-link" id="{{ row.jurorNumber }}-jurorRecordLink">
                  {{ row.jurorNumber }}
                </a>
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.firstName }}" id="{{ row.jurorNumber }}-firstName">
                {{ row.firstName }}
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.lastName }}" id="{{ row.jurorNumber }}-lastName">
                {{ row.lastName }}
              </td>
              <td class="govuk-table__cell" data-sort-value="{{ row.jurorStatus }}" id="{{ row.jurorNumber }}-status">
                {{ row.jurorStatus }}
              </td>
            </tr>
          
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
{% endif %}
