{# IN WAITING PAGE CONTENT NOT FINALISED BY DESIGN TEAM#}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if jurors | length > 0 %}
  <div class="flex mod-flex mod-gap-x-4">
    {{ govukButton({
      text: "Show filter",
      classes: "govuk-button--secondary govuk-!-margin-bottom-3",
      attributes: {
        id: "manage-jurors-show-filter"
      }
    }) }}
    {{ govukButton({
      text: "Action",
      classes: "govuk-button--secondary govuk-!-margin-bottom-3"
    }) }}
    {{ govukButton({
      text: "Action",
      classes: "govuk-button--secondary govuk-!-margin-bottom-3"
    }) }}
  </div>
  
  <form method="post" id="manageJurorsForm" >

  {% if errors.items["selectedJurors"] %}<div class="error-allocation">
    <p class="govuk-error-message">{{ errors.items['selectedJurors'][0].details }}</p>
    </div>
  {% endif %}
  {% if errors.items["selectedJurors"] %}<div class="govuk-form-group govuk-form-group--error">{% endif %}

    <div class="govuk-body govuk-!-margin-bottom-0"> <span id="checkedJurors"></span> of <span id="totalJurors"></span> selected</div>

    <table class="govuk-table" data-module="moj-sortable-table" data-multi-select-checkbox="#select-all" id="jurors" name="jurors">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" >
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox" onclick="selectAll()">
              <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="selectAllCheckbox" name="selectAllCheckbox"/>
              <label class="govuk-label govuk-checkboxes__label">
                <span class="govuk-visually-hidden">Select All</span>
              </label>
            </div>
          </th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="ascending">Juror number</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none">First name</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none">Last name</th>
          <th scope="col" class="govuk-table__header jd-middle-align" aria-sort="none">Pool number</th>
          <th scope="col" class="govuk-table__header jd-middle-align govuk-table__header--numeric govuk-!-width-one-third" aria-sort="none">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
    
      {% for juror in jurors %}

        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox" onclick="checkSet()">
              <input type="checkbox" class="govuk-checkboxes__input select-check juror-select-check" id="select-{{ juror.jurorNumber }}" name="selectedJurors" value="{{ juror.jurorNumber }}">
              <label class="govuk-label govuk-checkboxes__label" for="select-{{ juror.login }}">
                <span class="govuk-visually-hidden">Select {{ juror.jurorNumber }}</span>
              </label>
            </div>
          </td>
          <td id="{{juror.jurorNumber}}-jurorNumber" class="govuk-table__cell jd-middle-align"><a href="/juror-management/record/{{juror.jurorNumber}}/overview">{{ juror.jurorNumber }}</a></td>
          <td id="{{juror.jurorNumber}}-firstName" class="govuk-table__cell jd-middle-align">{{ juror.firstName  | capitalize }}</td>
          <td id="{{juror.jurorNumber}}-lastName" class="govuk-table__cell jd-middle-align">{{ juror.lastName  | capitalize }}</td>
          <td id="{{juror.jurorNumber}}-poolNumber" class="govuk-table__cell jd-middle-align"><a href="/pool-management/pool-overview/{{juror.poolNumber}}">{{ juror.poolNumber }}</a></td>
          <td id="{{juror.jurorNumber}}-status" class="govuk-table__cell jd-middle-align govuk-table__cell--numeric">{{ juror.status | capitalize }}</td>
        </tr>

      {% endfor %}

      </tbody>
    </table>

    {% if errors.items["selectedJurors"] %}</div>{% endif %}

    <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrftoken }}">
  </form>

  <script>
    let allChecked = false;
    let chkbxs = document.getElementsByName('selectedJurors');
    document.getElementById("totalJurors").innerHTML = chkbxs.length;
    document.getElementById("checkedJurors").innerHTML = 0;

    function selectAll() {
      if (allChecked) {
        allChecked = false;
        for(var i = 0; i < chkbxs.length; i++){
          if (chkbxs[i].type=='checkbox')
          chkbxs[i].checked = false;   
        }
        document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length;
      } else {
        allChecked = true;
        for(var i = 0; i <chkbxs.length; i++){
          if (chkbxs[i].type=='checkbox')
          chkbxs[i].checked = true;  
        }
        document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length - 1;
      }
      
    };

    function checkSet() {
      document.getElementById("checkedJurors").innerHTML = $('input:checkbox:checked').length;
      if (chkbxs.length > document.getElementsByName('selectedJurors:checked').length) {
        document.getElementsByName('selectAllCheckbox')[0].checked = false;
        allChecked = false;
      }
    }
  </script>

  {% else %}

    <p class="govuk-body">No jurors in waiting</p>

{% endif %}