
{% set poolRows = [] %}
{% for pool in pools %}
  {% set poolRows = (poolRows.push([
    {
      html: '<a href=' + url("pool-overview.get", { poolNumber: pool.poolNumber }) + ' class="govuk-link">' + pool.poolNumber + '</a>',
      attributes: {
        "data-sort-value": pool.poolNumber
      }
    },
    {
      text: pool.jurorsOnTrials,
      attributes: {
        "data-sort-value": pool.jurorsOnTrials
      }
    },
    {
      text: pool.jurorsInAttendance,
      attributes: {
        "data-sort-value": pool.jurorsInAttendance
      }
    },
    {
      text: pool.jurorsOnCall,
      attributes: {
        "data-sort-value": pool.jurorsOnCall
      }
    },
    {
      text: pool.poolType | fullCourtType,
      attributes: {
        "data-sort-value": pool.poolType | fullCourtType
      }
    },
    {
      text: pool.serviceStartDate | dateFilter('yyyy-MM-DD', 'ddd DD MMM yyyy'),
      attributes: {
        "data-sort-value": pool.serviceStartDate
      }
    }
  ]), poolRows) %}
{% endfor %}

<h2 class="govuk-caption-m">Choose a pool of jurors to manage</h2>

{% if poolRows.length === 0 %}
  <p class="govuk-body">There are no pools available</p>
{% else %}
  {{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Pools",
  captionClasses: "govuk-visually-hidden",
  head: [
    {
      text: "Pool number",
      attributes: {
        "aria-sort": "none",
        "aria-label": "Pool number"
      }
    },
    {
      text: "Jurors on trial",
      attributes: {
        "aria-sort": "none",
        "aria-label": "Jurors on trial"
      }
    },
    {
      text: "Jurors in attendance",
      attributes: {
        "aria-sort": "none",
        "aria-label": "Jurors in attendance"
      }
    },
    {
      text: "Jurors on call",
      attributes: {
        "aria-sort": "none",
        "aria-label": "Jurors on call"
      }
    },
    {
      text: "Pool type",
      attributes: {
        "aria-sort": "none",
        "aria-label": "Pool type"
      }
    },
    {
      text: "Service start date",
      attributes: {
        "aria-sort": "ascending",
        "aria-label": "Service start date"
      }
    }
  ],
  rows: poolRows
}) }}
{% endif %}