{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% set approveAnchorHTML %}
  <span id="approveAnchor">Approve jurors{% if jurorApprovalCount > 0 %} <span id="jurorApprovalCount" class="moj-notification-badge jd-badge-blue">{{ jurorApprovalCount }}</span>{% endif %}</span>
{% endset %}

{% set sjoRoutes = [
    "approveAnchor",
    "unpaidAttencanceAnchor"
  ]
%}
{% set managerRoutes = [
    "jurorsAnchor",
    "attendanceAnchor",
    "unpaidAttencanceAnchor",
    "approveExpensesAnchor"
  ]
%}
{% set regularRoutes = [
    "jurorsAnchor",
    "attendanceAnchor",
    "unpaidAttencanceAnchor"
  ]
%}

{% set allNavBarElements = 
  [
    {
      html: approveAnchorHTML,
      href: url("juror-management.manage-jurors.approve.get"),
      active: nav === "approve",
      attributes: {
        id: "approveAnchor"
      }
    },
    {
      text: "Manage jurors",
      href: url("juror-management.manage-jurors.pools.get"),
      active: nav === "jurors",
      attributes: {
        id: "jurorsAnchor"
      }
    },
    {
      text: "Record attendance",
      href: url("juror-management.attendance.get"),
      active: nav === "attendance",
      attributes: {
        id: "attendanceAnchor"
      }
    },
    {
      text: "Unpaid attendance",
      href: url("juror-management.unpaid-attendance.get"),
      active: nav === "unpaid-attendance",
      attributes: {
        id: "unpaidAttencanceAnchor"
      }
    },
    {
      text: "Approve expenses",
      href: url("juror-management.approve-expenses.get"),
      active: nav === "approve-expenses",
      attributes: {
        id: "approveExpensesAnchor"
      }
    }
  ]
%}

{% set navBarElements = [] %}
{% for item in allNavBarElements %}
  {% if isSJO %}
    {% if sjoRoutes.includes(item.attributes.id) and not navBarElements.includes(item) %}
      {% set navBarElements = (navBarElements.push(item), navBarElements) %}
    {% endif %}
  {% endif %}
  {% if isManager %}
    {% if managerRoutes.includes(item.attributes.id) and not navBarElements.includes(item) %}
      {% set navBarElements = (navBarElements.push(item), navBarElements) %}
    {% endif %}
  {% endif %}
  {% if not isManager and not isSJO and not navBarElements.includes(item) %}
    {% if regularRoutes.includes(item.attributes.id) %}
      {% set navBarElements = (navBarElements.push(item), navBarElements) %}
    {% endif %}
  {% endif %}
{% endfor  %}

{{ mojPrimaryNavigation({
  label: "Juror management navigation",
  attributes: {
    id: "jurorManagementNav"
  },
  items: navBarElements
}) }}