{% if currentApp %}
  <div class="current-app__with-name{{ '__turquoise' if currentApp === 'System administration' }}">
    <div class="current-app__container">
      <span class="govuk-heading-s current-app__container-title">{{currentApp}}</span>
    </div>
  </div>
{% endif %}