{% if authentication.passwordWarning %}

{% from "moj/components/banner/macro.njk" import mojBanner %}

  {#
  <div class="phase-banner-alpha" id="passwordWarning">
    <p>
      <strong class="warning-tag">WARNING</strong>
      <span>Your password will expire in <span id="days">{{ authentication.daysToExpire }}</span> days. Please use the facility in the Juror application to specify a new one.</span>
    </p>
  </div>
  #}

  {% set warningHTML %}
    <span id="passwordWarning">Your password will expire in <span id="days">{{ authentication.daysToExpire }}</span> days. Please use the facility in the Juror application to specify a new one.</span>
  {% endset %}

  {{ mojBanner({
    type: 'information',
    html: warningHTML,
    iconFallbackText: 'information',
    id: 'passwordWarning'
  }) }}
{% endif %}
