<script src="{{ assetPath }}js/jquery.min.js"></script>

<!-- Bureau page scripts -->
<script src="{{ assetPath }}js/bundle.js"></script>

{% if authentication %}
  <script src="{{ assetPath }}js/multiple-tabs.js"></script>
{% endif %}

<!--  Init GDS and MOJ toolkits -->
<script src="{{ assetPath }}js/govuk/govuk-frontend.min.js" type="module"></script>
<script src="{{ assetPath }}js/moj/all.js"></script>

<script nonce="{{ nonce }}" type="module">
  import { initAll } from '{{ assetPath }}js/govuk/govuk-frontend.min.js'
  initAll()
</script>

<script nonce="{{ nonce }}">
  $(document).ready(function () {
    window.MOJFrontend.initAll();
  });
</script>


