<script src="{{ assetPath }}js/jquery.min.js"></script>

<!-- Bureau page scripts -->
<script src="{{ assetPath }}js/bundle.js"></script>
<script src="{{ assetPath }}js/multiple-tabs.js"></script>

{% if authentication %}
  <script src="{{ assetPath }}js/multiple-tabs.js"></script>
{% endif %}

<!--  Init GDS and MOJ toolkits -->
<script src="{{ assetPath }}js/govuk/all.js"></script>
<script src="{{ assetPath }}js/moj/all.js"></script>

<script nonce="{{ nonce }}">
  $(document).ready(function () {
    window.GOVUKFrontend.initAll();
    window.MOJFrontend.initAll();
  });
</script>
  
<!-- scripts to run after GDS/MOJ inits only on reply details page -->

{% if displayProcessButtonMenu %}
  <script nonce="{{ nonce }}">
    // button menu in reply details page header
    new MOJFrontend.ButtonMenu({
      container: $('#moj-process-button-menu'),
      mq: '(min-width: 200em)',
      buttonText: 'Process reply',
      buttonClasses: 'moj-button-menu__wrapper--right',
    });
  </script>
{% endif %}

{% if displayActionsButtonMenu %}
  <script nonce="{{ nonce }}">
    // button menu in reply details page header
    new MOJFrontend.ButtonMenu({
      container: $('#moj-actions-button-menu'),
      mq: '(min-width: 200em)',
      buttonText: 'More actions',
      buttonClasses: 'govuk-button--secondary moj-button-menu__toggle-button--secondary',
    });
  </script>
{% endif %}

{% if displayPoolManagementActionsButtonMenu %}
  <script nonce="{{ nonce }}">
    // button menu for the pool-management page
    new MOJFrontend.ButtonMenu({
      container: $("#moj-pool-management-button-menu"),
      mq: "(min-width: 200em)",
      buttonText: "Create a pool",
      buttonClasses:
        "govuk-button--secondary moj-button-menu__toggle-button--secondary",
    });
  </script>
{% endif %}

